<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Feeds>
    <Url>http://pipes.yahoo.com/pipes/pipe.run?_id=8llM7pvk3RGFfPy4pgt1Yg&amp;_render=rss</Url>
    <LocalFile>communityblogs.xml</LocalFile>
  </Feeds>
  <Feeds>
    <Url>http://search.twitter.com/search.atom?q=%23umbraco</Url>
    <LocalFile>twitterumbracosearch.xml</LocalFile>
  </Feeds>
</Configuration>