@inherits Umbraco.Web.Macros.PartialViewMacroPage

<!-- Search start -->
<section id="search-all" class="search-all">

    <div class="search-all-form">
        <div class="search-fieldset">
            <input class="search-input" type="search" placeholder="Search..">
            <input class="search-submit" type="submit" value="&#xe085;">
        </div>
        <span class="search-all-close"></span>
    </div>

    <div class="search-all-results equalizer">
        <ul></ul>
    </div>

    @if (!Members.IsLoggedIn())
    {
        <div class="search-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <strong>The friendliest CMS community on the planet</strong>
                        <p>our.umbraco.org is the central hub for the friendly umbraco community. Search for documentation, get help and guidance from seasoned experts, download and collaborate on plugins and extensions.</p>
                    </div>
                </div>
            </div>
        </div>
    }
    
    <!-- TEMP uWestFest banner - PVS  -->
    <div style="text-align: center">
        <a href="http://uwestfest.com">
            <img src="/media/7514487/uwestfest2016-banner.jpg" alt="uWestFest2016" />
        </a>
    </div>
    <br />
    <!-- end TEMP uWestFest banner - PVS  -->
    
</section>
<!-- Search end -->

@if (Members.IsLoggedIn())
{
    @Html.Partial("home/forumactivity")
    @Html.Partial("home/documentation")
}
else
{
    @Html.Partial("home/documentation")
    @Html.Partial("home/forumactivity")
}
