@inherits Umbraco.Web.Macros.PartialViewMacroPage

<!-- Search start -->
<section id="search-all" class="search-all">

    <div class="search-all-form">
        <div class="search-fieldset">
            <input class="search-input" type="search" placeholder="Search..">
            <input class="search-submit" type="submit" value="&#xe085;">
        </div>
        <span class="search-all-close"></span>
    </div>

    <div class="search-all-results equalizer">
        <ul></ul>
    </div>

    @if (!Members.IsLoggedIn())
    {
        <div class="search-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <strong>The friendliest CMS community on the planet</strong>
                        <p>our.umbraco.org is the central hub for the friendly umbraco community. Search for documentation, get help and guidance from seasoned experts, download and collaborate on plugins and extensions.</p>
                    </div>
                </div>
            </div>
        </div>
    }
 
</section>
<!-- Search end -->
@if (Members.IsLoggedIn())
{
    <section class="forum">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Forum Activity</h1>
                    <p>
                        Recent activity in the forums, where people are helping each other with current problems.
                    </p>
                </div>
                <div class="col-md-12">
                    <small>Recent posts</small>
                </div>
                @Umbraco.RenderMacro("ForumLatestActivity")

                <div class="col-md-12 goto-forum">
                    <a class="button green" href="/forum">Go to Forum &rarr;</a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="docs">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="beginners">
                        <a href="/documentation/Getting-Started/"><img src="/documentation/images/icon-getting-started.png" alt=""></a>
                        <h2>Getting started</h2>
                        <p>All the basics of using Umbraco v7. <br>From your first local installation, to a fully functional customized CMS.</p>
                        <a class="button transparent" href="/documentation/Getting-Started/">How to get started &rarr;</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="advanced">
                        <a href="/documentation/Implementation/"><img src="/documentation/images/icon-implementation.png" alt=""></a>
                        <h2>Implementation</h2>
                        <p>Get an overview of how the Umbraco pipeline is structured. <br>Not sure what to search for? Get a birdseye view of what happens from user request to content delivery.</p>
                        <a class="button transparent" href="/documentation/Implementation/">Go to implementation &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
<section class="docs">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="beginners">
                    <a href="/documentation/Getting-Started/"><img src="/documentation/images/icon-getting-started.png" alt=""></a>
                    <h2>Getting started</h2>
                    <p>All the basics of using Umbraco v7. <br>From your first local installation, to a fully functional customized CMS.</p>

                    <a class="button transparent" href="/documentation/Getting-Started/">How to get started &rarr;</a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="advanced">
                    <a href="/documentation/Implementation/"><img src="/documentation/images/icon-implementation.png" alt=""></a>
                    <h2>Implementation</h2>
                    <p>Get an overview of how the Umbraco pipeline is structured. <br>Not sure what to search for? Get a birdseye view of what happens from user request to content delivery.</p>

                    <a class="button transparent" href="/documentation/Implementation/">Go to implementation &rarr;</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="forum">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h1 class="text-center">Forum Activity</h1>
                <p>
                    Recent activity in the forums, where people are helping each other with current problems.
                </p>
            </div>
            <div class="col-md-12">
                <small>Recent posts</small>
            </div>

            @Umbraco.RenderMacro("ForumLatestActivity")


            <div class="col-md-12 goto-forum">
                <a class="button green" href="/forum">Go to Forum &rarr;</a>
            </div>

        </div>
    </div>
</section>
    
}

