@inherits Umbraco.Web.Macros.PartialViewMacroPage

<!-- Search start -->
<section id="search-all" class="search-all">

    <div class="search-all-form">
        <div class="search-fieldset">
            <input class="search-input" type="search" placeholder="Search..">
            <input class="search-submit" type="submit" value="&#xe085;">
        </div>
        <span class="search-all-close"></span>
    </div>

    <div class="search-all-results equalizer">
        <ul></ul>
    </div>

    @if (!Members.IsLoggedIn())
    {
        <div class="search-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <strong>The friendliest CMS community on the planet</strong>
                        <p>our.umbraco.org is the central hub for the friendly umbraco community. Search for documentation, get help and guidance from seasoned experts, download and collaborate on plugins and extensions.</p>
                    </div>
                </div>
            </div>
        </div>
    }

    
    
</section>
<!-- Search end -->

<style>
    .bannertext p{
        line-height: 1.4rem;
    }
</style>

<div class="alertbar__yellow bannertext">
    <h2>Umbraco HQ is hiring!</h2>
    <p>Are you the next one to join our fantastictic team?</p>
    <p>We're looking for a webdeveloper who is passionate about helping people out.</p>
    <p>Read more about the position <a href="http://www.hhminternational.com/default.asp?Site=Info&page=286&title">here.</a></p>
</div>

@if (Members.IsLoggedIn())
{
    @Html.Partial("home/forumactivity")
    @Html.Partial("home/documentation")
}
else
{
    @Html.Partial("home/documentation")
    @Html.Partial("home/forumactivity")
}
