<div class="communityStatsDashboard" ng-controller="communityStatsController as vm">
    <h3>Members</h3>
    <button type="button" ng-click="getOurMemberStatistics()">
        Get member statistics data
    </button>

    <div ng-if="vm.ourMemberStats">
        <p>Total number of members (non-spam): {{vm.ourMemberStats.TotalNonSpamMembers}}</p>
        <p>Total number of members (non-spam with at least 1 login): {{vm.ourMemberStats.TotalNonSpamMembersWithLogin}}</p>
        <p>Total number of blocked members: {{vm.ourMemberStats.TotalBlockedMembers}}</p>
        <p>Total number of active members (earned karma at least once): {{vm.ourMemberStats.TotalMembersEarningKarma}}</p>
        <p>Total number of members: {{vm.ourMemberStats.TotalMembers}}</p>
    </div>
    <br />
    
    <hr/>

    <h3>Forum</h3>
    <div>
        <p>This will download a CSV with "MemberId","CurrentKarma" as the columns. <br />
            This is a list of each unique member who's started a topic or added a comment (depending which button you press below) in the time period specified. <br />
            The "CurrentKarma" column shows the amount of the karma they have in total at the time you press the buttons below.</p>
        
        Start date: <input type="text" name="forumStatsStartDate" id="forumStatsStartDate" ng-model="vm.startDate" /><br/>
        End date: <input type="text" name="forumStatsEndDate" id="forumStatsEndDate" ng-model="vm.endDate" /><br/>
        <button type="button" ng-click="getOurForumTopicStatistics(vm.startDate, vm.endDate)">
            Get topic statistics data
        </button>
        <button type="button" ng-click="getOurForumCommentStatistics(vm.startDate, vm.endDate)">
            Get comment statistics data
        </button>
        <br />
        <br />

        <div ng-if="vm.ourForumStats === 'null'">
            <p>⚠ The dates could not be parsed</p>
        </div>
        
    </div>
    
    <h3>Contributors</h3>
    <div>
        <p>Number of unique contributors in the given period</p>
        
        Start date: <input type="text" name="prStatsStartDate" id="prStatsStartDate" ng-model="vm.startDate" /><br/>
        End date: <input type="text" name="prStatsEndDate" id="prStatsEndDate" ng-model="vm.endDate" /><br/>
        <button type="button" ng-click="getContributorStatistics(vm.startDate, vm.endDate)">
            Get contributor statistics data
        </button>
        <br />

        <div ng-if="vm.prStats.length !== 0">
            <p>Unique contributors in this period: {{vm.prStats.length}}</p>
        </div>
        
    </div>    
    
    <h3>Packages</h3>
    <div>
        <p>Number of created and updated packages in the given period</p>
        
        Start date: <input type="text" name="packageStatsStartDate" id="packageStatsStartDate" ng-model="vm.startDate" /><br/>
        End date: <input type="text" name="packageStatsEndDate" id="packageStatsEndDate" ng-model="vm.endDate" /><br/>
        <button type="button" ng-click="getPackageStatistics(vm.startDate, vm.endDate)">
            Get package statistics data
        </button>
        <br />

        <div ng-if="vm.packageStats.length !== 0">
            <p>People who created/updated new packages in this period: {{vm.packageStats.CreatorNames.length}}</p>
            <p>Contributors to packages created/updated in this period (does not include the creators above): {{vm.packageStats.ContributorNames.length}}</p>
        </div>
        
    </div>
</div>

<style>
    table, th, td, tr {
        border: 1px solid black;
    }

    .umb-load-indicator {
        display: inline-block;
        left: 43px;
        margin-top: 24px;
    }

    .labels span:last-child .list-comma {
        display: none;
    }
</style>
