<?xml version="1.0" encoding="utf-8"?>
<security>
    <services>
        <service name="LocalFileImageService" type="ImageProcessor.Web.Services.LocalFileImageService, ImageProcessor.Web">
        </service>
            <service prefix="remote.axd" name="RemoteImageService" type="ImageProcessor.Web.Services.RemoteImageService, ImageProcessor.Web">
            <settings>
                <setting key="MaxBytes" value="4194304" />
                <setting key="Timeout" value="3000" />
                <setting key="Protocol" value="http" />
                <setting key="Useragent" value="Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36" />
            </settings>
                <whitelist>
                    <add url="https://avatars0.githubusercontent.com" />
                    <add url="https://avatars1.githubusercontent.com" />
                    <add url="https://avatars2.githubusercontent.com" />
                    <add url="https://avatars3.githubusercontent.com" />
                    <add url="https://avatars4.githubusercontent.com" />
                    <add url="https://avatars5.githubusercontent.com" />
                    <add url="https://avatars6.githubusercontent.com" />
                    <add url="https://avatars7.githubusercontent.com" />
                    <add url="https://secure.meetupstatic.com" />
                </whitelist>
        </service>
    </services>
</security>