dependencies/Marketplace*
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
[Bb]in
[Db]ebug*/
obj/
[Bb]in/[Rr]elease*/
_ReSharper*/
*.ncrunchsolution
*.ncrunchsolution.user
*.ncrunchproject
*.crunchsolution.cache
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.suo
[sS]ource
[sS]andbox

umbraco.config
*.vs10x
*OurUmbraco.Site/web.config
*OurUmbraco.Site/App_Data/TEMP*/
*OurUmbraco.Site/App_Data/ClientDependency*/
*OurUmbraco.Site/App_Data/Logs*/
*OurUmbraco.Site/App_Data/Preview*/
*OurUmbraco.Site/install*/
*OurUmbraco.Site/media/
!OurUmbraco.Site/images/releases*/

_BuildOutput/*
*.ncrunchsolution
build/*.nupkg
*.orig
*.[Dd]ot[Ss]ettings
*.js.map

/packages/*
!packages/repositories.config
OurUmbraco.Site/App_Data/YouTrack/all.json
OurUmbraco.Site/App_Data/communityblogs.xml
OurUmbraco.Site/App_Data/Meetup/searchresults.json
OurUmbraco.Site/[Dd]ocumentation/
OurUmbraco.Site_419
OurUmbraco.Site/App_Data/cache/
*.sln.ide/
NuGetBackup
OurUmbraco.Site/web.config
OurUmbraco.Site/usercontrols/Deli/
*.DS_Store
OurUmbraco.Site/App_Data/mail/
OurUmbraco.Client/build/assets/
OurUmbraco.Client/node_modules/
npm-debug.log
OurUmbraco.Site/[Ww]eb.config
OurUmbraco.Site/[Aa]ssets/css/style.min.css
OurUmbraco.Site/[Aa]ssets/js/app.min.js
.vs/
OurUmbraco.Site/App_Data/migrations/*.txt
OurUmbraco.Site/apidocs/
OurUmbraco.Site/App_Data/Documentation/
OurUmbraco.Site/App_Data/NotificationTest/
build/tools/node*
wwwcache/
build/toolsnode.js.*/
/.idea/*
