dependencies/Marketplace*
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
[Bb]in
[Db]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
*.ncrunchsolution
*.ncrunchsolution.user
*.ncrunchproject
*.crunchsolution.cache
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.suo
[sS]ource
[sS]andbox

umbraco.config
*.vs10x
*OurUmbraco.Site/web.config
*OurUmbraco.Site/App_Data/TEMP*/
*OurUmbraco.Site/App_Data/ClientDependency*/
*OurUmbraco.Site/App_Data/Logs*/
*OurUmbraco.Site/App_Data/Preview*/
*OurUmbraco.Site/install*/
*OurUmbraco.Site/media/
!OurUmbraco.Site/images/releases*/

_BuildOutput/*
*.ncrunchsolution
build/*.nupkg
*.orig
*.[Dd]ot[Ss]ettings
*.js.map

/packages/*
!packages/repositories.config
OurUmbraco.Site/App_Data/YouTrack/all.json
OurUmbraco.Site/App_Data/communityblogs.xml
OurUmbraco.Site/App_Data/Meetup/searchresults.json
OurUmbraco.Site/[Dd]ocumentation/
OurUmbraco.Site_419
