body.download {
	header {
		.navigation {
			background: $color-our;
		}

		&.sticky {
			.navigation {
				background: rgba($color-our, 1);
			}
		}
	}
}


.download-umbraco {

	position: relative;
	min-height: 80vh;

	.large-margin-bottom {
		margin-bottom:40px;
	}

	.small-margin-bottom {
		margin-bottom:25px;
	}

	.col-padding {
		padding-left:50px;
		padding-right:50px;
	}

	h2 {
		font-size: 28.8px;
		font-weight:bold;
		margin-bottom: 2rem;
	}

	.download-link {
		font-weight: bold;
		color: #000000;
		text-decoration: underline;
	}

	.signup{
		display: flex;

		.email {
			font-size: .95rem;
			color: #7F9499;
			border: 2px solid rgba(127,148,153,.33);
			transition: border 150ms ease;
			padding: 10px;
			outline: 0;
			display: inline-block;
			flex:1;
			margin-right:10px;

			&:hover{
				border: 2px solid rgba(127,148,153,.66);
			}
		}

		.button {
			flex: 0;
			border-radius: 3px;
			overflow:visible;
			padding-left:15px;
			padding-right:15px;
		}
	}

	p {
		margin: 0 auto 1.5rem;
		font-size: 16px;
		line-height: 1.6em;
		color: $color-text;

		&.download-teaser {
			font-size: 18px;
			line-height: 1.6em;
			margin-bottom: 40px;
		}

		a {
			text-decoration: underline;
			color: #000000;
		}
	}

	.pre {
		overflow: auto;
		display: inline-flex;
		font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
		background-color: #333;
		color: #fff;
		font-size: 0.8rem;
		line-height: 1.4em;
		background-clip: padding-box;
		padding: 8px 25px;
		border-radius: 3px;
		height: 42px;
		align-items: center;

		span {
			user-select: none;
			margin-right:10px;
		}
	}

	.requirements {
		background: rgba($color-blue,.23);
		border: 2px solid rgba($color-blue, .66);
		padding: 8px;
	
		ul {
			margin-top:10px;
			list-style:none;
		}

		li {
			font-size: 13px;
			margin-bottom: 7px;
		}
		
		
	}


	.video {
		position: relative;
		cursor: pointer;

		.video-overlay {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background: #ffffff;
			opacity: 0.8;
			transition: opacity 0.2s ease-in-out;
		}

		&:hover .video-overlay {
			opacity: 0.7;
		}

		img {
			border-radius: 3px;
			max-width: 100%;
		}

		.play {
			height: 75px;
			width: 75px;
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			background: rgba(0,0,0,.3);
			border-radius: 50%;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			z-index: 1;

			svg {
				height: 40px;
				width: 28px;
				fill: #ffffff;
				margin-left: 5px;
			}
		}
	}

	.archive {
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translate(-50%, 0);

		a:hover {
			text-decoration: none;
			opacity: 1;
		}
	}
}

.download-umbraco--install {
	background: $color-our;
}

.historical-releases {
	.content {
		min-height: 40vh;
		margin-top: 100px;
		padding-left: 30px;
	}

	.title-level {
		margin-bottom: 15px;
		font-weight: bold;
		font-size: 1.3rem;
	}

	ul {
		li {
			list-style: none;
		}

		a {
			color: $color-text;
			font-size: 1rem;
			margin-top: 10px;
			margin-bottom: 5px;

			&:hover {
				color: $color-text-hover;
			}
		}
	}

	.versions {
		border-left: 1px solid darken(whitesmoke, 6%);

		// > li:hover {
		// 	span {
		// 		background: $color-our;
		// 	}
		// }
	}

	.version {
		width: 100%;
		position: relative;
		padding: 15px 20px 20px;
		margin-bottom: 30px;
		max-width: 640px;

		ul {
			padding-left: 60px;
			overflow: hidden;
		}

		li {
			list-style: none;
			display: block;
			float: left;
		}

		span {
			font-size: 1.7rem;
			font-weight: bold;
			background: #fff;
			color: #222222;
			border: 1px solid rgba(#222222, .3);
			border-radius: 50%;
			height: 60px;
			width: 60px;
			line-height: 60px;
			display: block;
			text-align: center;
			position: absolute;
			left: 0;
			top: 0;
			transform: translate(-50%, 0px);
			@include transition(background, .1s);
		}
	}

	.downloadable {

		width: 25%;

		a {
			font-size: 1rem;
			text-decoration: none;
			padding: 10px 12px;
			background-color: $color-green;
			color: #fff !important;
			font-weight: bold;
			border-radius: 3px;
			display: block;
			margin-right: 20px;
			margin-bottom: 20px;
			margin-top: 0;
			min-width: 60px;
			text-align: center;
			transition: all .2s ease;


			&:hover {
				background: lighten($color-green, 5%);
				color: #fff !important;
				@include box_shadow(1);
			}
		}
	}
}

.mac-notice {
	text-align: center;
	background: rgba(#000, .13);
	padding: 15px 0;
	font-size: 1.1rem;
	position: relative;
	z-index: 999;
	display: none;

	&:before {
		content:"";
		display: inline-block;
		height: 24px;
		width: 24px;
		margin-right: 8px;
		background: url('../images/osx.png');
		background-repeat: no-repeat;
		background-size: 24px 24px;
		background-position: left -3px;
		vertical-align: middle;
	}

	a {
		&:hover {
			text-decoration: none;
		}
	}
}

.steps {
	text-align: left;
	margin: 70px auto 0;

	@media (min-width: $md) {
		min-width: 960px;
	}

	h2 {
		font-size:1.9rem;
		margin-bottom: 60px;
		font-weight: bold;
		text-align: center;
		color: #ffffff;
	}

	.guide {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	img {
		display: block;
		margin: 0 auto;
		width: 60%;
		height: auto;
	}

	.step {
		font-size: 1.5rem;
		margin-bottom: 80px;
		position: relative;
		@extend .fadeInUp;
		color: #fff;

		display: inline-block;
		width: 30%;

		span {
			display: block;
			text-align: center;
			border: 2px dashed rgba(#000, .23);
			color: rgba(#000, .23);
			border-radius: 50%;
			height: 50px;
			width: 50px;
			margin: 0 auto 20px;
			font-size: 1.7rem;
			font-weight: bold;
			line-height: 45px;
		}

		&.step-one {
			 animation-delay: .1s;
		}

		&.step-two {
			 animation-delay: .4s;
		}

		&.step-three {
			 animation-delay: .7s;
		}

	}
}

.archive i {
	font-size: 1.3rem;
	padding-top: 2px;
}

body.mac {
	.mac-notice	{
		display: block;
	}
}