.forum-overview {

	.forum {
		display: flex;
		flex: 0 0 100%;
		flex-wrap: wrap;

		background: none;
		padding: 0;


		@media (min-width: $md) {
			padding: 0 15px;
		}


		&-head, &-content, &-settings {
			display: flex;
			flex: 0 0 100%;
		}


		&-settings {
			flex-direction: row;
			flex-wrap: wrap;

			align-items: center;

			padding: 0 10px;

			.search-big {
				flex: 0 0 100%;

				@media (min-width: $md) {
					flex: 0 0 70%;
				}
			}

			.or {
				flex: 0 0 5%;

				color: darken($color-space, 25%);
				font-size: 1.1rem;
				text-align: center;

				@media (max-width: $md) {
					display: none;
				}
			}

			.sorting {
				flex: 0 0 100%;

				@media (min-width: $md) {
					flex: 0 0 25%;
				}

				select {
					border: 2px solid rgba($color-space, .33);

					&:focus {
						color: darken($color-space, 25%);
						border-color: $color-green;
					}

					&:hover {
						border-color: rgba($color-space, .66);
					}
				}
			}

			select, input {
				font-size: .95rem;
				color: $color-space;

				border: 2px solid rgba($color-space, .33);

				transition: border 150ms ease;

				&:hover {
					border: 2px solid rgba($color-space, .66);
				}

				&:focus {
					color: darken($color-space, 25%);
					border-color: $color-green;
				}
			}
		}



		&-head {
			flex-direction: row;

			padding: 20px 15px;
			border-bottom: 1px solid whitesmoke;

			font-size: .8rem;
			text-transform: uppercase;
			font-weight: bold;

			letter-spacing: .5px;
		}



		&-content {
			flex-direction: column;

			.posts {

				display: flex;
				flex-direction: column;

				small {
					color: darken($color-space, 25%);
					font-size: 1rem;

					margin-bottom: .2rem;
				}

				span {
					font-size: .8rem;
					color: $color-space;
				}

			}

		}



		.topic-row {
			padding: 25px 15px;

			display: flex;
			flex-direction: row;
			align-items: center;

			border-bottom: 1px solid rgba($color-space, .11);


			.topic {
				font-size: .95rem;
				line-height: 1.3;

				a {
					text-decoration: none;
					display: block;

					color: #000;

					&:hover {
						h3 {
							text-decoration: underline;
						}
					}

					&:visited {
						color: darken($color-space, 15%);
					}
				}


				span {
					display: block;
					font-size: .75rem;
					color: $color-space;
					margin-top: 8px;

					strong {
						font-weight: normal;
						color: darken($color-space, 25%);
					}
				}


				@media (min-width: $md) {
					font-size: 1.15rem;
					line-height: 1.3;

					span {
						font-size: .9rem;
					}
				}
			}

			.category {
				line-height: 1.3;
			}

			&.solved {
				background: rgba($color-our, .23);
				border: 2px solid rgba($color-our, .66);
			}




			@media (min-width: $md) {
				padding: 35px 15px;

				&:hover {
					// background: rgba($color-space, .08);
				}

				&.solved {
					&:hover {
						// background: rgba($color-our, .30);
					}
				}
			}
		}



		.topic {
			flex: 0 0 50%;
			margin-right: 5%;

			@media (min-width: $md) {
				flex: 0 0 50%;
				margin-right: 10%;
			}
		}



		.category {
			flex: 0 0 30%;
			margin-right: 5%;

			@media (min-width: $md) {
				flex: 0 0 28%;
				margin-right: 2%;
			}
		}



		.posts {
			flex: 0 0 10%;
			text-align: center;

			@media (max-width: $md) {
				transform: translate(-6px, 0);
			}
		}
	}




	.sorting {
		display: flex;
		justify-content: flex-end;

		margin-left: auto;

		select {
			border-radius: 0;

			padding: 20px 20px 20px 10px;

			background-position: 95% center;

			&:focus, &:hover  {
				color: black;

				background-position: 95% center;
			}
		}
	}


	.pagination {
		margin: 60px 0;
		justify-content: center;

		a {
			margin-top: 0;
		}
	}


}




// Buttons in forum
.forum-page .button, .forum-page button.button {

	&.delete-thread,
	&.follow,
	&.create-new-thread,
	&.login,
	&.go-to-solution {
		padding: 5px 17px 9px 13px;
		min-width: 115px;
		width: auto;

		font-size: .9rem;

		@include transition(all, .2s);


		i {
			margin-right: 3px;
			font-size: 18px;
			transform: translate(0, 3px);
			display: inline-block;
			@include transition(opacity, .2s);
		}

		+ .button {
			margin-left: .5rem;

		}
	}


	&.transparent {
		@extend .transparent;

		.ink {
			background:rgba($color-green, .23);
		}
	}


	&.delete-thread {
		@extend .red;

		i {
			color: #fff;
		}

		.ink {
			background:rgba(#fff, 0.3);
		}
	}



	&.following {
		@extend .green;
	}

	&.create-new-thread,
	&.login {


		@extend .green;

		font-size: 1rem;
		font-weight: bold;


		i {
			color: #fff;
			transform: translate(0, 3px);
		}

		&.disabled {
			background: transparent;
			border: 1px solid #7f7f7f;
			color: #7f7f7f;

			i {
				color: #7f7f7f;
			}

			&:hover {
				color: #000;
				border-color: #000;

				i {
					color: #000;
					opacity: 1;
				}
			}
		}
	}
}


.forum-overview {
	background: #fff;
	max-width: 1160px;
	padding: 20px 0 0;
	margin: 0 auto;


	.scrolly-loading {
		margin: 2rem auto;
		text-align: center;
		display: block;
		position:relative;
		left:50%;

		.span {
			background-color: rgba(#504d3e, 0.5);
			transform: translate(-50%, 0);
		}
	}



	.sorting {
		width: 100%;
		text-align: center;


		select {
			font-family: $font-family;
			position: relative;
			overflow: hidden;

			-webkit-appearance:none;
			-moz-appearance: none;

			background: #fff url('/assets/images/selectdown_unfocus.svg');
			background-size: 11px 13px;
			background-repeat: no-repeat;
			background-position: 95% center;

			color: $color-space;

			width: 100%;

			@include transition(border, .3s);


			&:focus, &:hover {
				outline: none;
				cursor: pointer;
				background: #fff url('/assets/images/selectdown_our.svg');
				background-size: 11px 13px;
				background-repeat: no-repeat;
				background-position: 95% center;
			}

			option {
				margin: 0;
				display: block;
			}
		}
	}
}
