.wikipage-page {
	.markdown-syntax {
		a {
	        color: darken($color-our, 20%);
	        text-decoration: none;

	        &:hover {
	            color: darken($color-our, 40%);
	        }
	    }

	    
	    
	    h1, h2, h3, h4, h5, h6 {
	    
	        
	        a {
	            color: #000;
	            text-decoration: underline;

	            &:hover {
	                color: #000;
	                text-decoration: none;
	            }
	        }
	    }
	    

	    @media (min-width: $md) {
	        
	        pre {
	          margin: 20px 0;
	        }   
	    }
	}
}