<?xml version="1.0" encoding="utf-8"?>
<dashBoard>
  <!--
	<section>
	<areas>
		<area>default</area>
		<area>content</area>
	</areas>

	<tab caption="Last Edits">
		<control>/usercontrols/dashboard/latestEdits.ascx</control>
	</tab>
	<tab caption="Latest Items">
		<control>/usercontrols/dashboard/newestItems.ascx</control>
	</tab>
	<tab caption="Create blog post">
		<control>/usercontrols/umbracoBlog/dashboardBlogPostCreate.ascx</control>
	</tab>
</section>
-->
  <section>
    <areas>
      <area>default</area>
      <area>content</area>
    </areas>
    <tab caption="Forum Spam Cleaner">
      <control>/usercontrols/our.umbraco.org/ForumSpamCleaner.ascx</control>
    </tab>
  </section>
  <section id="deli">
    <areas>
      <area>deli</area>
    </areas>
    <tab caption="Latest Orders">
      <control>/umbraco/dashboard/deli/orderreview.ascx</control>
    </tab>
    <tab caption="Refunds">
      <control>/umbraco/dashboard/deli/processrefund.ascx</control>
    </tab>
    <tab caption="Payouts">
      <control>/umbraco/dashboard/deli/vendorpayoutreport.ascx</control>
    </tab>
  </section>
  <section id="member">
    <areas>
      <area>member</area>
    </areas>
    <!-- tab caption="Member Search">
      <control>/usercontrols/dashboard/memberSearch.ascx</control>
      <control>/usercontrols/dashboard/getMembersFromGroup.ascx</control>
    </tab -->
  </section>
  <!--<section>
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="Error Log">
      <control>/umbraco/plugins/Terabyte/Elmah/Elmah.ascx</control>
    </tab>
  </section>-->
  <section id="courier">
    <areas>
      <area>courier</area>
    </areas>
    <tab caption="Umbraco Courier">
      <control>/umbraco/plugins/courier/dashboard/CourierDashboard.ascx</control>
    </tab>
  </section>
  <section alias="ExamineDash">
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="Examine">
      <control>/usercontrols/IndexStatus.ascx</control>
    </tab>
  </section>

</dashBoard>