<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to create your own index sets.
Index/Search providers can be defined in the UmbracoSettings.config

More information and documentation can be found on CodePlex: http://umbracoexamine.codeplex.com
-->
<ExamineLuceneIndexSets>
    <!-- The internal index set used by Umbraco back-office - DO NOT REMOVE -->
    <IndexSet SetName="InternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/Internal/"/>

    <!-- The internal index set used by Umbraco back-office for indexing members - DO NOT REMOVE -->

    <IndexSet SetName="InternalMemberIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/InternalMember/">
        <IndexAttributeFields>
            <add Name="id" />
            <add Name="nodeName"/>
            <add Name="updateDate" />
            <add Name="writerName" />
            <add Name="loginName" />
            <add Name="email" />
            <add Name="nodeTypeAlias" />
        </IndexAttributeFields>

        <IndexUserFields/>
        <IncludeNodeTypes/>
        <ExcludeNodeTypes />
    </IndexSet>


    <!-- Forum Posts (Custom) -->
    <IndexSet SetName="ForumIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/forum/">
        <IndexAttributeFields/>
        <IndexUserFields>
            <add Name="nodeName" />
            <add Name="body" />
            <add Name="nodeTypeAlias" />
            <add Name="updateDate" EnableSorting="true" Type="DateTime"  />
            <add Name="urlName" />
            <add Name="createDate" EnableSorting="true" Type="DateTime"  />
            <add Name="comments" />
            <add Name="latestCommentId" />
            <add Name="latestReplyAuthorId" />
            <add Name="latestReplyAuthorName" />
            <add Name="authorId" />
            <add Name="authorName" />
            <add Name="parentId" />
            <add Name="parentName" />
            <add Name="replies" />
            <add Name="locked" />
            <add Name="solved" />
            <add Name="version" />
        </IndexUserFields>
        <IncludeNodeTypes/>
        <ExcludeNodeTypes />
    </IndexSet>

    <!-- Documentation (Custom) -->
    <IndexSet SetName="documentationIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/documentation/">
        <IndexUserFields>
            <add Name="body"/>
            <add Name="nodeName"/>
            <add Name="Path"/>
            <add Name="searchAblePath"/>
            <add Name="dateCreated" EnableSorting="true" Type="DateTime"/>
            <add Name="updateDate" EnableSorting="true" Type="DateTime"/>
            <add Name="url"/>
            <add Name="nodeTypeAlias" />
            <add Name="tags" />
            <add Name="keywords" />
            <add Name="versionFrom" />
            <add Name="versionTo" />
            <add Name="versionRemoved" />
            <add Name="majorVersion" />
            <add Name="assetID" />
            <add Name="product" />
            <add Name="topics" />
            <add Name="complexity" />
            <add Name="audience" />
            <add Name="meta.Title" />
            <add Name="meta.Description" />
            <add Name="needsV8Update" />
        </IndexUserFields>
    </IndexSet>

    <IndexSet SetName="projectIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/project/">
        <IndexUserFields>
            <add Name="body"/>
            <add Name="nodeName"/>
            <add Name="updateDate" EnableSorting="true" Type="DateTime"  />
            <add Name="createDate" EnableSorting="true" Type="DateTime"  />
            <add Name="url"/>
            <add Name="nodeTypeAlias" />
            <add Name="popularity" EnableSorting="true" Type="INT" />
            <add Name="karma" EnableSorting="true" Type="INT" />
            <add Name="downloads" EnableSorting="true" Type="INT" />
            <add Name="packageFiles" Type="INT" />
            <add Name="projectLive" />
            <add Name="approved"  />
            <add Name="image" />
            <add Name="versions" />
            <add Name="compatVersions" />
            <add Name="categoryFolder" />
            <add Name="uniqueId" />
            <add Name="worksOnUaaS" />
            <add Name="worksOnUaaS" />
            <add Name="minimumVersionStrict" />
            <add Name="isRetired" />
        </IndexUserFields>
    </IndexSet>

    <IndexSet SetName="PullRequestIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/pullrequest/">
        <IndexUserFields>
            <add Name="repository" />
            <add Name="state" />
            <add Name="title" />
            <add Name="number" />
            <add Name="createdAt" EnableSorting="true" Type="DateTime"  />
            <add Name="updatedAt" EnableSorting="true" Type="DateTime"  />
            <add Name="closedAt" EnableSorting="true" Type="DateTime"  />
            <add Name="mergedAt" EnableSorting="true" Type="DateTime"  />
            <add Name="userId" />
            <add Name="userLogin" />
            <add Name="memberId" />
        </IndexUserFields>
    </IndexSet>

</ExamineLuceneIndexSets>
