<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to add your own search/index providers.
Index sets can be defined in the ExamineIndex.config if you're using the standard provider model.

More information and documentation can be found on CodePlex: http://umbracoexamine.codeplex.com
-->
<Examine RebuildOnAppStart="false">
    <ExamineIndexProviders>
        <providers>
            <add name="InternalIndexer" type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"
                 autoOptimize="false"
                 supportUnpublished="true"
                 supportProtected="true"
                 analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

            <add name="InternalMemberIndexer" type="UmbracoExamine.UmbracoMemberIndexer, UmbracoExamine"
                 autoOptimize="false"
                 supportUnpublished="true"
                 supportProtected="true"
                 analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>

            <add name="ForumIndexer" type="Examine.LuceneEngine.Providers.SimpleDataIndexer, Examine"
                 autoOptimize="false"
                 dataService="OurUmbraco.Our.Examine.ForumDataService, OurUmbraco"
                 indexTypes="forum" />

            <add name="documentationIndexer" type="Examine.LuceneEngine.Providers.SimpleDataIndexer, Examine"
                 autoOptimize="false"
                 indexSet="documentationIndexSet"
                 dataService="OurUmbraco.Our.Examine.DocumentationIndexDataService, OurUmbraco"
                 analyzer="OurUmbraco.Our.CustomHandlers.DocumentationAnalyzer, OurUmbraco"
                 indexTypes="documentation"/>

            <add name="projectIndexer" type="Examine.LuceneEngine.Providers.SimpleDataIndexer, Examine"
                autoOptimize="false"
                indexSet="projectIndexSet"
                dataService="OurUmbraco.Our.Examine.ProjectNodeIndexDataService, OurUmbraco"
                analyzer="OurUmbraco.Our.Examine.ProjectAnalyzer, OurUmbraco"
                indexTypes="project"/>

            <add name="PullRequestIndexer" type="Examine.LuceneEngine.Providers.SimpleDataIndexer, Examine"
              autoOptimize="false"
              indexSet="PullRequestIndexSet"
              dataService="OurUmbraco.Our.Examine.PullRequestIndexDataService, OurUmbraco"
              analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"
              indexTypes="PullRequest"/>

        </providers>

    </ExamineIndexProviders>


    <ExamineSearchProviders defaultProvider="InternalSearcher">
        <providers>
            <add name="InternalSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
                 analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

            <add name="InternalMemberSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
                 analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" enableLeadingWildcards="true"/>

            <add name="ForumSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />

            <add name="projectSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
                 analyzer="OurUmbraco.Our.Examine.ProjectAnalyzer, OurUmbraco"/>

            <add name="documentationSearcher"
              type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine"
              indexSet="documentationIndexSet" analyzer="OurUmbraco.Our.CustomHandlers.DocumentationAnalyzer, OurUmbraco" />
         

            <add name="MultiIndexSearcher"
               type="Examine.LuceneEngine.Providers.MultiIndexSearcher, Examine"
               indexSets="ForumIndexSet,projectIndexSet,documentationIndexSet"
               enableLeadingWildcards="true" />

            <add name="PullRequestSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />

        </providers>
    </ExamineSearchProviders>

</Examine>
