<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to add your own search/index providers.
Index sets can be defined in the ExamineIndex.config if you're using the standard provider model.

More information and documentation can be found on CodePlex: http://umbracoexamine.codeplex.com
-->
<Examine>
  <ExamineIndexProviders>
    <providers>
      <add name="InternalIndexer" type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"
           supportUnpublished="true"
           supportProtected="true"
           interval="10"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <add name="InternalMemberIndexer" type="UmbracoExamine.UmbracoMemberIndexer, UmbracoExamine"
           supportUnpublished="true"
           supportProtected="true"
           interval="10"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>

      <add name="ForumIndexer" type="Examine.LuceneEngine.Providers.SimpleDataIndexer, Examine"
           interval="10"
           dataService="our.CustomDataService, our.umbraco.org"
           indexTypes="Documents" />


      <add name="documentationIndexer" type="Examine.LuceneEngine.Providers.SimpleDataIndexer, Examine"
           indexSet="documentationIndexSet"
           dataService="our.ExamineServices.FileIndexDataService, our.umbraco.org"
          analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"
           indexTypes="documentation"
           runAsync="true"/>
      
    

      <add name="WikiIndexer"
             type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"
             dataService="UmbracoExamine.DataServices.UmbracoDataService, UmbracoExamine"
             supportUnpublished="false"
             supportProtected="false"
             runAsync="true"
             interval="30"
             analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"
             enableDefaultEventHandler="true"/>

      <add name="ProjectIndexer"
             type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"
             dataService="UmbracoExamine.DataServices.UmbracoDataService, UmbracoExamine"
             supportUnpublished="false"
             supportProtected="false"
             runAsync="true"
             interval="30"
             analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"
             enableDefaultEventHandler="true"/>
    </providers>
  </ExamineIndexProviders>

  <ExamineSearchProviders defaultProvider="InternalSearcher">
    <providers>
      <add name="InternalSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>


      <add name="InternalMemberSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" enableLeadingWildcards="true"/>


      <add name="ForumSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />


      <add name="WikiSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <add name="ProjectSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <add name="documentationSearcher"
      type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine"
      indexSet="documentationIndexSet" analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" />
           
     <add name="MultiIndexSearcher"
      	type="Examine.LuceneEngine.Providers.MultiIndexSearcher, Examine"
      	indexSets="ForumIndexSet,WikiIndexSet,ProjectIndexSet,documentationIndexSet"/>    
       
    </providers>
  </ExamineSearchProviders>

</Examine>
