<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to add your own search/index providers.
Index sets can be defined in the ExamineIndex.config if you're using the standard provider model.

More information and documentation can be found on CodePlex: http://umbracoexamine.codeplex.com
-->
<Examine>
  <ExamineIndexProviders>
    <providers>
      <add name="InternalIndexer" type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"
           supportUnpublished="true"
           supportProtected="true"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <add name="InternalMemberIndexer" type="UmbracoExamine.UmbracoMemberIndexer, UmbracoExamine"
           supportUnpublished="true"
           supportProtected="true"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>

      <add name="ForumIndexer" type="Examine.LuceneEngine.Providers.SimpleDataIndexer, Examine"
           dataService="our.Examine.ForumDataService, our.umbraco.org"
           indexTypes="forum" /> 

      <add name="documentationIndexer" type="Examine.LuceneEngine.Providers.SimpleDataIndexer, Examine"
           indexSet="documentationIndexSet"
           dataService="our.Examine.DocumentationIndexDataService, our.umbraco.org"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"
           indexTypes="documentation"/>
 
      <add name="projectIndexer" type="Examine.LuceneEngine.Providers.SimpleDataIndexer, Examine"
          indexSet="projectIndexSet"
          dataService="our.Examine.ProjectNodeIndexDataService, our.umbraco.org"
          analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"
          indexTypes="project"/>
     
    </providers>  
    
  </ExamineIndexProviders>

  
  <ExamineSearchProviders defaultProvider="InternalSearcher">
    <providers>
      <add name="InternalSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <add name="InternalMemberSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" enableLeadingWildcards="true"/>

      <add name="ForumSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />

      <add name="projectSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <add name="documentationSearcher"
        type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine"
        indexSet="documentationIndexSet" analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" />

      <add name="MultiIndexSearcher"
         type="Examine.LuceneEngine.Providers.MultiIndexSearcher, Examine"
         indexSets="ForumIndexSet,projectIndexSet,documentationIndexSet"
         enableLeadingWildcards="true"
         />

    </providers>
  </ExamineSearchProviders>

</Examine>
