<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to create your own index sets.
Index/Search providers can be defined in the UmbracoSettings.config

More information and documentation can be found on CodePlex: http://umbracoexamine.codeplex.com
-->
<ExamineLuceneIndexSets>
    <!-- The internal index set used by Umbraco back-office - DO NOT REMOVE -->
    <IndexSet SetName="InternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/Internal/">
      <IndexAttributeFields>
        <add Name="id" />
        <add Name="nodeName" />
        <add Name="updateDate" />
        <add Name="writerName" />
        <add Name="path" />
        <add Name="nodeTypeAlias" />
        <add Name="parentID" />
      </IndexAttributeFields>
      <IndexUserFields />
      <IncludeNodeTypes/>
      <ExcludeNodeTypes />
    </IndexSet>
  
    <!-- The internal index set used by Umbraco back-office for indexing members - DO NOT REMOVE -->

    <IndexSet SetName="InternalMemberIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/InternalMember/">
        <IndexAttributeFields>
            <add Name="id" />
            <add Name="nodeName"/>
            <add Name="updateDate" />
            <add Name="writerName" />
            <add Name="loginName" />
            <add Name="email" />
            <add Name="nodeTypeAlias" />
        </IndexAttributeFields>
        <IndexUserFields/>
        <IncludeNodeTypes/>
        <ExcludeNodeTypes />
    </IndexSet>


    <!-- Forum Posts (Custom) -->
    <IndexSet SetName="ForumIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/ForumPosts/">
      <IndexAttributeFields/>
      <IndexUserFields>
        <add Name="Title" />
        <add Name="Body" />
        <add Name="Created" />
        <add Name="Exists" />
        <add Name="LatestComment" />
        <add Name="LatestReplyAuthor" />
        <add Name="Locked" />
        <add Name="MemberId" />
        <add Name="ParentId" />
        <add Name="Replies" />
        <add Name="Updated" />
        <add Name="UrlName" />
        <add Name="CommentsContent" />
      </IndexUserFields>
      <IncludeNodeTypes/>
      <ExcludeNodeTypes />
    </IndexSet>
	
   <!-- Documentation (Custom) -->
  <IndexSet SetName="documentationIndexSet"
           IndexPath="~/App_Data/TEMP/ExamineIndexes/documentation/">
    <IndexUserFields>
      <add Name="Body"/>
      <add Name="Title"/>
      <add Name="Path"/>
      <add Name="searchAblePath"/>
      <add Name="dateCreated"/>
      <add Name="dateCreatedSearchAble" EnableSorting="true"/>
      <add Name="url"/>
      <add Name="nodeTypeAlias" />
    </IndexUserFields>

  </IndexSet>

  <!-- Wiki -->
  <IndexSet SetName="WikiIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/Wiki/">
    <IndexAttributeFields>
      <add Name="id" EnableSorting="true" Type="Number" />
      <add Name="nodeName" EnableSorting="true" />
      <add Name="updateDate" EnableSorting="true" Type="DateTime" />
      <add Name="writerName" />
      <add Name="path" />
      <add Name="nodeTypeAlias" />
      <add Name="parentID" />
    </IndexAttributeFields>
    <IndexUserFields>
      <add Name="bodyText" />
      <add Name="author" />
      <add Name="author" />
      <add Name="summary" />
      <add Name="umbracoNoEdit" />
      <add Name="keywords" />
      <add Name="umbracoNaviHide" />
      <add Name="downloads" Type="Number"/>
      <add Name="karma" Type="Number"/>
    </IndexUserFields>
    <IncludeNodeTypes>
      <add Name="Wiki" />
      <add Name="WikiPage" />
    </IncludeNodeTypes>
    <ExcludeNodeTypes />
  </IndexSet>

  <!-- Projects -->
  <IndexSet SetName="ProjectIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/Project/">
    <IndexAttributeFields>
      <add Name="id" EnableSorting="true" Type="Number" />
      <add Name="nodeName" EnableSorting="true" />
      <add Name="updateDate" EnableSorting="true" Type="DateTime" />
      <add Name="path" />
      <add Name="nodeTypeAlias" />
      <add Name="parentID" />
    </IndexAttributeFields>
    <IndexUserFields>
      <add Name="description" />
      <add Name="defaultScreenshotPath" />
      <add Name="approved" />
      <add Name="projectLive" />
      <add Name="notAPackage" />
      <add Name="listingType" />
      <add Name="trustLevel" />
      <add Name="dotNetVersion" />
    </IndexUserFields>
    <IncludeNodeTypes>
      <add Name="Projects" />
      <add Name="ProjectGroup" />
      <add Name="Project" />
    </IncludeNodeTypes>
    <ExcludeNodeTypes />
  </IndexSet>


</ExamineLuceneIndexSets>