<ImageGenConfiguration>
	<!-- SAMPLE IMAGEGEN.CONFIG FILE -->
	<Registration>
		<Key domain="example.com">C90FE21F1447D822BB4D834BC46F7D89A1376272</Key>
		<Key domain="sample.com">55FD8FD97A199AB3082BC7DC11AE5F743B092C55</Key>
	</Registration>

	<Class Name="default" OverridesQueryString="true">
		<ImageBaseDir>/media</ImageBaseDir>
		<AllowUpsizing>false</AllowUpsizing>
		<MaxHeight>800</MaxHeight>
		<MaxWidth>800</MaxWidth>
		<OverlayImage>watermark.png</OverlayImage>
	</Class>
	<Class Name="Thumbnail" OverridesQueryString="true">
		<InheritFromClass>default</InheritFromClass>
		<Width>200</Width>
		<Height>200</Height>
		<Constrain>true</Constrain>
	</Class>
	<Class Folder="/screenshots" OverridesQueryString="true">
		<Height>100</Height>
		<Border>2</Border>
	</Class>
</ImageGenConfiguration>
