<ImageGenConfiguration>
	<Registration>
		<!-- ImageGen Professional is always available on localhost and *.local domains -->
		<Key domain="example.com">436DA8888A3BBC98662B23C6D1B635543E762854</Key>
		<Key domain="sample.com">55FD8FD97A199AB3082BC7DC11AE5F743B092C55</Key>
	</Registration>
	<HideDomains>false</HideDomains>
	<RemoteDomainWhiteList>
		<Domain>www.sample.com</Domain>
	</RemoteDomainWhiteList>

	<!-- FONT DEFINITIONS -->
	<Font Name="AvantGardeCE">
		<Filename Style="regular">/fonts/AGW_CE.ttf</Filename>
		<Filename Style="bold">/fonts/AGD_CE.ttf</Filename>
		<Filename Style="italic">/fonts/LTe52012.ttf</Filename>
		<Filename Style="bold, italic">/fonts/LTe52014.ttf</Filename>
	</Font>

	<!-- NAMED CLASSES, INCULDING THE SPECIAL 'DEFAULT' CLASS -->
	<Class Name="default" OverridesQueryString="true">
		<AllowUpsizing>false</AllowUpsizing>
		<MaxHeight>800</MaxHeight>
		<MaxWidth>800</MaxWidth>
	</Class>
	<Class Name="Thumbnail" OverridesQueryString="true">
		<InheritFromClass>default</InheritFromClass>
		<Width>200</Width>
		<Height>200</Height>
		<CachingTimeSpan>3600</CachingTimeSpan>
	</Class>
	<Class Name="CorporateFont" OverridesQueryString="true">
		<Font>AvantGardeCE</Font>
		<FontColor>000000</FontColor>
	</Class>
	<Class Name="LargeHeading" OverridesQueryString="true">
		<InheritFromClass>CorporateFont</InheritFromClass>
		<FontSize>53</FontSize>
		<FontColor>c6ff00</FontColor>
		<BgColor>76c11a</BgColor>
		<BoldOffset>1</BoldOffset>
	</Class>

	<!-- FOLDER CLASSES -->
	<Class Folder="/myproducts" OverridesQueryString="true">
		<Height>100</Height>
	</Class>
	<Class Folder="[test|demo]folder" OverridesQueryString="true">
		<Border>10</Border>
		<Bordercolor>red</Bordercolor>
	</Class>
</ImageGenConfiguration>
