<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- these global settings will be passed together with the notification specific settings -->
  <global>
    <domain>our.umbraco.com</domain>
    <from>
      <name>Our Umbraco</name>
      <email>robot@umbraco.org</email>
    </from>
  </global>
  
  <sheduled>
  </sheduled>

  <instant>

    <notification name="NewTopic"
                  assembly="OurUmbraco"
                  type="OurUmbraco.NotificationsCore.NotificationTypes.NewForumTopic">
      <subject>Umbraco community: New topic in '{0}' forum</subject>
      <body>{2} just added a new topic to the '{0}' forum.

--------------------------------------------------

{3}

{4}

--------------------------------------------------

You can view the new topic here: 
{1}
      
   
Thank You from the Umbraco Community!
--------------------------------------------------
You get this notification because you are subscribed to the '{0}' forum notifications. 
You can unsubscribe from your profile on our.umbraco.com
      </body>
    </notification>

    <notification name="NewComment" 
                  assembly="OurUmbraco" 
                  type="OurUmbraco.NotificationsCore.NotificationTypes.NewForumTopicComment">
      <subject>Umbraco community: New comment in topic '{0}'</subject>
      <body>{2} just added a new comment to the '{0}' topic.

--------------------------------------------------

{3}

--------------------------------------------------

You can view the new comment here: 
{1} 


Thank You from the Umbraco Community!
--------------------------------------------------
You get this notification because you are subscribed to the '{0}' topic notifications.
You can unsubscribe from your profile on our.umbraco.com
      </body>
    </notification>
    
    <notification name="AccountApproved">
      <subject>Umbraco community: Account approved</subject>
      <body>Hi there! 
      
You recently posted on the our.umbraco.com forum for the first time. 
This triggered a manual check to make sure you weren't posting any spam.

Good news: one of our moderators has just approved your account and your future posts will no longer be marked for manual approval.

We're sorry for the inconvenience; We're dealing with a spam problem that cannot be fought with automated systems. Therefore, we approve each account that has a low number of posts manually.

Thank You from the Umbraco Community!
--------------------------------------------------
You get this notification because you posted to our forum.
You can unsubscribe from your profile on our.umbraco.com
      </body>
    </notification>
    
    <notification name="MarkAsSolutionReminderSingle"

              assembly="NotificationsCore"

              type="NotificationsCore.NotificationTypes.MarkAsSolutionReminderSingle">

      <subject>Umbraco community: Solution Reminder</subject>

      <body>
We noticed that the topic ‘{0}’  you created in the Umbraco Community Forum does not have a post marked as a solution.

If one of the replies helped answer your question or resolve your issue please mark it as a solution so others can quickly find it.
You can view the topic and replies here: {1}

Thank You from the Umbraco Community!
--------------------------------------------------
You get this notification because you posted to our forum.
You can unsubscribe from your profile on our.umbraco.com
      </body>

    </notification>
  </instant>
  
</configuration>