<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- these global settings will be passed together with the notification specific settings -->
  <global>
    <domain>our.umbraco.org</domain>
    <from>
      <name>Our Umbraco</name>
      <email>robot@umbraco.org</email>
    </from>
  </global>
  
  <sheduled>
  </sheduled>

  <instant>

    <notification name="NewTopic"
                  assembly="NotificationsCore"
                  type="NotificationsCore.NotificationTypes.NewForumTopic">
      <subject>Umbraco community: New topic in '{0}' forum</subject>
      <body>{2} just added a new topic to the '{0}' forum.

--------------------------------------------------

{3}

{4}

--------------------------------------------------

You can view the new topic here: 
{1}
      
   
Thank You from the Umbraco Community!
--------------------------------------------------
You get this notification because you are subscribed to the '{0}' forum notifications. 
You can unsubscribe from your profile on our.umbraco.org
      </body>
    </notification>

    <notification name="NewComment" 
                  assembly="NotificationsCore" 
                  type="NotificationsCore.NotificationTypes.NewForumTopicComment">
      <subject>Umbraco community: New comment in topic '{0}'</subject>
      <body>{2} just added a new comment to the '{0}' topic.

--------------------------------------------------

{3}

--------------------------------------------------

You can view the new comment here: 
{1} 


Thank You from the Umbraco Community!
--------------------------------------------------
You get this notification because you are subscribed to the '{0}' topic notifications.
You can unsubscribe from your profile on our.umbraco.org
      </body>
    </notification>

  </instant>
  
</configuration>