<?xml version="1.0" encoding="utf-8"?>
<RestExtensions>

  <ext assembly="uWiki" type="uWiki.Library.Rest" alias="uWiki">
    <permission method="Create" allowAll="true" />
    <permission method="Update" allowAll="true" />
    <permission method="GetContentVersion" allowAll="true" />
    <permission method="Rollback" allowAll="true" />
    <permission method="Move" allowAll="true" />
    <permission method="Delete" allowAll="true" />
    <permission method="ClearHelpRequests" allowAll="true" />
    <permission method="VerifyFile" allowAll="true" />
  </ext>

  <ext assembly="our.umbraco.org" type="our.Rest.Validation" alias="member">
    <permission method="IsEmailUnique" allowAll="true" />
  </ext>

  <ext assembly="our.umbraco.org" type="our.Rest.BuddyIcon" alias="avatar">
    <permission method="SaveWebCamImage" allowAll="true" />
    <permission method="SetServiceAsBuddyIcon" allowAll="true" />
  </ext>



  <ext assembly="our.umbraco.org" type="our.Rest.Tagger" alias="tagger">
    <permission method="AddTag" allowAll="true" />
    <permission method="RemoveTag" allowAll="true" />
    <permission method="SetTags" allowAll="true" />
  </ext>

  <ext assembly="our.umbraco.org" type="our.Rest.Projects" alias="projects">
    <permission method="ChangeCollabStatus" allowAll="true" />
    <permission method="RemoveContributor" allowAll="true" />
  </ext>

  <ext assembly="NotificationsWeb" type="NotificationsWeb.Library.Rest" alias="Notifications">
    <permission method="SubscribeToForumTopic" allowAll="true" />
    <permission method="UnSubscribeFromForumTopic" allowAll="true" />
    <permission method="SubscribeToForum" allowAll="true" />
    <permission method="UnSubscribeFromForum" allowAll="true" />
  </ext>
</RestExtensions>