<?xml version="1.0" encoding="utf-8" ?>
<mappings>
	<section alias="*" node="8532" />
	<section alias="content" node="8533" />
	<section alias="media" node="8534" />
	<section alias="users" node="8535" />
	<section alias="settings" node="8536" />
	<section alias="developer" node="8537" />
	<section alias="member" node="8538" />
	<section alias="translation" node="8539" />
</mappings>