<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
	<rewrites>
		<!-- 
				Urlrewriting.Net is a cool tool, what can make your urls look nice.
				The rewriting is controlled with regular expressions. To get more help
				look at http://www.urlrewriting.net/. 
				
				Remember to read the manual! 
				http://umbraco.org/redir/urlRewritingManual

				The sample below rewrites a url from 
				"/product/someproductid.aspx" to 
				"/product.aspx?productid=someproductid" 
				
				The user will not see the rewritten path! The page that will be 
				loaded from umbraco will instead be:
				"/product.aspx?productid=someproductid" 
										
				<add name="produktidrewrite" 
					virtualUrl="^~/product/(.*).aspx" 
					rewriteUrlParameter="ExcludeFromClientQueryString" 
					destinationUrl="~/product.aspx?productid=$1" 
					ignoreCase="true" />
					
				This sample is usefull for a productpage, where the product comes from a 
				dynamic datasource, e.g. a database. The querystring "productid" can be loaded
				from the template, into a macro, that then loads the product!
				
				Any bugs or problems with the rewriter, contact Anders/Duckie
			-->

	<add name="memberrssrewrite"
                virtualUrl="^~/rss/memberparticipation/(.*)"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/rss/memberparticipation?id=$1"
                ignoreCase="true" />

        <add name="forumrssrewrite"
                virtualUrl="^~/rss/forum/(.*)"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/rss/forum?id=$1"
                ignoreCase="true" />

        <add name="projecttagrewrite"
	                virtualUrl="^~/projects/tag/(.*)"
	                rewriteUrlParameter="ExcludeFromClientQueryString"
	                destinationUrl="~/projects?tag=$1&amp;altTemplate=ProjectsTags"
                ignoreCase="true" />	
					
				<add name="wikiHelpContentDashboard" 
					virtualUrl="/wiki/umbraco-help/content/dashboard" 
					rewriteUrlParameter="ExcludeFromClientQueryString" 
					destinationUrl="/wiki/umbraco-help/content" 
					ignoreCase="true" />

				<add name="wikiHelpMediaDashboard" 
					virtualUrl="/wiki/umbraco-help/media/dashboard" 
					rewriteUrlParameter="ExcludeFromClientQueryString" 
					destinationUrl="/wiki/umbraco-help/media" 
					ignoreCase="true" />

				<add name="wikiHelpUsersDashboard" 
					virtualUrl="/wiki/umbraco-help/users/dashboard" 
					rewriteUrlParameter="ExcludeFromClientQueryString" 
					destinationUrl="/wiki/umbraco-help/users" 
					ignoreCase="true" />

				<add name="wikiHelpSettingsDashboard" 
					virtualUrl="/wiki/umbraco-help/settings/dashboard" 
					rewriteUrlParameter="ExcludeFromClientQueryString" 
					destinationUrl="/wiki/umbraco-help/settings" 
					ignoreCase="true" />

				<add name="wikiHelpDeveloperDashboard" 
					virtualUrl="/wiki/umbraco-help/developer/dashboard" 
					rewriteUrlParameter="ExcludeFromClientQueryString" 
					destinationUrl="/wiki/umbraco-help/developer" 
					ignoreCase="true" />

				<add name="wikiHelpMemberDashboard" 
					virtualUrl="/wiki/umbraco-help/member/dashboard" 
					rewriteUrlParameter="ExcludeFromClientQueryString" 
					destinationUrl="/wiki/umbraco-help/member" 
					ignoreCase="true" />

				<add name="wikiHelpTranslationDashboard" 
					virtualUrl="/wiki/umbraco-help/translation/dashboard" 
					rewriteUrlParameter="ExcludeFromClientQueryString" 
					destinationUrl="/wiki/umbraco-help/translation" 
					ignoreCase="true" />
    
	</rewrites>
</urlrewritingnet>
