<?xml version="1.0"?>

<!-- This file is used for package compatibility reporting and package targeting -->

<!-- versions require voteName voteDescription if vote=false -->
<!-- versions do not require voteName or voteDescription if vote=false -->
<!-- versions required package targeting require the key name and description fields -->

<configuration default="v49">
  <versions>
    <!-- version key="v5" name="Version 5.0.x" description="Compatible with version 5.0.x" vote="false"/ -->
    <version key="v720" name="Version 7.2.x" description="Compatible with version 7.2.x" vote="true" voteDescription="Version 7.2.x" voteName="7.2.x"/>
    <version key="v710" name="Version 7.1.x" description="Compatible with version 7.1.x" vote="true" voteDescription="Version 7.1.x" voteName="7.1.x"/>
    <version key="v700" name="Version 7.0.x" description="Compatible with version 7.0.x" vote="true" voteDescription="Version 7.0.x" voteName="7.0.x"/>
    <version key="v610" name="Version 6.1.x" description="Compatible with version 6.1.x" vote="true" voteDescription="Version 6.1.x" voteName="6.1.x"/>
    <version key="v600" name="Version 6.0.x" description="Compatible with version 6.0.x" vote="true" voteDescription="Version 6.0.x" voteName="6.0.x"/>
    <version key="v411" name="Version 4.11.x" description="Compatible with version 4.11.x" vote="true" voteDescription="Version 4.11.x" voteName="4.11.x"/>
    <version key="v410" name="Version 4.10.x" description="Compatible with version 4.10.x" vote="true" voteDescription="Version 4.10.0" voteName="4.10.0"/>
    <version vote="true" voteDescription="Version 4.9.1" voteName="4.9.1"/>
    <version key="v49" name="Version 4.9.x" description="Compatible with version 4.9.x" vote="true" voteDescription="Version 4.9.0" voteName="4.9.0"/>
    <!-- NOTE: this one NEEDS to be there in order to be able to upload screenshots. Reaally? Yes, really. - SJ -->
    <version key="nan" name="Not version dependant" description="Works with all versions of umbraco, as it does not contain any version dependencies" vote="false"/>
    
    <!--<version vote="true" voteDescription="Version 4.8.1" voteName="4.8.1"/>
    <version key="v48" name="Version 4.8.x" description="Compatible with version 4.8.x" vote="true" voteDescription="Version 4.8.0" voteName="4.8.0"/>
    <version vote="true" voteDescription="Version 4.7.2" voteName="4.7.2"/>
    <version vote="true" voteDescription="Version 4.7.1.1" voteName="4.7.1.1"/>
    <version vote="true" voteDescription="Version 4.7.1" voteName="4.7.1"/>
    <version key="v47" name="Version 4.7.x" description="Compatible with version 4.7.x" vote="true" voteDescription="Version 4.7.0" voteName="4.7.0"/>
    <version vote="true" voteDescription="Version 4.6.1" voteName="4.6.1"/>
    <version key="v46" name="Version 4.6.x" description="Compatible with version 4.6.x" vote="true" voteDescription="Version 4.6.0" voteName="4.6.0"/>
    <version vote="true" voteDescription="Version 4.5.2" voteName="4.5.2"/>
    <version key="v45" name="Version 4.5.x" description="Compatible with version 4.5 using the new XML schema" vote="true" voteDescription="Version 4.5.1" voteName="4.5.1"/>
    <version key="v45l" name="Version 4.5.x - Legacy Schema Only" description="Compatible with version 4.5 but only using the old XML schema" vote="false" voteDescription="Version 4.5.0" voteName="4.5.0"/>
    <version voteDescription="Version 4.1.0" voteName="4.1.0"/>
    <version key="v4" name="Version 4.0.x" description="Compatible with version 4.0.x or 4.5 using the legacy schema" vote="true" voteDescription="Version 4.0.4.2" voteName="4.0.4.2"/>
    <version key="v31" name="Version 3.x" description="Only compatible with Umbraco version 3.x and incompatible with the version 4 API" vote="true" voteDescription="Version 3.x.x" voteName="3.x.x"/>
    -->
  </versions>
</configuration>