<?xml version="1.0" encoding="utf-8"?>
<XsltExtensions>
  <!--
  <ext assembly="/bin/name-of-dll-without-dll-extension" type=”Fully.Qualified.Name.Of.Type.Including.Namespace” alias=”Prefix-to-use-in-xslt” />
  -->
	<!-- <ext assembly="assemblyName" type="assemblyName.namespace.type" alias="custom" /> -->
	<ext assembly="umbraco" type="umbraco.presentation.xslt.Exslt.ExsltCommon" alias="Exslt.ExsltCommon" />
	<ext assembly="umbraco" type="umbraco.presentation.xslt.Exslt.ExsltDatesAndTimes" alias="Exslt.ExsltDatesAndTimes" />
	<ext assembly="umbraco" type="umbraco.presentation.xslt.Exslt.ExsltMath" alias="Exslt.ExsltMath" />
	<ext assembly="umbraco" type="umbraco.presentation.xslt.Exslt.ExsltRegularExpressions" alias="Exslt.ExsltRegularExpressions" />
	<ext assembly="umbraco" type="umbraco.presentation.xslt.Exslt.ExsltStrings" alias="Exslt.ExsltStrings" />
	<ext assembly="umbraco" type="umbraco.presentation.xslt.Exslt.ExsltSets" alias="Exslt.ExsltSets" />
	<ext assembly="UmbracoExamine" type="UmbracoExamine.XsltExtensions" alias="Examine" />

  <ext assembly="uForum" type="uForum.Library.Xslt" alias="uForum" />
  <ext assembly="uForum" type="uForum.Library.RawXml" alias="uForum.raw" />
  <ext assembly="uWiki" type="uWiki.Library.Xslt" alias="uWiki" />
  <ext assembly="uSearch" type="uSearch.Library.Xslt" alias="uSearh" />
  <ext assembly="uPowers" type="uPowers.Library.Xslt" alias="uPowers" />
  <ext assembly="uEvents" type="uEvents.Library.Xslt" alias="uEvents" />
  <ext assembly="Umb.OurUmb.MemberLocator" type="Umb.OurUmb.MemberLocator.Utility" alias="MemberLocator" />
  <ext assembly="umbraco.editorcontrols" type="umbraco.editorControls.tags.library" alias="umbracoTags.library" />
  <ext assembly="our.umbraco.org" type="our.Utills" alias="our.library" />
  <ext assembly="NotificationsWeb" type="NotificationsWeb.Library.Xslt" alias="Notifications" />
</XsltExtensions>