.github-contributions {
    small.github-repo-list {
        font-style: italic;
        font-weight: normal;
        text-transform: none;
    }
}

.github-contributor-list {
    justify-content: center !important;
    &:not(.all) {
        .contributor {
            
            /* Hide element no. 9 and above (2 items per row) */
            @media (max-width: 440px) {
                &:nth-child(n+9) {
                    display: none;
                }
            }

            /* Hide element no. 10 and above (3 items per row) */
            @media (min-width: 440px) and (max-width: 580px) {
                &:nth-child(n+10) {
                    display: none;
                }
            }

            /* Hide element no. 13 and above (4 items per row) */
            @media (min-width: 580px) and (max-width: 680px) {
                &:nth-child(n+13) {
                    display: none;
                }
            }

            /* Hide element no. 16 and above (5 items per row) */
            @media (min-width: 580px) and (max-width: $md) {
                &:nth-child(n+16) {
                    display: none;
                }
            }

            /* Hide element no. 17 and above (8 items per row) */
            @media (min-width: $md) {
                &:nth-child(n+17) {
                    display: none;
                }
            }

        }
    }

    &.all {
        .button {
            display: none;
        }
    }

    .loadmore {
        margin: 20px auto;
        width: 100%;
        text-align: center;
    }
}

.contributor {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
    padding: 5px;
    margin-bottom: 15px;

    /* 3 items per row */
    @media (min-width: 440px) {
        flex: 0 0 33.3333%;
    }

    /* 4 items per row */
    @media (min-width: 580px) {
        flex: 0 0 25%;
    }

    /* 5 items per row */
    @media (min-width: 680px) {
        flex: 0 0 20%;
    }

    /* 8 items per row */
    @media (min-width: $md) {
        flex: 0 0 12.5%;
    }

    > a {
        display: inline-block;
        margin: 0 auto;
    }

    .avatar {
        display: inline-block;
        position: relative;
        flex: 0 0 auto !important;
        margin: 0 auto !important;

        @media (min-width: $md) {
            flex: 0 0 auto !important;
        }

        img {
            border: 3px solid $color-our;
            width: 100%;
            max-width: 112px;
            height: auto;
        }
    }

    .counts {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        text-align: center;
        color: #fff;
        font-size: 12px;
        line-height: 12px;
        background: rgba(0,0,0,0.25);
        border-radius: 50%;
        bottom: 6px;
        padding: 0;
        opacity: 0;
        transition: opacity 0.25s;
        > div {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    &:hover .counts {
        opacity: 1;
    }

    .contrib-count {
        position: absolute;
        left: 25px;
        bottom: 0px;
        text-align: center;
        right: 25px;
        color: white;
        font-weight: bold;
        background: $color-our;
        border-radius: 15px;
        z-index: 5;
    }
}
