.contributor {
    margin-bottom: 15px;

    .avatar {
        position: relative;
        flex: 0 0 23%;
        margin-right: 20px;

        @media (min-width: $md) {
            flex: 0 0 15%;
        }

        img {
            border: 3px solid #98d768;
            width: 100%;
            max-width: 112px;
            height: auto;
        }
    }

    .contrib-count {
        position: absolute;
        left: 25px;
        bottom: 0px;
        text-align: center;
        right: 25px;
        color: #425a2e;
        font-weight: bold;
        background: darken($color-our, 4%);
        border-radius: 15px;
    }
}
