.docs {
	padding: 0;
	border-bottom: 1px solid rgba($color-space, .11);

	.row {
		margin: 0;
	}

	.container, .row, .col-md-6 {
		@media (max-width: $md) {
			padding: 0;

			p {
				padding: 0 40px;
			}
		}
	}

	.advanced, .beginners {
		padding: 80px 20px;
		text-align: center;

		@media (min-width: $md) {
			padding: 80px 60px;
		}
	}

	.advanced {
		@media (max-width: $md) {
			padding: 40px 0px 80px;
			border-top: 1px solid rgba($color-space, .11);
		}
	}

	.col-md-6 {
		&:last-child {
			@media (min-width: $md) {
				border-left: 1px solid rgba($color-space, .11);
			}
		}
	}

	img {
		margin-bottom: 30px;
		display: inline-block;
	}

	h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	p {
		color: darken($color-space, 20%);
		line-height: 1.5;
		font-size: 1.1rem;

		margin-bottom: 30px;
	}

	.button {
		font-size: 1rem;

		@media (min-width: $md) {
			font-size: 1.2rem;
		}
	}
}