section.forum {
	background: rgba($color-space, .11);
	background-size: 100%;
	background-position: center bottom;
	background-repeat: no-repeat;
	position: relative;


	h1 {
		font-size: 1.8rem;
		text-align: center;
		position: relative;
		z-index: 30;

		//margin-bottom: 3.5rem; // Remove me when text is ready under this

		@media (min-width: $md) {
			font-size: 2.4rem;
		}

		+ p {
			max-width: 700px;
			margin: 1rem auto 3.5rem;
			margin-bottom: 3rem;
			padding: 0 10px;

			font-size: 1rem;
			color: darken($color-space, 15%);
			text-align: center;

			@media (min-width: $md) {
				padding: 0;
				font-size: 1.2rem;
			}
		}
	}

	.flex {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between; 
	}


	.forum-thread {
		flex: 0 0 100%;
		display: flex;

		@media (min-width: $md) {
			flex: 1 0 49%;

			&:nth-child(odd) {
				margin-right: 2%;
			}
		}

		.avatar {
			flex: 0 0 23%;
			margin-right: 20px;


			@media (min-width: $md) {
				flex: 0 0 15%;
			}

			img {
				width: 100%;
					max-width: 112px;
				height: auto;
			}
		}



		.meta {
			display: flex;
			flex-direction: column;
			flex: 1 0 75%;

			padding: 0 10px 0 0;

			@media (min-width: $md) {
				flex: 1 0 83%;
			}

		}



		.category {
			margin: .5rem 0 0;

			span {
				font-size: .75rem;
			}
		}

	}

	

	.goto-forum {
		text-align: center;
		margin-top: 20px;

		@media (min-widt: $md) {
			margin-top: 60px;
		}
	}

	.button {
		@media (min-width: $md) {
			font-size: 1.2rem;
		}
	}



	small {
		font-size: .9rem;
	    color: darken($color-space, 20%);
	    text-transform: uppercase;
	    font-weight: 700;
	    letter-spacing: .5px;
	    display: block;
	    margin-bottom: .5rem;
	}
}

.forum-thread, .person-activity {
	background: #fff;
	padding: 15px;
	margin-bottom: 30px;
	border: 1px solid darken(#f6f6f6, 5%);
	transition: box-shadow .2s;
	text-decoration: none;	

	display: flex;
	align-items: center;

	&:hover {
		@include box_shadow(2);
	}

	.row {
		margin: 0;
	}

	img {
		border-radius: 50%;
		width: 100%;
		max-width: 112px;
		height: auto;

		@media (min-width: $md) {
			width: 58px;
		}

		&.aura {
			border: 2px solid transparent;
			border-radius: 50%;
			padding: 3px;

			&.mvp {
				border-color: rgba($color-green, .4);
			}

			&.admin {
				border-color: rgba(#f61700, .4);
			}

			&.hq {
				border-color: rgba(#227cf6, .4);
			}
		}
	}

	h3 {
		margin-bottom: 2px;
		font-weight: normal;
		color: #000;
		line-height: 1.3;
		font-size: 1rem;

		@media (min-width: $md) {
			font-size: 1.1rem;
		}
	}

	p {
		margin: 0;
		text-align: left;
		font-size: .9rem;
		color: $color-space;
	}

	small {
		font-size: .8rem;
	}

	.col-xs-2 {
		padding: 0 .1rem;

		@media (min-width: $md) {
			padding: 0 .3rem;
		}
	}
}


_:-ms-input-placeholder, :root .selector { 
    section.forum .forum-thread {
		@media (min-width: $md) {
			flex: 0 1 47%;
		}
	}  
}