.gitter-chat {
    background: rgba($color-space, .11);

    h1 {
		font-size: 1.8rem;
        text-align: left;
        @media (min-width: $md) {
			font-size: 2.4rem;
		}

		+ p {
			max-width: 700px;
			margin: 1rem auto 3.5rem;
			margin-bottom: 3rem;
			padding: 0 10px;

			font-size: 1rem;
			color: darken($color-space, 15%);
			text-align: left;

			@media (min-width: $md) {
				padding: 0;
				font-size: 1.2rem;
			}
        }
    }

    small {
		font-size: .9rem;
	    color: darken($color-space, 20%);
	    text-transform: uppercase;
	    font-weight: 700;
	    letter-spacing: .5px;
	    display: block;
	    margin-bottom: .5rem;
	}

    .gitter-link {
        text-align:center;

        .button {
            @media (min-width: $md) {
                font-size: 1.2rem;
            }
        }
    }
}

.gitter-room{
    display: flex;
    flex-direction: column;
    position:relative;
}

.gradient {
    position:absolute;
    height:90px;
    background:linear-gradient(to bottom, rgba(241,244,245,1) 0%, rgba(241,244,245,0.86) 14%, rgba(241,244,245,0) 100%);
    top:-10px;
    width:100%;
}

.gitter-message {
    display: flex;
    background:#fff;
    padding:7px 10px;
    border: 1px solid darken(#f6f6f6, 5%);
    margin-bottom:10px;

    .avatar {
        margin-right:12px;

        img {
            border-radius:5px;
            max-height:50px;
        }
    }

    .message {
        display:flex;
        align-items: center;
        flex-direction: row;
    }

    .user {

        .name {
            font-weight:bold;
        }

        .username {
            color:rgba($color-space, .80);
        }
    }
}

.gitter-message-text {

    blockquote {
        border-left:3px solid red;
        padding-left:10px;
        padding-top:2px;
        padding-bottom:2px;
    }

    .mention{
        font-style:italic;
    }


    /* Copied from Gitter site */
    pre code {
        overflow-x: auto;
        display: block;
        padding: .5em;
        background: #23241f;
        line-height: 1.4em;
        word-wrap: normal
    }

    pre .tag,pre code {
        color: #f8f8f2
    }

    pre .hljs, pre .tag, pre .css .rule, pre .css .value, pre .aspectj .function, pre .css .function .preprocessor, pre .pragma {
        color: #f8f8f2
    }

    pre .strongemphasis, pre .strong, pre .emphasis {
        color: #a8a8a2
    }

    pre .bullet, pre .blockquote, pre .horizontal_rule, pre .number, pre .regexp, pre .alias .keyword, pre .literal, pre .hexcolor {
        color: #ae81ff
    }

    pre .tag .value, pre .code, pre .title, pre .css .class, pre .class .title:last-child {
        color: #a6e22e
    }

    pre .link_url {
        font-size: 80%
    }

    pre .strong, pre .strongemphasis {
        font-weight: 700
    }

    pre .emphasis, pre .strongemphasis, pre .class .title:last-child, pre .typename {
        font-style: italic
    }

    pre .keyword, pre .ruby .class .keyword:first-child, pre .ruby .function .keyword, pre .function, pre .change, pre .winutils, pre .flow, pre .nginx .title, pre .tex .special, pre .header, pre .attribute, pre .symbol, pre .symbol .string, pre .tag .title, pre .value, pre .alias .keyword:first-child, pre .css .tag, pre .css .unit, pre .css .important {
        color: #f92672
    }

        pre .function .keyword, pre .class .keyword:first-child, pre .aspect .keyword:first-child, pre .constant, pre .typename, pre .name, pre .css .attribute {
            color: #66d9ef
        }

    pre .variable, pre .params, pre .class .title, pre .aspect .title {
        color: #f8f8f2
    }

    pre .string, pre .css .id, pre .subst, pre .type, pre .ruby .class .parent, pre .built_in, pre .django .template_tag, pre .django .variable, pre .smalltalk .class, pre .django .filter .argument, pre .smalltalk .localvars, pre .smalltalk .array, pre .attr_selector, pre .pseudo, pre .addition, pre .stream, pre .envvar, pre .apache .tag, pre .apache .cbracket, pre .tex .command, pre .prompt, pre .link_label, pre .link_url {
        color: #e6db74
    }

    pre .comment, pre .annotation, pre .decorator, pre .pi, pre .doctype, pre .deletion, pre .shebang, pre .apache .sqbracket, pre .tex .formula {
        color: #75715e
    }


}