.high-five {
    background: rgba($color-space, .11);
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;

    h2 {
        margin: 1rem auto 3.5rem;
        margin-bottom: 3rem;
        line-height: 2.5;
        padding: 0;
        font-size: 1.4rem;
        color: darken($color-space, 15%);
        text-align: center;
    }

    h1 {
        font-size: 1.8rem;
        text-align: center;
        position: relative;
        z-index: 30;
        //margin-bottom: 3.5rem; // Remove me when text is ready under this
        @media (min-width: $md) {
            font-size: 2.4rem;
        }

        + p {
            max-width: 700px;
            margin: 1rem auto 3.5rem;
            margin-bottom: 3rem;
            line-height: 1.5;
            padding: 0 10px;
            font-size: 1rem;
            color: darken($color-space, 15%);
            text-align: center;

            @media (min-width: $md) {
                padding: 0;
                font-size: 1.2rem;
            }
        }
    }

    input[type=text], select {
        border: 0;
        padding: 3px;
        border-bottom: 2px solid #ccc;
        background: none;
        font-size: 1.4rem;
        max-width: 200px;
    }

    button {
        font-size: 0.8em;
        padding: 10px 20px;
    }

    button img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    .flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__member-search {
        position: relative;
    }

    &__field {
        min-width: 160px;
    }

    &__activity-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;

        .high-five-panel {
            width: calc(50% - 20px);
            margin-left: 20px;
            margin-top: 20px;
        }

        @media (min-width: $md) {
            .high-five-panel {
                width: calc(33.33% - 20px);
            }
        }        

        @supports (display: grid) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            margin-left: 0;

            .high-five-panel {
                margin-top: 0;
                margin-left: 0;
                width: auto;
            }
            
            @media (min-width: $md) {
                grid-template-columns: 1fr 1fr 1fr;

                .high-five-panel {
                    width: auto;
                }                
            }
        }
    }
}

.high-five-panel {
    background: #fff;
    padding: 15px;
    border: 1px solid darken(#f6f6f6, 5%);
    transition: box-shadow .2s ease, border-color .2s ease;
    text-decoration: none;
    display: flex;
    overflow: hidden;

    &:hover {
        border-color: white;
        @include box_shadow(2);
    }

    p {
        margin: 0;
        text-align: left;
        font-size: .9rem;
        color: $color-space;
    }

    &__avatar {
        flex: 0 0 23%;
        margin-right: 15px;

        img {
            width: 100%;
            max-width: 112px;
            height: auto;
            border-radius: 50%;
        }
    }

    &__meta {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 0;
    }

    &__header {
        margin-bottom: 2px;
        font-weight: normal;
        color: #000;
        line-height: 1.3;
        font-size: 1rem;
    }

    @media (min-width: $xs) {
        align-items: center;
    }

    @media (min-width: $md) {
        padding: 25px;
        
        &__header {
            font-size: 1.1rem;
        }

        &__avatar {
            flex: 0 0 15%;
            margin-right: 20px;

            img {
                width: 58px;
            }
        }
    }
}

#high-five-form {
    position: relative;
}

.suggestions-list {
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    list-style: none;
    z-index: 10;

    button {
        background: #a3db78;
        border: 0;
        min-width: 200px;
        text-align: left;

        transition: .2s ease-in-out;

        &:hover {
            background-color: #2EB369;
            color: #FFFFFF;
        }
    }
}

