@using OurUmbraco.Forum.Services
@inherits OurUmbraco.Our.Models.OurUmbracoTemplatePage
@{
    Layout = "~/Views/Master.cshtml";

    var topicService = new TopicService(ApplicationContext.DatabaseContext);
    var topic = topicService.CurrentTopic(Context, ApplicationContext.ApplicationCache.RequestCache, MemberData, Model.Content);
}
<!-- FORUM OVERVIEW START -->
<section class="forum-overview">
    <div class="forum-single-thread">
        <!-- FORUM HEADER START -->
        <div class="utilities">
            <!-- FORUM BREADCRUMB START -->
            @Html.Action("Render", "Breadcrumb", new { linkToCurrent = true })
            <!-- FORUM BREADCRUMB END -->
            <!-- THREAD ACTIONS START -->
            @if (System.Configuration.ConfigurationManager.AppSettings["DiscourseEnabled"] == "false" && topic != null)
            {
                Html.RenderPartial("~/Views/Partials/Forum/TopicActions.cshtml", topic);
            }
            <!-- THREAD ACTIONS END -->
            <div class="clear"></div>
        </div>
        <!-- FORUM HEADER END -->
        @if (topic != null)
        {
            Html.RenderPartial("~/Views/Partials/Forum/Thread.cshtml", topic);
        }
        else
        {
            <p>This topic no longer exists.</p>
        }
    </div>

</section>

@if (System.Configuration.ConfigurationManager.AppSettings["DiscourseEnabled"] == "false") { 
    @Html.Partial("~/Views/Partials/Forum/TopicForm.cshtml")
}


@section HeadCssScripts {
    <link rel="stylesheet" type="text/css" href="/css/tooltipster.css" />
}
@section EndScripts {
    <script type="text/javascript" src="/scripts/jquery.tooltipster.min.js"></script>
    <script type="text/javascript">
        $('.highfive-count').tooltipster({
            contentAsHTML: true,
            interactive: true,
            multiple: true
        });
    </script>
}