@inherits UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using OurUmbraco.Our.Extensions
@using OurUmbraco.Our.Services
@{
    Layout = "~/Views/Master.cshtml";
    Html.RequiresCss("~/css/releases.css");
    Html.RequiresJs("~/assets/js/components/overlay.js");
    Html.RequiresJs("~/assets/js/lib/svg4everybody.min.js");

    var releasesService = new ReleasesService();
    var latestRelease = releasesService.GetLatestRelease();
}

<section id="download" class="download-umbraco">
    <div class="container">
        <div class="row dl-content" style="margin-top: 60px;">
            <div class="col-md-6 col-padding">
                <h2>Looking to try Umbraco?</h2>
                <p class="download-teaser large-margin-bottom">
                    Umbraco Cloud is the easiest and fastest way to use Umbraco yet with full support for all your custom .NET code
                    and integrations. You're up and running in less than a minute and your life will be made easier with automated upgrades
                    and a built-in deployment engine.
                </p>

                <div class="large-margin-bottom">
                    <a class="button green" href="https://umbraco.com/campaigns/try-umbraco-today/">Sign up on umbraco.com</a>
                </div>

                <p>
                    Powered by Microsoft Azure. No credit card needed. Free 14 day trial and pricing starts at just 25 EUR including hosting.
                </p>

                <p>
                    When you want to integrate custom .NET code, you can clone it to your local machine as it's all powered by Git and even
                    comes with a powerful deployment setup out of the box, that lets you deploy new iterations of your site with the click
                    of a button. See how it works:
                </p>

                <div class="video video-element large-margin-bottom">
                    <a href="/documentation/Umbraco-Cloud/Deployment/">
                        <img src="https://our.umbraco.com/documentation/Umbraco-Cloud/Deployment/Cloud-to-Cloud/images/deploy-in-portal.gif" alt="See how Umbraco Cloud works" />
                    </a>
                </div>
            </div>

            <!-- Download Umbraco Column -->
            <div class="col-md-6 col-padding">
                <h2>Download Umbraco</h2>
                <p class="download-teaser large-margin-bottom">
                    If you want to DIY you can download Umbraco either as a ZIP file or via NuGet.
                    It's the same version of Umbraco CMS that powers Umbraco cloud, but you'll need to find
                    a place to host yourself and handling deployments and upgrades is all down to you.
                </p>
                <p>
                    <pre class="pre small-margin-bottom"><span>PM></span> Install-Package UmbracoCms</pre>

                <p class="large-margin-bottom">
                    Current Version:
                    <a id="downloadButton" class="download-link" href="@Url.GetReleaseUrl(latestRelease, true)">Download @(latestRelease.FullVersion)</a>
                    -  See all <a class="download-link" href="/contribute/releases/">previous releases</a>
                </p>

                <p class="medium-margin-bottom">
                    We recommend using Microsoft Visual Studio 2017 (15.9.7+) or Microsoft Visual Studio Code
                    with the IIS Express plugin. Make sure to check the full <a href="/documentation/Getting-Started/Setup/Install/">installation guide</a>
                </p>

                <div class="requirements large-margin-bottom">
                    <strong>Requirements:</strong>
                    <ul>
                        <li>Microsoft Windows 7+ or Microsoft Windows Server 2012+</li>
                        <li>Microsoft IIS or Microsoft IIS Express</li>
                        <li>Microsoft SQL Express 2012+</li>
                        <li>Microsoft ASP.NET 4.7.2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Does this work -->
<section id="install" class="download-umbraco download-umbraco--install" style="display: none">
    <div class="mac-notice">
        You're running MacOS, follow <a href="">this guide.</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="dl-content steps">
                    <h2>Almost there</h2>
                    <div class="guide">
                        <div class="step step-one">
                            <span>1</span>
                            <div>Unzip</div>
                        </div>
                        <div class="step step-two">
                            <span>2</span>
                            <div>Run with VS Code & IIS Express</div>
                        </div>
                        <div class="step step-three">
                            <span>3</span>
                            <div>Follow the installer</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- insert gif here -->
                </div>
            </div>
        </div>
    </div>
    <div class="archive">
        See detailed instructions in the <a href="/documentation/Getting-Started/Setup/Install/">documentation</a>
    </div>
</section>

@section EndScripts {

    <script src="https://cdn.rawgit.com/MohammadYounes/jquery-scrollLock/master/jquery-scrollLock.js"></script>

    <script>
        (function () {
            svg4everybody();

            // show install screen when clicking the manual download link
            $('.dl-content').on('click', '#downloadButton', function (e) {
                $('section#download').fadeOut();
                $('section#install').fadeIn();
            });

            // open video overlay when clicking the video thumbnail
            $('.video-element').on('click', function () {
                var videoId = $(this).data('video');

                if (videoId) {
                    var videoIframeHtml = $('<iframe width="1200" height="674" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>').attr('src', 'https://player.vimeo.com/video/' + videoId + '?autoplay=1&color=ffffff&title=0&byline=0&portrait=0');
                    umbraco.overlay.create({
                        'content': videoIframeHtml,
                        'class': 'overlay--video'
                    });

                }
            });

        })();

    </script>
}
