@inherits UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using OurUmbraco.Our.Extensions
@using OurUmbraco.Our.Services
@{
    Layout = "~/Views/Master.cshtml";
    Html.RequiresCss("~/css/releases.css");
    Html.RequiresJs("~/assets/js/components/overlay.js");
    Html.RequiresJs("~/assets/js/lib/svg4everybody.min.js");

    var releasesService = new ReleasesService();
    var downloadReleases = releasesService.GetDownloadReleases();
}

<style type="text/css">
    .download-box {
        border-radius: 10px;
        color: #1b264f;
        border: 2px solid;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    .download-box-badge {
        text-transform: uppercase;
        font-weight: bold;
        padding: 6px 12px;
        border-radius: 6px;
        background-color: #f79c37;
        margin: 0 auto;
        margin-top: -12px;
        display: table;
    }
    .cta-button {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 50% !important;
        display: block !important;
        border-radius: 10px !important;
        border-color: #1b264f !important;
        background-color: #1b264f !important;
    }
    .version-number {
        font-size: 2em;
        font-weight: bold;
        margin: 0 auto;
        display: table;
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .version-number-badge {
        font-size: 0.5em;
        font-weight: bold;
        margin-left: 5px;
        padding-bottom: -10px;
        background-color: #f6f8fc;
        padding: 20px;
        border-radius: 10px;
        display: table;
        float: right;
        margin-top: -10px;
        padding: 5px 15px 25px 15px;
    }
    .dotnet-version {
        font-size: 1.3em;
        font-weight: bold;
        margin: 0 auto;
        display: table;
        padding: 20px 0;
    }
    .version-release-date {
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 auto;
        display: table;
        padding: 5px 0;
        margin-top: -20px
    }
</style>

<section id="download" class="download-umbraco">
    <div class="container">
        <div class="row dl-content" style="margin-top: 60px;">
            <div class="col-md-6 col-padding">
                <h2>Looking to install Umbraco manually?</h2>

                @foreach (var release in downloadReleases.OrderByDescending(x => x.IsLts))
                {
                    <div class="download-box">
                        @if (downloadReleases.Count > 1)
                        {
                            <span class="download-box-badge">@(release.IsLts ? "Recommended for most users" : "Latest features")</span>
                        }
                        else
                        {
                            // there is only 1 release so it will have the latest features
                            <span class="download-box-badge">Latest features</span>
                        }
                        <span class="version-number">Umbraco @release.FullVersion.Major @(release.IsLts ? Html.Raw("<span class=\"version-number-badge\"><abbr title=\"Long-term support - 3 years of maintenance and security updates\">LTS</abbr></span>") : null)</span>

                        <div class="large-margin-bottom">
                            <a class="button green cta-button" href="https://docs.umbraco.com/umbraco-cms/v/@(release.FullVersion.Major).latest@(release.IsLts? "-lts" : null)/fundamentals/setup/install">Show install guidance</a>
                        </div>

                        <span class="version-release-date">Released: @release.ReleaseDate.ToString("MMMM d, yyyy")</span>
                    </div>
                }

                <h3 style="font-size: 1.3em; font-weight: normal; margin-top: 80px; margin-bottom: 10px;">Other releases</h3>
                <p class="download-teaser">
                    See all <a class="download-link" href="/download/releases/">previous</a> and <a class="download-link" href="/download/releases/progress">upcoming releases</a>.
                </p>
            </div>

            <!-- Download Umbraco Column -->
            <div class="col-md-6 col-padding">
                <h2>Quick start on Umbraco Cloud</h2>

                <p>Umbraco Cloud is the one-stop-shop for all your Umbraco needs - the fastest, easiest, and best way to work with the most advanced open-source .NET CMS.</p>
                <p class="download-teaser large-margin-bottom">
                    <img src="/images/umbraco-cloud-logo.png?height=250" alt="Illustration of a laptop with the Umbraco Cloud logo on the display" style="margin-left: auto; margin-right: auto; width: 50%; display: block;" />
                </p>
                <p>Everything is installed, configured, and ready for development. Just click Create Project and in a few steps, Umbraco CMS is up and running.</p>
                <div class="large-margin-bottom">
                    <a class="button green cta-button" href="https://umbraco.com/campaigns/try-umbraco-today/">Sign up on umbraco.com</a>
                </div>
                <p>Powered by Microsoft Azure. <strong>No credit card needed.</strong> Free 14 day trial.</p>

            </div>
        </div>
    </div>
</section>

<!-- Does this work -->
<section id="install" class="download-umbraco download-umbraco--install" style="display: none">
    <div class="mac-notice">
        You're running macOS, follow <a href="">this guide.</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="dl-content steps">
                    <h2>Almost there</h2>
                    <div class="guide">
                        <div class="step step-one">
                            <span>1</span>
                            <div>Unzip</div>
                        </div>
                        <div class="step step-two">
                            <span>2</span>
                            <div>Run with VS Code & IIS Express</div>
                        </div>
                        <div class="step step-three">
                            <span>3</span>
                            <div>Follow the installer</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- insert gif here -->
                </div>
            </div>
        </div>
    </div>
    <div class="archive">
        See detailed instructions in the <a href="/documentation/Getting-Started/Setup/Install/">documentation</a>
    </div>
</section>

@section EndScripts {

    <script src="https://cdn.rawgit.com/MohammadYounes/jquery-scrollLock/master/jquery-scrollLock.js"></script>

    <script>
        (function () {
            svg4everybody();

            // show install screen when clicking the manual download link
            $('.dl-content').on('click', '#downloadButton', function (e) {
                $('section#download').fadeOut();
                $('section#install').fadeIn();
            });

            // open video overlay when clicking the video thumbnail
            $('.video-element').on('click', function () {
                var videoId = $(this).data('video');

                if (videoId) {
                    var videoIframeHtml = $('<iframe width="1200" height="674" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>').attr('src', 'https://player.vimeo.com/video/' + videoId + '?autoplay=1&color=ffffff&title=0&byline=0&portrait=0');
                    umbraco.overlay.create({
                        'content': videoIframeHtml,
                        'class': 'overlay--video'
                    });

                }
            });

        })();
        // Fetch all the details element.
        const details = document.querySelectorAll("details");

        // Add the onclick listeners.
        details.forEach((detail) => {
            detail.addEventListener("toggle", () => {
                if (detail.open) setTargetDetail(detail);
            });
        });

        // Close all the details that are not targetDetail.
        function setTargetDetail(targetDetail) {
            details.forEach((detail) => {
                if (detail !== targetDetail) {
                    detail.open = false;
                }
            });
        }
    </script>
}