@using ClientDependency.Core.Mvc
@inherits UmbracoTemplatePage
@{
    Layout = "~/Views/Master.cshtml";
    Html.RequiresJs("~/scripts/projects/jquery.tagger.js", 100);
    Html.RequiresJs("~/scripts/projects/jquery.autocomplete.js", 100);
    Html.RequiresJs("~/scripts/swfUpload/callbacks.js", 105);
    Html.RequiresJs("~/scripts/swfUpload/SWFUpload.js", 110);
}
<div class="page-content">
    <div class="sidebar-area">
        <div class="sidebar-content">
            <div class="content-wrapper">
                @Umbraco.RenderMacro("MemberProfileNavigation", new { source = "1057" })
            </div><!-- .content-wrapper -->
        </div><!-- .sidebar-content -->
    </div><!-- .sidebar-area -->
    <div class="main-area">
        <div class="main-content">
            <div class="content-wrapper">
                @Umbraco.RenderMacro("Breadcrumb", new { linkToCurrent = "1" })
                @Umbraco.RenderMacro("Deli-CreateProject")
            </div><!-- .content-wrapper -->
        </div><!-- .main-content -->
    </div><!-- .main-area -->
</div><!-- .page-content -->