@using OurUmbraco.Our.Api
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "DashboardLayout.cshtml";
}
@Html.Partial($"~/Views/Partials/Dashboards/{Model.Content.Name}.cshtml")

@*<div class="row">

    <!-- Gauge Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <canvas id="gauge" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>*@

@section Scripts
{
    <script type="text/javascript" src="/dashboard/vendor/tsgauge/gauge.js"></script>

    <script type="text/javascript">
        var ctx = document.getElementById("gauge").getContext("2d");
        var chart = new Chart(ctx, {
            type: "tsgauge",
            data: {
                datasets: [
                    {
                        backgroundColor: ["#67b7dc"],
                        borderWidth: 0,
                        gaugeData: {
                            value: 130,
                            valueColor: "#000"
                        },
                        gaugeLimits: [0, 200]
                    }
                ]
            },
            options: {
                events: [],
                showMarkers: true
            }
        });
    </script>
}
