@inherits UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}

<div id="overlay" class="overlay"></div>
<div class="page-content">

    <div class="sidebar-area">
        <div class="sidebar-content" style="position:relative;top:110px;">
            <div class="content-wrapper">

               @Umbraco.RenderMacro("[Member]ProfileNavigation", new { source = 1057 })

            </div><!-- .content-wrapper -->
        </div><!-- .sidebar-content -->
    </div><!-- .sidebar-area -->

    <div class="main-area">
        <div class="main-content">
            <div class="content-wrapper">
                @Umbraco.Field("bodyText")

            </div><!-- .content-wrapper -->
        </div><!-- .main-content -->
    </div><!-- .main-area -->

</div><!-- .page-content -->
