@inherits UmbracoTemplatePage
@{
    Layout = "~/Views/Master.cshtml";
}
<section class="plain">
    <div>
        <!-- FORUM HEADER START -->
        <div class="utilities">
            @Html.Action("Render", "Breadcrumb", new { linkToCurrent = false })
            <div class="clear"></div>
        </div>
        @Html.Partial("~/Views/Partials/Projects/ProjectDetails.cshtml")
    </div>
</section>

@section EndScripts {
    <script type="text/javascript">
        (function () {
            $(".fancybox")
                .fancybox({
                    openEffect: 'none',
                    closeEffect: 'none',
                    padding: 0
                });
        })();
    </script>
}