@using OurUmbraco.Our.Models
@inherits UmbracoTemplatePage
@{
    Layout = "~/Views/Master.cshtml";
}
<div class="plain">
    <!-- search OVERVIEW START -->
    @Html.Action("Render", "Search")
    <!-- search OVERVIEW END -->
    <script>
        $(document).ready(function () {
            ga(function (tracker) {
                var clientId = tracker.get('clientId');
                alert(clientId);
            });
        });
    </script>
</div>
