<?xml version="1.0" encoding="utf-8"?>
<Form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="UmbracoContour">
  <Name>Comment form</Name>
  <Created>2010-08-02T14:14:51.02</Created>
  <FieldIndicationType>NoIndicator</FieldIndicationType>
  <Indicator />
  <ShowValidationSummary>false</ShowValidationSummary>
  <HideFieldValidation>false</HideFieldValidation>
  <RequiredErrorMessage>{0} is mandatory</RequiredErrorMessage>
  <InvalidErrorMessage>{0} is not valid</InvalidErrorMessage>
  <MessageOnSubmit>Thank you</MessageOnSubmit>
  <GoToPageOnSubmit>0</GoToPageOnSubmit>
  <ManualApproval>false</ManualApproval>
  <Archived>false</Archived>
  <StoreRecordsLocally>true</StoreRecordsLocally>
  <DisableDefaultStylesheet>false</DisableDefaultStylesheet>
  <Pages>
    <Page>
      <FieldSets>
        <FieldSet>
          <Fields>
            <Field>
              <PreValues />
              <Caption>Name</Caption>
              <ToolTip />
              <SortOrder>0</SortOrder>
              <PageIndex>0</PageIndex>
              <FieldsetIndex>0</FieldsetIndex>
              <Id>00000000-0000-0000-0000-000000000000</Id>
              <FieldSet>50c835f5-5584-4a04-a137-af863cf6d6f7</FieldSet>
              <Form>224fb869-69de-4bd7-bf35-0cf26bddb2a5</Form>
              <FieldTypeId>3f92e01b-29e2-4a30-bf33-9df5580ed52c</FieldTypeId>
              <Mandatory>true</Mandatory>
              <RegEx />
              <RequiredErrorMessage />
              <InvalidErrorMessage />
              <PreValueSourceId>00000000-0000-0000-0000-000000000000</PreValueSourceId>
              <Settings />
            </Field>
            <Field>
              <PreValues />
              <Caption>Email</Caption>
              <ToolTip />
              <SortOrder>1</SortOrder>
              <PageIndex>0</PageIndex>
              <FieldsetIndex>0</FieldsetIndex>
              <Id>00000000-0000-0000-0000-000000000000</Id>
              <FieldSet>50c835f5-5584-4a04-a137-af863cf6d6f7</FieldSet>
              <Form>224fb869-69de-4bd7-bf35-0cf26bddb2a5</Form>
              <FieldTypeId>3f92e01b-29e2-4a30-bf33-9df5580ed52c</FieldTypeId>
              <Mandatory>true</Mandatory>
              <RegEx>^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$</RegEx>
              <RequiredErrorMessage />
              <InvalidErrorMessage />
              <PreValueSourceId>00000000-0000-0000-0000-000000000000</PreValueSourceId>
              <Settings />
            </Field>
            <Field>
              <PreValues />
              <Caption>Website</Caption>
              <ToolTip />
              <SortOrder>2</SortOrder>
              <PageIndex>0</PageIndex>
              <FieldsetIndex>0</FieldsetIndex>
              <Id>00000000-0000-0000-0000-000000000000</Id>
              <FieldSet>50c835f5-5584-4a04-a137-af863cf6d6f7</FieldSet>
              <Form>224fb869-69de-4bd7-bf35-0cf26bddb2a5</Form>
              <FieldTypeId>3f92e01b-29e2-4a30-bf33-9df5580ed52c</FieldTypeId>
              <Mandatory>false</Mandatory>
              <RegEx>(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;amp;:/~\+#]*[\w\-\@?^=%&amp;amp;/~\+#])?</RegEx>
              <RequiredErrorMessage />
              <InvalidErrorMessage />
              <PreValueSourceId>00000000-0000-0000-0000-000000000000</PreValueSourceId>
              <Settings />
            </Field>
            <Field>
              <PreValues />
              <Caption>Comment</Caption>
              <ToolTip />
              <SortOrder>3</SortOrder>
              <PageIndex>0</PageIndex>
              <FieldsetIndex>0</FieldsetIndex>
              <Id>00000000-0000-0000-0000-000000000000</Id>
              <FieldSet>50c835f5-5584-4a04-a137-af863cf6d6f7</FieldSet>
              <Form>224fb869-69de-4bd7-bf35-0cf26bddb2a5</Form>
              <FieldTypeId>023f09ac-1445-4bcb-b8fa-ab49f33bd046</FieldTypeId>
              <Mandatory>true</Mandatory>
              <RegEx />
              <RequiredErrorMessage />
              <InvalidErrorMessage />
              <PreValueSourceId>00000000-0000-0000-0000-000000000000</PreValueSourceId>
              <Settings />
            </Field>
          </Fields>
          <Caption>Your comment</Caption>
          <SortOrder>0</SortOrder>
          <Id>00000000-0000-0000-0000-000000000000</Id>
          <Page>bb5d36bc-0342-4756-b885-a775092b4a65</Page>
        </FieldSet>
      </FieldSets>
      <Caption>Leave a comment</Caption>
      <SortOrder>0</SortOrder>
      <Id>00000000-0000-0000-0000-000000000000</Id>
      <Form>224fb869-69de-4bd7-bf35-0cf26bddb2a5</Form>
    </Page>
  </Pages>
  <DataSource>00000000-0000-0000-0000-000000000000</DataSource>
  <Id>224fb869-69de-4bd7-bf35-0cf26bddb2a5</Id>
</Form>