<?xml version="1.0" encoding="utf-8"?>
<Form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="UmbracoContour">
  <Name>Contact form</Name>
  <Created>2010-08-02T14:03:07.987</Created>
  <FieldIndicationType>NoIndicator</FieldIndicationType>
  <Indicator />
  <ShowValidationSummary>false</ShowValidationSummary>
  <HideFieldValidation>false</HideFieldValidation>
  <RequiredErrorMessage>{0} is mandatory</RequiredErrorMessage>
  <InvalidErrorMessage>{0} is not valid</InvalidErrorMessage>
  <MessageOnSubmit>Thank you</MessageOnSubmit>
  <GoToPageOnSubmit>0</GoToPageOnSubmit>
  <ManualApproval>false</ManualApproval>
  <Archived>false</Archived>
  <StoreRecordsLocally>true</StoreRecordsLocally>
  <DisableDefaultStylesheet>false</DisableDefaultStylesheet>
  <Pages>
    <Page>
      <FieldSets>
        <FieldSet>
          <Fields>
            <Field>
              <PreValues />
              <Caption>Name</Caption>
              <ToolTip />
              <SortOrder>0</SortOrder>
              <PageIndex>0</PageIndex>
              <FieldsetIndex>0</FieldsetIndex>
              <Id>00000000-0000-0000-0000-000000000000</Id>
              <FieldSet>13f13922-57b1-45fb-83df-6f24f27da4ce</FieldSet>
              <Form>68189404-e009-43d1-b046-f8439b28339c</Form>
              <FieldTypeId>3f92e01b-29e2-4a30-bf33-9df5580ed52c</FieldTypeId>
              <Mandatory>true</Mandatory>
              <RegEx />
              <RequiredErrorMessage />
              <InvalidErrorMessage />
              <PreValueSourceId>00000000-0000-0000-0000-000000000000</PreValueSourceId>
              <Settings />
            </Field>
            <Field>
              <PreValues />
              <Caption>Email</Caption>
              <ToolTip />
              <SortOrder>1</SortOrder>
              <PageIndex>0</PageIndex>
              <FieldsetIndex>0</FieldsetIndex>
              <Id>00000000-0000-0000-0000-000000000000</Id>
              <FieldSet>13f13922-57b1-45fb-83df-6f24f27da4ce</FieldSet>
              <Form>68189404-e009-43d1-b046-f8439b28339c</Form>
              <FieldTypeId>3f92e01b-29e2-4a30-bf33-9df5580ed52c</FieldTypeId>
              <Mandatory>true</Mandatory>
              <RegEx>^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$</RegEx>
              <RequiredErrorMessage />
              <InvalidErrorMessage />
              <PreValueSourceId>00000000-0000-0000-0000-000000000000</PreValueSourceId>
              <Settings />
            </Field>
            <Field>
              <PreValues />
              <Caption>Message</Caption>
              <ToolTip />
              <SortOrder>2</SortOrder>
              <PageIndex>0</PageIndex>
              <FieldsetIndex>0</FieldsetIndex>
              <Id>00000000-0000-0000-0000-000000000000</Id>
              <FieldSet>13f13922-57b1-45fb-83df-6f24f27da4ce</FieldSet>
              <Form>68189404-e009-43d1-b046-f8439b28339c</Form>
              <FieldTypeId>023f09ac-1445-4bcb-b8fa-ab49f33bd046</FieldTypeId>
              <Mandatory>true</Mandatory>
              <RegEx />
              <RequiredErrorMessage />
              <InvalidErrorMessage />
              <PreValueSourceId>00000000-0000-0000-0000-000000000000</PreValueSourceId>
              <Settings />
            </Field>
          </Fields>
          <Caption>Contact</Caption>
          <SortOrder>0</SortOrder>
          <Id>00000000-0000-0000-0000-000000000000</Id>
          <Page>67849f6b-ec40-4eb2-82a8-89600372c7d6</Page>
        </FieldSet>
      </FieldSets>
      <Caption>Contact</Caption>
      <SortOrder>0</SortOrder>
      <Id>00000000-0000-0000-0000-000000000000</Id>
      <Form>68189404-e009-43d1-b046-f8439b28339c</Form>
    </Page>
  </Pages>
  <DataSource>00000000-0000-0000-0000-000000000000</DataSource>
  <Id>68189404-e009-43d1-b046-f8439b28339c</Id>
</Form>