<?xml version="1.0" encoding="utf-8"?>
<umbracocontour>
  <settings version="1.1.6">
    <setting key="UploadStorageDirectory" value="" />
    <!-- This can be 2 different things either True/False or a list of form names that ignore workflows, -->
    <!-- commaseperated: form name,contact form,etc -->
    <setting key="IgnoreWorkFlowsOnEdit" value="True" />
    <!-- This can be 2 different things either True/False or a list of form names that will execute workflows async,  -->
    <!-- commaseperated: form name,contact form,etc -->
    <!-- this setting is experimental and does not work with workflows that depends on the umbraco node factory or umbraco context-->
    <setting key="ExecuteWorkflowAsync" value="False" />
  </settings>
</umbracocontour>