@using OurUmbraco.Community.GitHub
@using OurUmbraco.Our.Models
@inherits OurUmbracoTemplatePage

<h1 style="color: red; ">Note: this is a WIP page, you can only see this because you have the admin role on Our, this page is not publicly available - no sharing yet please :-)</h1>

@KarmaStatistics()
@GitHubMatch()

@helper GitHubMatch()
    {
        <section class="community">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <h1 class="text-center">GitHub Match (WIP)</h1>
                        <p>
                            For people who have added their GitHub name to their profile, match up their PRs.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <small>GitHub activity</small>
                    </div>

                    <div class="col-md-12 flex" id="github-statistics">
                        @{
                            var githubService = new GitHubService();
                            var matches = githubService.MatchPullsToMembers();
                        }
                        <ul>
                            @foreach (var match in matches)
                            {
                                <li>@Html.Raw(match)</li>
                            }
                        </ul>
                    </div>

                </div>
            </div>
        </section>
}

@helper KarmaStatistics()
    {
        <section class="community">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <h1 class="text-center">Karma Statistics</h1>
                        <p>
                            Top karma earners
                        </p>
                    </div>

                    <div class="col-md-12 flex" id="karma-statistics">
                        <h2>Loading latest karma statistics...</h2>
                    </div>

                </div>
            </div>
        </section>
}