@using OurUmbraco.Forum.Extensions
@using OurUmbraco.Our.Models
@inherits OurUmbracoTemplatePage
@{
    // Only for HQ members right now
    var member = Members.GetCurrentMember();
    if (member == null || member.IsHq() == false) { return; }

    var homeNotificationText = Model.Content.GetPropertyValue<string>("homeOnlyBanner");
    var showHomeNotification = string.IsNullOrWhiteSpace(homeNotificationText) == false;
    var globalNotificationText = Model.Content.GetPropertyValue<string>("mainNotification");
    var showGlobalNotification = string.IsNullOrWhiteSpace(globalNotificationText) == false;

}
<style>
    .bannertext p {
        line-height: 1.4rem;
    }
</style>

@if (showGlobalNotification)
{
    <div class="alertbar__yellow">
        @Html.Raw(globalNotificationText)
    </div>
}

@if (showHomeNotification)
{
    @Html.Raw(homeNotificationText)
}

@if (Members.IsLoggedIn())
{
    @ForumStatistics()
}
else
{
    @ForumStatistics()
}

@helper ForumStatistics()
{
    <section class="forum">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h1 class="text-center">Forum Statistics</h1>
                    <p>
                        Number of topics, replies, (un)solved topics and topics with no reply
                    </p>
                </div>
                <div class="col-md-12">
                    <small>Forum activity</small>
                </div>

                <div class="col-md-12 flex" id="forum-statistics">
                    <h2>Loading latest forum statistics...</h2>
                </div>
                
            </div>
        </div>
    </section>
}