@using ClientDependency.Core.Mvc
@{
    Html.RequiresJs("~/assets/js/lib/markerclusterer.js");
    Html.RequiresJs("~/assets/js/map/community.map.js");

    //Google Maps API Key
    var apiKey = "AIzaSyCyVUmjYOjblvpPIE9Qqhz1yjLp3HzKnC4";
}

<style>
    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
     #map {
         min-height: 500px;
     }
</style>

<h1>Map</h1>
<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=@(apiKey)&callback=initMap"></script>