@using ClientDependency.Core.Mvc
@{
    Html.RequiresJs("~/assets/js/lib/markerclusterer.js");
    var apiKey = "AIzaSyCyVUmjYOjblvpPIE9Qqhz1yjLp3HzKnC4";
}

<style>
    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
     #map {
         min-height: 500px;
     }
</style>

<h1>Map</h1>
<div id="map"></div>
<script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: {lat: 0, lng:0}
        });
        
        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.

        
          $.getJSON("/umbraco/api/mapapi/GetAllMemberLocations", function(data) {
              console.log('data', data);
              console.log('length', data.length);

              var markers = data.map(function(item) {
                  
                  var latlng = new google.maps.LatLng(item.Lat, item.Lon);
                    return new google.maps.Marker({
                      position: latlng
                  });
              });

              // Add a marker clusterer to manage the markers.
              var markerCluster = new MarkerClusterer(map, markers,
                  {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          });


       

        
      }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=@(apiKey)&callback=initMap"></script>