<script type="text/javascript">

    function loadAllGitHubContributors() {
        $('#github-contributors .github-contributor-list').addClass('all');
    }

    $(document).ready(function() {
        try {
            $("#twitter-search").load("@Url.Action("TwitterSearchResult", "TwitterSearch", new {numberOfResults = 6})");
        } catch (errTwitter) {
            console.log("Couldn't load Twitter feed", errTwitter.message);
        }

        try {
            $("#meetups").load("@Url.Action("GetEvents", "Meetups")");
        }
        catch (errMeetups) {
            console.log("Couldn't load meetups", errMeetups.message);
        }

        try {
            $("#forum-activity").load("@Url.Action("LatestActivity", "LatestActivity", new {numberOfTopics = 6})");
        } catch (errForum) {
            console.log("Couldn't load latest forum activity", errForum.message);
        }

        try {
            $("#github-contributors").load("@Url.Action("GitHubGetContributorsResult", "GitHubContributor")");
        }
        catch (errGitHub) {
            console.log("Couldn't load latest GitHub contributor activity", errGitHub.message);
        }

    });
</script>
<script type="text/javascript" src="/assets/js/components/highfives.js"></script>
<script type="text/template" class="high-five-template">
    <div class="high-five-item">
        <div class="avatar">
            <img src="{{avatar}}?v=test&width=100&height=100&mode=crop&upscale=true" srcset="{{avatar}}?v=test&width=200&height=200&mode=crop&upscale=true 2x, {{avatar}}?v=test&width=300&height=300&mode=crop&upscale=true 3x" alt="{{name}}" />
        </div>

        <div class="meta">
            <div class="high-five-text">
                <h3 class="high-five-header">{{compliment}} {{name}}</h3>
                <p>
                    {{highFiver}} High Fived you for {{type}}:  <a href="{{url}}">{{linkTitle}}</a>, {{timestamp}}
                </p>
            </div>
        </div>
</script>
</div>