<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="url" value="http://dreamingofawhitechristmas.our.umbraco.org/umbraco/plugins/Notifications/SheduledTaskTrigger.aspx" />
    <add key="interval" value="900000" />
    <!--
    <add key="configFile" value="C:\Users\Tim Geyssens\Documents\Visual Studio 2008\Umbraco\OUR\NotificationMailer\NotificationMailer.config"/>
    -->
  </appSettings>
</configuration>
