<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <notification name="New forum post" interval="200" assembly="temp" type="temp">
    <from>
      <name>Our umbraco</name>
      <email>robot@umbraco.org</email>
    </from>
    <subject>There has been a new post</subject>
    <body>There has been a new post</body>
  </notification>


  <notification name="Another forum post" interval="100" assembly="temp" type="temp">
    <from>
      <name>Our umbraco</name>
      <email>robot@umbraco.org</email>
    </from>
    <subject>There has been a new post</subject>
    <body>There has been a new post</body>
  </notification>
  
  
</configuration>