<div class="row projectGroups">
    @foreach (var item in Model.Children.Where("Visible"))
    {
        <div class="projectGroup col-md-6">
            <div style="background-image: url('@item.ContentIcon');">
                <h3><a href="@item.Url">@item.Name</a></h3>
                <p>@item.Abstract</p>
            </div>
        </div>
    }
</div>