@using OurUmbraco.MarketPlace.Interfaces
@using Umbraco.Core

@{
    var categoryProvider = new OurUmbraco.MarketPlace.Providers.UmbracoCategoryProvider();
    IEnumerable<ICategory> cats = categoryProvider.GetAllCategories();
    var selected = "";
}
<h3>Project Categories</h3>
<ul>
@foreach (var cat in cats)
{

    <li>
        <a href="@cat.Url">

          @cat.Name
        </a>
@*        <small>(@cat.ProjectCount)</small>*@
    </li>
}
</ul>
