@using Marketplace.Interfaces
@using Marketplace.Providers

@{
    ICategoryProvider categoryProvider = (ICategoryProvider)MarketplaceProviderManager.Providers["CategoryProvider"];
    IEnumerable<ICategory> cats = categoryProvider.GetAllCategories();
    var selected = "";
}
<h3>Project Categories</h3>
<ul>
@foreach (var cat in cats)
{

    <li>
        <a href="@cat.Url">

          @cat.Name
        </a>
@*        <small>(@cat.ProjectCount)</small>*@
    </li>
}
</ul>
