@using Our.Umbraco.uTwit
@using Our.Umbraco.uTwit.Models
@using umbraco.MacroEngines
@inherits DynamicNodeContext
@{
    var configProperty = Model.AncestorOrSelf(1).uTwit;
    if (configProperty.GetType() != typeof (DynamicNull))
    {
        var config = uTwit.DeserializeValue(configProperty);
        var tweets = uTwit.SearchTweets(config, "umbraco", 5);

        foreach (Status tweet in tweets)
        {
            <ul class="twitter summary">
                <li>
                    <small>@tweet.LinkifiedText</small><br />
                    <a href="@tweet.PermalinkUrl" style="display: inline">@tweet.User.Name</a> <small>(@uTwit.FormatDate(tweet.CreatedAt) ago)</small>
                </li>
            </ul>
        }
    }
}