<access>
  <page id="1057" loginPage="4729" noRightsPage="4729" simple="False">
    <group id="standard" />
  </page>
  <page id="6772" loginPage="1056" noRightsPage="1056" simple="False">
    <group id="standard" />
  </page>
  <page id="8283" loginPage="1056" noRightsPage="4729" simple="False">
    <group id="wiki editor" />
  </page>
  <page id="8615" loginPage="1056" noRightsPage="4729" simple="False">
    <group id="wiki editor" />
  </page>
</access>