@using OurUmbraco.Forum.Extensions
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@if(Members.IsLoggedIn()){
    <div class="user">
        <img src="@Members.GetCurrentMember().Avatar()" alt="">
    </div>
}else{
    <a href="/members/login">Sign in</a>  <a href="/members/register">Register</a>   
}