@using OurUmbraco.Community.People
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@if (Members.IsLoggedIn())
{
    var currentMember = Members.GetCurrentMember();
    var avatarService = new AvatarService();
    var img = avatarService.GetImgWithSrcSet(currentMember, currentMember.Name, 100);

    <div class="user">
        @Html.Raw(img);
    </div>
}
else
{
    <a href="/members/login">Sign in</a> <a href="/members/register">Register</a>
}