@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="quick-menu">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="close">
					<img src="assets/images/close.png" alt="">
				</div>

				<div class="user-image">
					<img src="https://s3.amazonaws.com/uifaces/faces/twitter/anoff/128.jpg" alt="">
				</div>

				<div class="user-profile">
					<h2>Darth Vader</h2>
					<div class="karma">
						2410
					</div>
					<div class="user-twitter">
						<a href="#">@@Darth</a>
					</div>
				</div>

				<small>
					Activity in threads you participated in
				</small>

				<div class="user-latest-posts">

					<a href="#" class="forum-thread">
						<div class="row">
							<div class="col-xs-12">
								<div class="forum-thread-text">
									<h3>RE: Allow user to change site design</h3>
									<p>Posted in Using Umbraco 7 by Dennis Aaen</p>
								</div>
							</div>
						</div>
					</a>

					<a href="#" class="forum-thread">
						<div class="row">
							<div class="col-xs-12">
								<div class="forum-thread-text">
									<h3>RE: Allow user to change site design</h3>
									<p>Posted in Using Umbraco 7 by Dennis Aaen</p>
								</div>
							</div>
						</div>
					</a>

					<a href="#" class="forum-thread">
						<div class="row">
							<div class="col-xs-12">
								<div class="forum-thread-text">
									<h3>RE: Allow user to change site design</h3>
									<p>Posted in Using Umbraco 7 by Dennis Aaen</p>
								</div>
							</div>
						</div>
					</a>

				</div>
			</div>
		</div>
	</div>
</div>
