<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to https" stopProcessing="true" xdt:Transform="Insert">
          <match url="(.*)" />
          <conditions>
            <!-- Do not redirect these paths to SSL as it breaks the package installer in everybody's backoffice -->
            <add input="{URL}" negate="true" pattern="umbraco/webservices/api" />
            <add input="{URL}" negate="true" pattern="umbraco/developer/packages" />
            
            <!-- Redirect everything else to https -->
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>