<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="umbracoUseSSL" value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    </appSettings>
    <system.web>
        <authentication mode="Forms">
            <forms requireSSL="true" xdt:Transform="SetAttributes" />
        </authentication>
    </system.web>
</configuration>