<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="owin:appStartup" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="owin:appStartup" value="UmbracoStandardOwinStartup" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
  </appSettings>
  <system.web></system.web>
</configuration>