@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using uForum;
@using uForum.Services


@{
    var topicService = new TopicService(ApplicationContext.DatabaseContext);
    var topics = topicService.GetLatestTopics();
}

<ul>
    @foreach (var topic in topics.Items)
    {
        <li>
            @topic.Title
        </li>
    }
</ul>