@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Web.Mvc.Html
@using uForum;
@using uForum.Services

@{
    var topicService = new TopicService(ApplicationContext.DatabaseContext);
    var commentService = new CommentService(ApplicationContext.DatabaseContext, topicService);
    var topic = topicService.CurrentTopic(this.Context, ApplicationContext.ApplicationCache.RequestCache);
    var topicAuthor = topic.AuthorName;
    var forum = Umbraco.TypedContent(topic.ParentId);

}

<!-- COPY LINK -->

<div id="overlay" class="overlay"></div>

<div id="copy-link-wrapper" class="copy-link-wrapper">
    <i class="icon-Link"></i>
    <input class="getLink" readonly="readonly" type="text" value='' />
    <p>Press Ctrl / CMD + C to copy this to your clipboard.</p>
</div>

<div id="thankyou">
    Copied to clipboard
</div>

<!-- COPY LINK END -->

<!-- DELETE THREAD/COMMENT START -->
@if (Members.IsLoggedIn())
{
<div id="confirm-wrapper" class="confirm-wrapper">
    <h4>Are you sure?</h4>
    <p>This <span class="type-of"></span> will be gone forever and ever</p>
    <br />
    <button type="button" class="button green tiny">Yes</button>
    <button type="button" class="button red tiny">No</button>
</div>
}
<!-- DELETE THREAD END -->

<ul class="comments">
    @Html.Partial("forum/question", topic)

    @foreach (var comment in topic.Comments)
    {
        Html.RenderPartial("forum/comment", comment, new ViewDataDictionary { { "level", 1 }, { "answer",  topic.Answer } });

        if (comment.HasChildren)
        {
            var children = commentService.GetChildComments(comment.Id);
            foreach (var child in children)
            {
                Html.RenderPartial("forum/comment", child, new ViewDataDictionary { { "level", 2 }, { "answer", topic.Answer } });
            }
        }
    }

</ul>

@if (Members.IsLoggedIn()) { 
<div class="replybutton">
    <a href="#" class="button green large reply forum-reply" data-author="@topicAuthor" data-topic="@topic.Id" data-controller="comment">Reply to topic</a>
</div>
}
else { 
<div class="replybutton notloggedin">
    Please <a href="/member/login?redirectUrl=@topic.Url">Log in</a> or <a href="/member/signup">sign up</a> to post replies
</div>
}
