@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using uForum;

@{
    var topic = uForum.Services.TopicService.Instance.CurrentTopic( this.Context );
    var comments = uForum.Services.CommentService.Instance.GetComments(topic.Id);
    var topicAuthor = topic.Author();
    var forum = Umbraco.TypedContent(topic.ParentId);
}

<!-- COPY LINK -->

<div id="overlay" class="overlay"></div>

<div id="copy-link-wrapper" class="copy-link-wrapper">
    <i class="icon-Link"></i>
    <input class="getLink" readonly="readonly" type="text" value='' />
    <p>Press Ctrl / CMD + C to copy this to your clipboard.</p>
</div>

<div id="thankyou">
    Copied to clipboard
</div>

<!-- COPY LINK END -->

<ul class="comments">
    @Html.Partial("forum/question", topic)

    @foreach (var comment in comments)
    {
        Html.RenderPartial("forum/comment", comment, new ViewDataDictionary { { "level", 1 }, { "answer",  topic.Answer } });

        if (comment.HasChildren)
        {
            var children = uForum.Services.CommentService.Instance.GetChildComments(comment.Id);
            foreach (var child in children)
            {
                Html.RenderPartial("forum/comment", child, new ViewDataDictionary { { "level", 2 }, { "answer", topic.Answer } });
            }
        }
    }

    <div class="replybutton reply">
        <a href="#" class="button green large" data-topic="@topic.Id" data-controller="comment">Reply to topic</a>
    </div>
</ul>