@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Web.Mvc.Html
@using uForum.Models
@using uForum.Services

@{
    var topicService = new TopicService(ApplicationContext.DatabaseContext);
    var commentService = new CommentService(ApplicationContext.DatabaseContext, topicService);
    var topic = topicService.CurrentTopic(this.Context, ApplicationContext.ApplicationCache.RequestCache);
    var topicAuthor = topic.AuthorName;
}

<!-- COPY LINK -->

<div id="overlay" class="overlay"></div>

<div id="copy-link-wrapper" class="copy-link-wrapper">
    <i class="icon-Link"></i>
    <input class="getLink" readonly="readonly" type="text" value='' />
    <p>Press Ctrl / CMD + C to copy this to your clipboard.</p>
</div>

<div id="thankyou">
    Copied to clipboard
</div>

<!-- COPY LINK END -->
<!-- DELETE THREAD/COMMENT START -->
@if (Members.IsLoggedIn())
{
    <div id="confirm-wrapper" class="confirm-wrapper">
        <h4>Are you sure?</h4>
        <p>This <span class="type-of"></span> will be gone forever and ever</p>
        <br />
        <button type="button" class="button green tiny">Yes</button>
        <button type="button" class="button red tiny">No</button>
    </div>
}
<!-- DELETE THREAD END -->

<ul class="comments">
    @Html.Partial("forum/question", topic)

    @foreach (var comment in topic.Comments)
    {
        var comm = comment;
        if (comm.ParentCommentId == 0)
        {
            Html.RenderPartial("forum/comment", comm, new ViewDataDictionary { { "level", 1 }, { "answer", topic.Answer } });
        }

        if (comm.HasChildren)
        {
            var children = commentService.GetChildComments(comm.Id);

            foreach (var child in children.Where(c => c.ParentCommentId == comm.Id))
            {
                // TODO This is NOT how to fix this, but I need to get things done :)
                var childComment = new ReadOnlyComment { Body = child.Body, Created = child.Created, HasChildren = false, Id = child.Id, IsSpam = child.IsSpam, MemberId = child.MemberId, ParentCommentId = child.ParentCommentId, Position = child.Position, Score = child.Score, TopicId = child.TopicId };
                Html.RenderPartial("forum/comment", childComment, new ViewDataDictionary { { "level", 2 }, { "answer", topic.Answer } });
            }
        }
    }

</ul>

@if (Members.IsLoggedIn())
{
    <div class="replybutton">
        <a href="#" class="button green large reply forum-reply" data-author="@topicAuthor" data-topic="@topic.Id" data-controller="comment">Reply to topic</a>
    </div>
}
else
{
    <div class="replybutton notloggedin">
        Please <a href="/member/login?redirectUrl=@topic.GetUrl()">Log in</a> or <a href="/member/signup">sign up</a> to post replies
    </div>
}
