<div class="markdown-spacer"></div>
<div id="markdown-editor" class="markdown-editor">
	<div class="container">
		<div class="row reply-to">
			<div class="col-sm-6">
				<p>Write your reply to: <a class="reply-name" href=""></a></p>
			</div>
		</div>
		<div class="row hidden-xs">
			<div class="col-md-12">
				<div id="wmd-button-bar"></div>
			</div>
		</div>
		<div class="row input-row">
			<div id="input-container" class="col-md-6">
				<label>Editor</label>
				<textarea name="" id="wmd-input" cols="30" rows="10" class="wmd-input markdown-control"></textarea>	
			</div>
			<div id="preview-container" class="col-md-6">
				<label>Preview</label>
				<div id="wmd-preview" class="wmd-panel wmd-preview markdown-syntax"></div>
			</div>
		</div>
        <div class="row">
            <div class="col-xs-8">
                <input class="button tiny" type="button" value="Post reply" id="topic-submit" class="markdown-control">
            </div>
            <div class="col-xs-4 visible-xs visible-sm">
                <button id="mobile-preview" class="markdown-control">
                    <i class="icon-Eye"></i> <span>Preview</span>
                </button>
            </div>
        </div>
	</div>
    <span class="markdown-close icon-Page-down"></span>
	<div class="draft">Draft</div>
</div>
<div id="insert-image-dialog" class="wmd-prompt-dialog" style="position: fixed; width: 400px; z-index: 1001; top: 50%; left: 50%; display: none; margin-top: -86px; margin-left: -200px;">
    <div style="padding: 5px;">
        @*<h4>
                From the web
            </h4>
            <p>
                <input type="text" placeholder="Enter url e.g. http://yoursite.com/image.jpg" />
            </p>*@
        <h4>
            Upload an image
        </h4>
        <span class="loading-small"></span>
        <input type="file" name="file" id="file" data-action="/umbraco/api/forum/editorupload" />
        <div style="text-align:center;">
            <input type="button" value="Cancel" style="margin: 10px; display: inline; width: 7em;">
        </div>
    </div>

</div>