<div class="markdown-spacer"></div>
<div id="markdown-editor" class="markdown-editor">
	<div class="container">
		<div class="row reply-to">
			<div class="col-sm-6">
				<p>Write your reply to: <a class="reply-name" href=""></a></p>
			</div>
		</div>
		<div class="row hidden-xs">
			<div class="col-md-12">
				<div id="wmd-button-bar"></div>
			</div>
		</div>
		<div class="row input-row">
			<div id="input-container" class="col-md-6">
				<label>Editor</label>
				<textarea name="" id="wmd-input" cols="30" rows="10" class="wmd-input markdown-control"></textarea>	
			</div>
			<div id="preview-container" class="col-md-6">
				<label>Preview</label>
				<div id="wmd-preview" class="wmd-panel wmd-preview markdown-syntax"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-xs-6 visible-xs visible-sm">
				<input type="button" value="Preview" id="mobile-preview" class="markdown-control">
			</div>
			<div class="col-sm-3 col-xs-6">
				<input type="button" value="Post Reply" id="topic-submit" class="markdown-control">
			</div>
		</div>
	</div>
	<span class="markdown-close"></span>
	<div class="draft">Draft</div>
</div>