/*OVERALL LAYOUT*/
html, body{padding: 0px; margin: 0px; border: none; height: 100%;}
body{font-size: 12px; background: #f5f5f5 url(img/body_bg.gif) repeat-y top center;
font-family: Trebuchet MS,Arial,sans-serif; color: #2d2c2e; padding-bottom: 0px;}

body#tinymce{background-image: none !Important; text-align: left !Important; padding: 10px !Important;}

#main{text-align: center;
  min-height: 100%; height: auto !Important; height: 100%;
}

.wrapper, #contentArea{margin: auto; text-align: center; width: 980px; position: relative}
.divider{padding: 5px; border-bottom: 1px #999 dotted; clear: both; margin-bottom: 10px;}

#body, .subpage{text-align: left; }
body a{color: #2244BB }

/*TOP + TOPNavi */
#top{
background: #8ECA56;
position:relative; margin-bottom: 0px; height: 83px;}

#top #memberInfo{background: #82b84f; height: 20px; padding: 5px;}

#top a#logo{display: block; top: 9px; left: 0px; padding: 36px 161px 0px 0px; width: 1px; height: 1px; overflow: hidden;
background: url(img/top_logo.png) no-repeat left top; position: absolute; 
}

#top ul{float: right; list-style: none; margin: 12px 0 0 18px; padding: 0px; height: 29px; display: block;}
#top ul li{display: block; float: left; padding: 0; padding-left: 5px; height: 29px;}

#top ul li a{
color:#FFFFFF; display:block;
font-size:1.2em; font-variant:normal; font-weight:bold;
padding: 7px; text-decoration: none;  height: 27px}


#top ul li a:hover{text-decoration: underline;} 
#top ul li.current a{background: url(img/top_nav_a_bg.png) no-repeat bottom center;}

#top #memberHeaderProfile{position: absolute; top: 5px; right: 7px; font-size: 11px; color: #fff; text-align: right; width: 700px;}
#top #memberHeaderProfile a{color: #fff; margin-left: 5px;}
#top #memberHeaderProfile div{display: inline !Important;}


#searchBar{background: #f4f4f2; border-bottom: 1px solid #dadad9; position: relative; padding: 0px; font-weight: bold; padding: 5px;}
#searchBar input.field{clear: both; margin: 0px; font-size: 1.3em; border: 1px solid #ccc; background: #fff; width: 260px}
#searchBar #bt_search{position: absolute; right: 0px; margin: 0px; font-size: 1.3em; width:77px;top:0}

#searchBar .ui{text-align: left; width: 350px; position: relative; margin: auto;}

#searchBarOptions{display: none; padding-top: 10px;}
#searchBarOptions label{padding-right: 15px; padding-left 5px;}

#commentBody_ifr,
#topicBody_ifr{height:277px !important}

/* Box Elemenet */
.box {
background:#F6F7F7;
border:1px solid #F2F2F2;
display:block;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0 0 20px;
padding:0 0 6px;}

.box h4{color:#444444; font-size:12px; font-weight:bold; line-height:12px; padding: 10px !Important; background: #F0F2F2; 
  margin-top: 0px; margin-bottom: 0px; position: relative;
}

.rounded{
  -webkit-border-radius: 10px; /* Safari prototype */
  -moz-border-radius: 10px; /* Gecko browsers */
  border-radius: 10px; /* Everything else - limited support at the moment */
}

.infoBox{padding: 7px 7px 7px 50px; height: auto !Important; min-height: 35px; height: 35px; background: #DDF8CC no-repeat 10px 7px;  font-size: 11px;}
#forumTools{position: absolute; top: 5px; right: 0px; width: 270px; background-image: url(img/icons/info.png); }
#projectsInfo{position: absolute; top: 5px; right: 0px; width: 270px; background-image: url(img/icons/add.png); }
#newTopic{position: absolute; top: 5px; right: 0px; width: 270px; background-image: url(img/icons/add.png); }
#solutionBox{position: absolute; top: 5px; right: 0px; width: 270px; background-image: url(img/icons/add.png); }

.infoBox ul{list-style: none; margin: 0px; padding: 0px;}
.infoBox ul li{padding: 0px 0px 3px 0px;}
.infoBox a{padding: 2px; font-size: 12px;}
.infoBox small{color: #999; display: block; padding-top: 2px;}

div.buttons{margin: 0 0 10px 0;padding: 20px; background: #F0F2F2; font-size: 18px;clear: both;}

a.button{padding: 10px 0px 10px 0px; border: 1px solid #EFEFEF; text-decoration: none;}
a.button em{border: 5px solid #fff; padding: 5px; color: #fff; background: #F5366D; }

/*Breadcrumb*/
#breadcrumb{margin: 0px; margin-top: -10px !Important; padding: 4px; list-style: none; font-size: 10px; color: #999; display: block; margin-bottom: 10px;}
#breadcrumb li{display: inline; padding-right: 5px; margin: 0px;}
#breadcrumb li a{color: #999; padding-right: 3px;}


/*Footer*/
.push{height: 60px; clear: both;}
#footer{font-size: 10px; background: #252525; color: #fff; padding: 20px; height: 19px; text-align: center; 
border-top: 1px dotted #999; margin-top: -60px; clear: both; position: relative;}

#footer a{color: #fff !Important}

/* FORM ELEMENTS */
label.inputLabel {font-weight:bold; width: 10em; display: block; float: left; padding: 1.5em 1.5em 1.5em 0; text-align: right; }

fieldset {padding:0em;margin:1.5em 0 0 0;border:none; border-bottom:1px solid #ccc;}
fieldset small{display: block;}
legend {font-weight:bold;font-size:1.2em;}
input.text, input.title, textarea, select {margin:0.5em 0;border:1px solid #bbb;}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
input.text, input.title, select.title {width:300px;padding:5px;}
input.title, select.title {font-size:1.5em;}

.buttons input{font-size: 18px;}

textarea {width:300px;height:250px;padding:5px;}
.error, .notice, .success, .focus {padding:.2em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4 !Important;color:#8a1f11;border-color:#FBC2C4 !Important;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}

.error * {color:#8a1f11 !Important;}
.notice * {color:#514721;}
.success * {color:#264409;}

.focus{border: none; border-top: 1px solid; border-bottom: 1px solid; border-color: #999; background: #F0F0F0;}

.spotlight{padding: 0px; margin-bottom: 20px; border: none; background: none;}
.spotlight h3, .spotlight h4, .spotlight h2{position: relative; font-size: 14px; margin-bottom: 0px; margin-top: 0px; color: #333; border-bottom: 3px solid #efefef; padding-bottom: 4px;}
.spotlight h2{font-size: 18px;}

.spotlight ul{list-style: none; margin: 0px; padding-left: 10px;}
.spotlight ul.pager{padding-left: 0px;}
.spotlight li{padding: 3px;}
.spotlight a{font-size: 12px;}

.spotlight ul.summary{padding: 5px 0px;}
.spotlight ul.summary li{padding-bottom: 12px !Important; border: none !Important}
.spotlight a.rss_small{top: 3px;}

dt{font-style: italic;}
dd{padding-bottom: 5px;}
label.error, label.notice, label.success {background: none; border: none; padding-left: 1em;}

input.wikiheadline{display: block; background: white; border: 1px solid #DEE4EF; color: #46484B; width: 100%;}

/* SEARCH RESULTS */
#search .result{padding: 10px 10px 25px 80px; background: 20px 10px no-repeat url(search/forum.gif);}

#search .result h3{padding: 0px; font-weight: normal; margin: 0px;}
#search .result h3 a{font-size: 14px; font-weight: bold; display: block; color: #333; text-decoration: none;}
#search .result a:hover{text-decoration: underline;}

#search .result a *{color: inherit}
#search .result p{color: #000; font-size: 12px; padding: 0px; margin: 0px;}
#search .result cite{color: #666; font-size: 11px;}
#search .result em{font-weight: bold !Important;}

#search .wiki{background-image: url(search/wiki.gif);}
#search .project{background-image: url(search/project.gif);}
#search .forum{background-image: url(search/forum.gif);}
#search .documentation {background-image: url(search/documentation.gif);}
#search .solution{background-image: url(search/solved.gif);}

#search .linkNoColor{ color: #333; text-decoration: none; font-style: italic; font-weight: bold; }

/* Member Badge */
div.memberBadge{background: #f0f0f0; padding: 10px 0px 10px 0px; text-align: center;}
div.memberBadge *{color: #333;}
div.memberBadge img{display: block; margin: auto; border: 1px solid #999;}
div.memberBadge span{padding-top: 8px; display: block; font-weight: bold; font-size: 12px}
div.memberBadge small{display: block; font-weight: normal; margin-top: -6px; color: #999}

/* FRONTPAGE */
#dashboard{width: 980px; position: relative}
#sidebar{text-align: left; width: 300px; float: right; margin:20px 0px 20px 0px;}

.callToAction h1{font-size: 20px;}
.callToAction p{font-size: 12px;}
.callToAction h1 a{color: #066808; text-decoration: none;}

ul.summary{list-style: none; padding: 7px; margin: 0px; }
ul.summary li{display: block; border-bottom: #e7e7e7 1px dotted; padding: 3px;}
ul.summary li a{display: block; font-size: 11px;}
ul.summary li small a{display: inline;}

ul.summary img{float: left; height: 32px; width: 32px; margin-right: 10px; overflow: hidden; font-size: 1px;}
ul.forumTopics li{height: auto !Important; height: 37px; min-height: 37px;}

ul.wiki li{padding-left: 42px; background: url(img/doc.png) no-repeat left top;}
ul.projects li{padding-left: 42px; background: url(img/package.png) no-repeat left top;}

a.rss_small{font-size: 9px; position: absolute; right: 10px; top: 8px; font-weight: normal; display: block;
padding: 14px 14px 0px 0px; overflow: hidden; height: 0px; width: 0px; background: url(img/rss.png) no-repeat top left;
}

a.more{display: block; font-size: 11px; color: #999; text-align: center}

/* PROJECTS */
a.projectDownload{background: #ddf8cc url(img/down.png) no-repeat 5px 10px; padding: 10px 10px 10px 50px; display: block; margin-bottom: 10px; text-decoration: none;}
a.projectDownload span{color: #999; text-decoration: none !Important; display: block; font-size: 80%;}

a.projectPurchase{background: #cce2f8 url(img/piggybank.png) no-repeat 5px 10px; padding: 10px 10px 10px 50px; display: block; margin-bottom: 10px; text-decoration: none;}
a.projectPurchase span{color: #999; text-decoration: none !Important; display: block; font-size: 80%;}

.openForCollab{background: #cce2f8 url(img/group.png) no-repeat 5px 10px; padding: 10px 10px 10px 50px; display: block; margin-bottom: 10px; text-decoration: none;}
.openForCollab span{color: #999; text-decoration: none !Important; display: block; font-size: 80%;}


.projectGroups{margin: 0; padding: 0; list-style: none;}
.projectGroups li{margin: 0; float: left;}
.projectGroups li div{width: 380px; margin: 15px; margin-right: 30px; background: top left no-repeat; padding-left: 50px; height: 80px}

.projectGroups h3{padding: 0px; font-weight: normal; margin: 0px;}
.projectGroups h3 a{font-size: 14px; font-weight: bold; display: block; color: #333; text-decoration: none;}
.projectGroups a:hover{text-decoration: underline;}

.projectGroups a *{color: inherit}
.projectGroups p{color: #000; font-size: 12px; padding: 0px; margin: 0px;}


/* Options */
#body .options{text-align: right; padding: 4px; border-top: 1px solid #efefef; font-size: 11px; margin-top:0px; margin-bottom: 10px;}
#body .options ul{list-style: none; margin: 0px; padding: 0px; display: block; height: 25px;}
#body .options ul li{float: left; padding-right: 15px;}
#body .options ul li a{font-size: 11px;}
#body .options ul li.create{float: right}



dl.summary{padding: 7px; font-size: 11px;}


#divFileProgressContainer{width: 300px; margin-top: 10px;}
#divFileProgressContainer .progressContainer{border: 1px solid #ccc; padding: 3px;}
#divFileProgressContainer .progressBarStatus{font-size: 10px; color: #999; }
#divFileProgressContainer .progressBarInProgress{background: green; height: 2px; overflow: hidden;}



/* Member Profile */
#profileNavigation{background: #F0F0F0; padding: 10px; border-bottom: 1px solid #ccc}
#profileNavigation #memberInfo{height: 70px; float: right; width: 300px; background: no-repeat right top; text-align: right; padding-right: 10px;}
#profileNavigation #memberInfo h3{color: #999; font-size: 18px; margin-bottom: 0px; margin-top: 5px;}
#profileNavigation #memberInfo h4{color: #999; font-size: 13px; margin: 0px;}
#profileNavigation #memberAvatar {float: right;}
#profileNavigation #memberAvatar img {height: 50px;}
#profileNavigation ul{padding: 17px; display: block; list-style: none; margin: 0px; font-size: 13px; font-weight: bold; color: #999;}
#profileNavigation ul li{display: inline;}
#profileNavigation ul a{padding: 10px;}

#memberProfile #avatar{float: left; margin: 20px 25px 0px 0px; width: 55px}
#memberProfile #details{float: left; width: 800px;}
#memberProfile .badge{margin: auto; margin-top: 10px;} 

.yourProjects
{
  list-style-type:none;
  margin-left:0;
} 

.yourProjects .projectImage
{
  float:left;
  margin-right: 10px;
}

.yourProjects .projectActions
{
  float:left;
}
.yourProjects h2
{
  font-weight: normal;
}
.yourProjects p a
{
  color: #999999;
}

/* Buddy Icon Form */
#buddyIconForm {padding: 10px; display: block;}
#buddyIconForm .iconOption{width: 320px; display: block; text-align: center; float: left; font-size: 18px; font-weight: bold; color: #999;}
#buddyIconForm .iconOption img{display: block; margin: auto; border: none;}

#webcamHolder{width: 320px; float: right; margin: 0px 0px 20px 20px;}

/* VOTING */
.voting{text-align: center; background: #FFF6BF; border: 2px solid #FFD324; padding: 10px 0px 10px 0px;}
.voting span{font-size: 25px; font-weight: bold; 
color: #514721; display: block; text-align: center;  margin-bottom: 7px;}
.voting span a{color: #514721; text-decoration: none; border-bottom: 1px dotted #999}

.voting a.vote, .voting a.noVote{border: 1px solid #eacf5c; background: #fff; color: #514721; padding: 2px; font-size: 9px; text-decoration: none;}
.voting a.noVote{border: 1px solid #eacf5c; background: #FFF6BF; color: #eacf5c;}


.voting span.good a{color: green;}
.voting span.bad a{color: red;}

.voting a img{border: none;}
.voting .like, .voting .dislike, .voting .kill{font-size: 11px; color: #066808;}

.voting .TopicSolver{border: 1px solid #066808; padding: 2px; display: block; margin-top: 3px }

#moveList{ z-index: 99999; text-align: right; display: none; margin: 7px 0px 0px 20px;  padding: 7px; border: 1px solid #ccc; background: #fff; position: absolute; width: 250px;}
#moveList li{text-align: left !Important; padding: 0px; list-style: none; display: block !Important; float: none !Important;}
#moveList li a{padding: 3px; display: block !Important; float: none;}

.voting .kill, .voting #ToggleMoveList{background: #fff !Important; color: #680708; border: 1px solid #680708; padding: 3px; display: block; font-size: 11px; margin-top: 10px;}
#ToggleMoveList{border-color: #ccc !Important; color: blue !Important;}




/* Pager */
.pager{margin: auto; padding: 20px 40px 40px 40px; list-style: none;display: block; text-align: center;  }
.pager li{display: inline-block; padding-right: 2px; margin: 0px; margin-bottom: 9px;float:left;}
.pager li a{font-size: 12px; padding: 3px 6px; border: 1px solid #ccc;color: black; text-decoration: none;}
.pager li.current a{border: none;}
.pager li a:hover{color: white; background: #252525; border-color: #252525}
.pager li.current a{font-weight: bold;}
.MemberTopicNotifications .pager li.current {font-weight: bold; padding: 1px 6px; font-size: 12px;}

.MemberTopicNotifications li.TopicSolved a { color: #77a948; text-decoration: none; }
.MemberTopicNotifications li.TopicSolved a:hover { color: #77a948; text-decoration: underline; }

#memberLoader span, #memberLoader_weeks span, #memberLoader_year span{display: block; background: url(img/ajax-loadercircle.gif) no-repeat center left; 
    font-size: 11px; color: #999; margin: 10px; padding: 5px 30px 10px 40px; width: 200px;}

/* Member Locator */


#memlocresults{
  margin-top: 10px;
}
#memlocradius{
  width: 470px;
  
}
#memlocslider{
  float:right;
  margin-top: 10px;
}

/* SIMPLE MODAL */
#simplemodal-container{background:#FFF6BF; color:#514721; width: 520px; border: 4px solid #FFD324; padding: 20px;}
#simplemodal-container h3, #simplemodal-container p{color:#514721; margin: 0px; padding: 0px;}
#simplemodal-container h3{font-size: 20px}
#simplemodal-container textarea{display: block; padding: 5px; width: 510px; height: 50px;}
#modalCloseButton{position: absolute; top: 10px; right: 10px; color: #514721; font-size: 11px;}

/* Voting history */
ul.votingHistory{display: block; padding: 5px; margin: 0px; margin-bottom: 10px; list-style: none; overflow: auto; height: 400px;}
ul.votingHistory li{display: block; padding: 10px 10px 10px 35px; margin: 0px; border-top: 1px dotted #ccc; font-size: 11px; background: 5px 12px no-repeat;}

ul.votingHistory li.up{background-image: url(img/icons/thumb_up.png); color: #118B00}
ul.votingHistory li.down{background-image: url(img/icons/thumb_down.png); color: #8B0006}


/* NOTIFICATION BANNER */
#notification{text-align: center; background:#FFF6BF; color:#514721; font-size: 14px; font-weight: bold; 
border-bottom: 1px solid #FFD324; padding: 10px; 

}

/*Project Tagger*/
.tagger { float:left; }
.tagAdd { margin:0 0 0 6px;}
.tagList { list-style:none; padding:0; margin:0; clear:both; border-left:3px solid #ddd; padding-left:4px; float:left; margin:5px 10px;}
.tagName { cursor:pointer; float:left; clear:both; padding:0.1em 1.5em 0.1em 0.4em;}
.tagName:hover { background:#efefef url(img/bullet_toggle_minus.png) right 2px no-repeat; }



/* TAGGER AUTOCOMPLETE */
.ac_results {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: default;
  display: block;
  /* 
  if width will be 100% horizontal scrollbar will apear 
  when scroll mode will be used
  */
  /*width: 100%;*/
  font: menu;
  font-size: 12px;
  /* 
  it is very important, if line-height not setted or setted 
  in relative units scroll will be broken in firefox
  */
  line-height: 16px;
  overflow: hidden;
}

.ac_loading {
  background: white url('img/indicator.gif') right center no-repeat;
}

.ac_odd {
  background-color: #eee;
}

.ac_over {
  background-color: #0A246A;
  color: white;
}

/*TAGCLOUD*/
#tagCloud
{
    margin-top: 10px;
    padding:10px;
    margin-bottom:10px;
    text-align:justify;
}

#tagCloud A
{
    text-decoration:none;
    margin-left:5px;
    margin-right:5px;
    font-family:Verdana, Arial;
    text-transform:lowercase;
    color: #8a8a8a;
}

#tagCloud A:hover, #tagCloud a.current
{
    color:#000;
    text-decoration:underline;
}

#tagCloud A.weight1
{
    font-size: 2em;
    font-weight:bolder;
}
#tagCloud A.weight2
{
    font-size:1.7em;
    font-weight:bolder;
}
#tagCloud A.weight3
{
    font-size: 1.4em;
    font-weight:bolder;
}
#tagCloud A.weight4
{

    font-size: 1.1em;
}
#tagCloud A.weight5
{
    font-size: 0.8em;
}

#tagCloud span
{
    font-size: 10px !Important; 
    color: #595a5a!Important; 
    font-weight: normal  !Important; 
}

.spotlight ul.projectsTagged li{border-bottom:1px solid #EFEFEF !important;}
ul.projectsTagged li h5 a, .projectsTagged h5{text-decoration: none; font-weight: bold; font-size: 14px; margin-bottom: 0px; margin-top: 10px; color: #000;}
ul.projectsTagged li h5 a:hover{text-decoration: underline;}


.projectsTagged p{#search .result p{color: #000; font-size: 12px; padding: 0px; margin: 0px;}}

.hLabel{
    font-size: 10px; 
    color: #adc251;
}

/* Project Page */
#project{position: relative;}
#projectOwner{float: left; width: 55px; text-align: center; margin: 10px 20px 0px 0px;}
#projectDescription{float: left;}

#projectvoting{position: absolute; top: 10px; right: 0px;}
#project .options{border-top: #efefef 1px solid; font-size: 11px; padding: 2px 0px 25px 0px; margin-right: 80px }
#project .badge{margin: auto; margin-top: 10px;}

/* Project Screenshots */
.projectscreenshot{
  display:block;
  float:left;
  padding:10px;
  background-color: #F6F7F7;
  margin-right: 5px;
  margin-bottom: 5px;
}
.projectscreenshot:hover{
  background-color: #F0F2F2;
}

a.badge{display: block; background: no-repeat center center; width: 40px; height: 40px; text-decoration: none; border: none; overflow: hidden; text-indent: -9999px;}
a.mvp{background-image: url(badges/mvp.png);}
a.core{background-image: url(badges/core.png);}
a.hq{background-image: url(badges/hq.png);}
a.vendor{background-image: url(badges/vendor.png);}
a.admin{background-image: url(badges/admin.png);}
a.mvpcandidate {background-image: url(badges/mvp_nominee.png);}
a.core-contrib{background-image: url(badges/core-contrib.png);}

/* Options  */
#options{display: block; height: 20px; padding: 5px; border-top: #efefef 1px solid; margin: 10px 0 0px 0;}
#options ul{list-style: none; margin: 0px; padding: 0px; display: block; height: 20px;}
#options ul li{float: left; padding-right: 15px; margin: 0px;}
#options ul li a{font-size: 11px; margin: 0px;}
#options ul li.right{float: right}

/* Alert */
.alert{
background:#FFF6BF; 
color:#514721; 
font-size: 14px; 
border: 1px solid #FFD324; 
padding: 5px; 
margin-bottom:5px;
}

.confirm{
background:#8ECA56;

font-size: 14px;
border: 1px solid #6AAE30;
padding: 5px;
margin-bottom:5px;
}
/* Top Notifications */
#topNotificationContainer
{
  display:none;
}
.topNotification
{
  background-color: #FFF6BF;
  padding: 7px 0px;
  border-bottom:1px solid #FFD324;
  color: #735005;
  font-weight:bold;
}
.notifyClose
{
  display:block;
  float:right;
  cursor:pointer;
  border: 2px solid #FFD324;
  background-color: #FFF6BF;
  color: #735005;
  padding: 0px 4px;
  margin-right: 20px;
  font-family: Arial;
  text-align:center;
  font-weight: 700;
  line-height: 1;
}

.notifyClose a
{
  color: ##514721;
}

/* General */

a.remove
{
  color:#680708; 
}


/* Project mark verified */
.verifyWikiFile{
  cursor:pointer;
  color:green;
  margin-top: 5px;
  padding-left:18px;
  background: url('img/verify.png') no-repeat bottom left;
  font-size:100% !Important;
}

/* Hide treshold fields */
html .treshold{display:none}

.main-release h3 a {
			font-size: 20px;
		}

.release h3 a {
				font-size: 12px;
				color: gray;
			}

.release div p {
				color: silver;	
				}





































































































































































/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
