/* profile primary navigation */

.options ul,
.projectOptions ul, 
.stepNavigation
{
     height:30px!important;
     display:block;
     border-bottom: 1px solid #82B84F;
     margin:1em 0 0 0;
     padding:0;
}

.projectOptions
{
     position:absolute;
     top:0;
     left:0;
     height:30px;
     
}

.projectOptions ul
{
     border-bottom:none!important;

}

.options ul li,
.projectOptions ul li,
.stepNavigation li
{
    float:left;
    list-style:none;
    padding:5px !important;
    margin-bottom:-1px;
    z-index:100;
    height:20px;
    margin:0!important;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in;
    -o-transition: background 0.5s ease-in;
    -moz-transition: background 0.5s ease-in;
}



.options ul li:hover,
.projectOptions ul li:hover,
.stepNavigation li:hover
{
     background:#efefef;
}

.projectOptions ul li:hover
{
     background:#FFF6BF;
}

.options ul li.current,
.projectOptions ul li.current,
.stepNavigation li.current
{
    border-top: 1px solid #82B84F;
    border-left: 1px solid #82B84F;
    border-right: 1px solid #82B84F;
    background: #d3f39c;
    font-weight:bold;
}

.projectOptions ul li.current
{
    border:none;
    background:#efefef;
}

.projectOptions ul li.current a{
    text-decoration:none!important;
    color:#333!important;
    font-weight:normal!important;
}

.options ul li.current:hover
{
    background: #d3f39c;
}

.projectOptions ul li.current:hover{
    background:#efefef;
}

.options a,
.projectOptions a,
.stepNavigation a
{
    font-size:13px !important;
}

#projectDescription .options a
{
    font-size:11px !important;   
}

.options li.current a,
.stepNavigation li.current a
{
    text-decoration:none;
    color:#252525;
}

/* profile & package creation sub navigation */
.stepNavigation
{
    border-bottom: 1px solid #FFD324;
}
    
.stepNavigation li.current
{
    border-top: 1px solid #FFD324;
    border-left: 1px solid #FFD324;
    border-right: 1px solid #FFD324;
    background:#FFF6BF;
}

.stepNavigation li.current:hover
{
    background:#FFF6BF;
}

#tabs
{
    position:relative;
    padding-top:43px;
}

.tabContent
{ 
    padding:0px 1em 5px 1em;
    border: 1px solid #efefef;
    background:#F6F7F7;
    overflow:hidden;
    /*-webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;*/


}

/* Cart Progress Indicator */

.cartProgress
{
    clear:both;
    overflow:hidden;
    margin-bottom:10px;
}

.cartProgress ul
{
    margin:0;
    padding:0;
}

.cartProgress ul li
{
    list-style:none;
    display:block;
    height:20px;
    line-height:20px;
    padding:5px 0px 5px 0px;
    width:195px;
    color:#ccc;
    float:left;
    margin: 0;
    text-align:center;
    font-size:14px;
    
} 

.cartProgress ul li.complete
{
    color:#666;
    background:#d3f39c;
    font-weight:bold;
}

.cartProgress ul li.current
{
    color:#fff;
    font-weight:bold;
    background:#8ECA56;
    background:#8ECA56 url(img/progress_indicator.png) no-repeat top left;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.cartProgress ul li.first
{
    background-image:none;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}







/* profile projects styles */
.profileProjectsHolder
{
    width:650px;
    float:left;
}

.profileProjects
{
    margin:0;
    padding:0;
    clear:both;
    overflow:hidden;
}

.profileProjects>li
{
    list-style:none;
    float:left;
    display:block;
    width:220px;
    height:90px;
    border:1px solid #ccc;
    background:#eee;
    padding:10px 10px 10px 80px;
    margin:0 1em 1em 0;
    position:relative;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -o-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
}

.profileProjects>li.add
{
    background:#e6ffc6;
    border:1px solid #8ECA56;
}


.profileProjects img
{
    position:absolute;
    left:15px;
    top:10px;
}

.profileProjects>li.add img
{
    top:20px;
    left:55px;
}

.profileProjects>li:hover
{
    background:#ddd;
}

.profileProjects>li.add:hover
{
    background:#baf581;
}

.profileProjects>li h3
{
    margin:0;
    padding:0;   
}

.profileProjects>li.add h3
{
    margin-top:27px;
    margin-left:35px;
}

.profileProjects .projectNav
{
    margin:.5em 0 0 0;
    padding:0;
}

.profileProjects .projectNav li
{
    margin:0;
    padding:0;
    float:left;
    list-style:none;
}

.profileProjects .projectNav li a
{
    display:block;
    padding:.3em .5em;
    background:#999;
    text-decoration:none;
    font-size:.9em;
    font-weight:bold;
    color:#fff;
    margin:.1em;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in;
    -o-transition: background 0.1s ease-in;
    -moz-transition: background 0.1s ease-in;
}

.profileProjects .projectNav li a:hover
{
    background:#8ECA56;
}

.profileProjects .projectIcon
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


/* Deli BI styles */ 

.overviewCharts .biChart
{
    float:left;
    width:215px;
    height:225px;
    padding:10px;
    margin:10px 10px 10px 0;
    border:1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


.overviewCharts .biChart.last
{
    margin-right:0;   
}

    

.overviewCharts .biChart h3, .statsBoxLine h3
{
    margin:0;
    padding:0;
}


.statsBoxLine
{
    float:left;
    width:485px;
    height:220px;
    padding:10px;
    margin:10px 10px 10px 0;
    border:1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

fieldset p{
clear:both;
}

.dataTable
{
    border-collapse:collapse;
    border:1px solid #ddd;
    width:100%;
    margin-bottom:1em;
}

.dataTable td, .dataTable th
{
    padding:8px !important;
}


.dataTable th
{
    color: #fff;
    background: #8ECA56;
    font-size:14px;
}

.dataTable tbody tr
{
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -o-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
}

.dataTable tbody tr:hover
{
    /*text-shadow: 0 0 3px #fff;*/
    background:#ddd;
}

.dataTable tbody tr.totals:hover td
{

    background:#82B84F;
}

.dataTable tr.totals
{
    font-weight:bold;
    font-size:14px;
}

.dataTable tr.totals td
{
    border-top:3px solid #8ECA56;
}

.dataTable .count, .dataTable .center
{
    text-align:center;
}

.dataTable .money, .dataTable .right
{
    text-align:right;
}

.statsOverview
{
    overflow:hidden;
}

.statsBox
{
    width:200px;
    height:90px;
    float:left;
    margin:10px 10px 10px 0;
    border:1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;  
}

.statsBox .holder50
{
    overflow:hidden;
}

.statsBox .stat, .statsBox .stat50
{
    text-align:center;
    padding:10px;
    background:#eee;
}

.statsBox .stat span
{
    font-size:25px;
    font-weight:bold;
}

.statsBox .stat50 span
{
    font-size:20px;
    font-weight:bold;
}

.stat50
{
    
    width:80px;
    float:left;
    padding-bottom:5px!important;
    padding-top:5px!important;
}

.statsBox.green .stat
{
    background:#D3F39C;
}

.statsBox.red .stat
{
    background:#ffbebe;
}

.statsBox .statType
{
    font-size:15px;
    font-weight:bold;
    text-align:center;
    padding:10px;   
    color:#fff;
    background:#999;
    border-top:1px solid #fff;
}
    
.statsBox.green .statType
{
    background:#8ECA56;   
}

.statsBox.red .statType
{
    background:#bc3a3a;   
}

.statsBox.tall
{
    height:141px;
}

/* package creation go live check styles */ 


.eligibilityNotification, .errorBox
{
    padding:.5em 1em 0 1em;
    font-weight:bold;
}

.eligible
{
    border:4px solid #8ECA56;
    background:#ddffbe;
}

.notEligible, .errorBox
{
    border:4px solid #bc3a3a;
    background:#ffbebe;
}


/* addtocart styles */

.projectPurchase, .projectDownload
{
    display:block;
    margin-bottom:10px;
    padding:10px 10px 10px 50px!important;
    text-decoration:none;
    position:relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#999999;
    font-size:80%;
    text-decoration:none !important;  
}

.downloadBtn img{
border:0;
}


.projectPurchase
{
        background:url("img/shoppingbasket.png") no-repeat 10px 10px #CCE2F8;
}

.projectDownload
{
        background:#DDF8CC!important;
}

.projectDownload .downloadBtn
{
    display:block;
    position:absolute;
    left:7px;
    bottom:3px;
    border:0;
}
    

.projectPurchase h4, .projectDownload h4
{
    margin:0;
    padding:0;   
}

.projectPurchase ul
{
    margin:0;
    padding:0;
}

.projectPurchase li
{
    font-size:11px;
    display:block;
    list-style:none;
    margin:0;
    padding:3px;
    line-height:18px;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -o-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#999;
}

.projectPurchase li:hover
{
    background-color:#eee;
}

.projectPurchase li .addToCart
{
    float:right;
    width:30px;
    height:18px;
    border:0;
}

.microCart
{
    color:#fff;
    margin-left:10px;
    display:inline-block;
    background:#8ECA56;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:3px 3px 3px 0px;
    
    
}

.microCart a
{
    text-decoration:none;
}

#top #memberHeaderProfile
{
    top:0!important;
    right:0!important;
}

.deliLeft
{
    float:left;
    width:220px;
}

.deliRight
{
    float:left;
    width:760px;
}

.deliNav
{
    width:190px;
    padding:10px;
    background:#efefef;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right:10px;
    margin-bottom:10px;
}

.deliNav.paid, .deliNav.hqPicks
{
    background:#CCE2F8;
}

.deliHelp
{
	background:#FFF6BF;
}


.deliNav h3
{
    padding:0 0 5px 0;
    margin:0;
    border-bottom:1px solid #ddd;
}

.deliNav ul, 
ul.linkList
{
    margin:5px 0;
    padding:0;
}

.deliNav li,
 ul.linkList li
{
    list-style:none;
    padding:3px;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -o-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    font-size:13px;
    font-weight:bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position:relative;
}

 ul.linkList.icons li
 {
     padding-left:40px;
 }
 
 ul.linkList.icons li img
 {
     position:absolute;
     left:3px;
     top:3px;
 }

.deliNav li:hover,
ul.linkList li:hover,
.deliNav li.current,
ul.linkList li.current
{
    background:#fff;   
}

.deliNotification ul.linkList li:hover
{
    background:#FFD324;    
}

.deliNotification ul.linkList small
{
    font-weight:normal;
}

.deliNav li a,
ul.linkList li a
{
    text-decoration:none!important;
}

.deliFeatureBox
{
  border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:10px;
  margin-top: 0px;
    position:relative;
}

.deliFeatureBox
{
    padding:0;
}

.deliFeatureBox img
{
    display:block;
    border:0;
}

.deliFeatureBox:hover .deliPackage
{
    display:block;
    position:absolute;
    left:10px;
    top:10px;
    width:300px;
    height:230px;
    background:#fff;
    z-index:200;
  
  
    border:1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.60);
}

.deliPromoBox{
 position:relative;
}


.deliPromoBox h2
{
    margin-top: 8px;
  margin-bottom: 10px;  
  padding-bottom: 3px;
  
    border-bottom: 1px solid #efefef;
}

.deliPromoBox a.viewAll
{
    position:absolute;
    right:10px;
    top:2px;
    font-size:13px;
}

.deliPromoBox ul
{
    margin:0;
    padding:0;
}

.deliPromoBox li
{
    list-style:none;
    float:left;
    background:#fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width:164px;
    height:110px;
    margin:10px;
    text-align:center;
    position:relative;
}

.deliPromoBox li .deliPackage
{
    padding:5px;
}

.deliPromoBox li .deliPackage a
{
  color: #000;
  text-decoration: none;
}

.deliPromoBox li .deliPackage a:hover
{
  text-decoration: underline;
}



.commercialIndicator
{
    position:absolute;
    top:0;
    right:0;
    width:30px;
    height:30px;
    text-indent:-9999em;
    font-size:1px;
}

.commercialIndicator.commercial
{
    background:url(img/paid-euro.png) no-repeat top right;
}



.deliPromoBox li .hiLite, 
.deliFeatureBox .deliPackage
{
    display:none;
}

.packageIcon
{
  margin:0 auto;
    display:block;
    width:50px;
    height:1px;
    padding: 0;
  overflow: hidden;
  padding-top: 50px;
}

.deliPromoBox li h3
{
    font-size:12px;
    margin:0;
    padding:0;
}

.deliPromoBox li .creator,
.deliFeatureBox .deliPackage .creator
{
    font-size:9px;
  display: none;
}

.deliPromoBox li .category
{
    font-size:9px;
}

.deliPromoBox li .popularity
{
    display: none;
}


.deliPromoBox li:hover .deliPackage
{
    position:absolute;
    top:-25px;
    left:-65px;
    width:300px;
    height:200px;
    background:#fff;
    border:1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index:200;
    text-align:left;
    padding:0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.60);
}

.deliPromoBox li:hover .deliPackage .brief, 
.deliFeatureBox .deliPackage .brief
{
    padding:5px 10px 10px 85px;  
    position:relative;
    height:50px;
}


.deliPromoBox li:hover .deliPackage .brief .packageIcon, 
.deliFeatureBox .deliPackage .brief .packageIcon
{
    position:absolute;
    left:10px;
    top:5px;
}
    

.deliPromoBox li:hover .deliPackage h3, 
.deliFeatureBox .deliPackage h3
{
    font-size:14px;
    margin-top:12px;
}

.deliPromoBox li:hover .deliPackage .creator, 
.deliFeatureBox .deliPackage .creator
{
    position:absolute;
    bottom:5px;
    right:5px;
}

.deliPromoBox li:hover .hiLite, 
.deliFeatureBox .deliPackage .hiLite
{
    display:block;
    padding:5px 10px 10px 85px;
}

.deliPromoBox li:hover .hiLite p, 
.deliFeatureBox .deliPackage .hiLite p
{
        font-size:12px!important;
        margin:0;
        padding:0;
        line-height:15px;
        color: #444444
}

.deliPromoBox li:hover .hiLite a, 
.deliFeatureBox .deliPackage .hiLite a
{
    text-decoration:none!important;
}

.deliPromoBox li:hover .popularity, 
.deliFeatureBox .deliPackage .popularity
{
    display:block;
    position: absolute;
    top: 70px;
    left: 10px;
    width: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #5c5c5c
}

.deliPromoBox li:hover .popularity .karma, 
.deliFeatureBox .deliPackage .popularity .karma{
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 7px;
  
}

.deliPromoBox li:hover .popularity small, 
.deliFeatureBox .deliPackage .popularity small
{font-size: 10px;
  font-weight: normal; display: block; text-variant: uppercase}

.deliTags #tagCloud
{
    margin:0;
    padding:0;
}

.deliTags #tagCloud a
{
    text-decoration:none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -o-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    padding:3px 5px;
    margin:0;
}

.deliTags #tagCloud a:hover
{
    background:#8ECA56;
    color:#fff;
}
  
  
  .deliNotification
  {
   padding:10px 20px 10px 20px;
   background:#FFF6BF;
   border:1px solid #FFD324;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:10px;
  }
  
  .sidebarNotification
  {
      margin-top:44px;
     width:288px;
    float:left;  
  }
  
  .deliNotification h3
  {
      margin:0;
      padding:0;
  }


.deliPaging
{
    clear:both;
}

.deliPaging li
{
    width:auto!important;
    height:auto!important;
}

.deliPaging li a
{
    display:block;
    background:#eee;
    color:#000;
    padding:5px;
    text-decoration:none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -o-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
}

.deliPaging li a:hover
{
    background:#8ECA56;
    color:#fff;
}

.deliPaging li a.selected
{
    background:#8ECA56;
    color:#fff;
}


.deli-loader
{
    clear:both;
    display:block;
    height:120px;
    padding:25px 0;
    text-align:center;
}
    

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}
    














/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
