/*
    Documentation Section CSS overrides
*/

/* Merge Bootstrap main font styling only for markdown DIV */


#markdown-docs {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
}

#markdown-docs a {
  color: rgba(55, 121, 185, 0.87);
  text-decoration: none;
}
#markdown-docs a:hover {
  color: #005580;
  text-decoration: underline;
}
#markdown-docs p {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 22px;
  margin-bottom: 15px;
}

#markdown-docs p small {
  font-size: 11px;
  color: #999999;
}
#markdown-docs .lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}
#markdown-docs h1,
#markdown-docs h2,
#markdown-docs h3,
#markdown-docs h4,
#markdown-docs h5,
#markdown-docs h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
  text-rendering: optimizelegibility;
  font-family: helvetica, arial, freesans, clean, sans-serif;
}

#markdown-docs h1 small,
#markdown-docs h2 small,
#markdown-docs h3 small,
#markdown-docs h4 small,
#markdown-docs h5 small,
#markdown-docs h6 small {
  font-weight: normal;
  color: #999999;
}
#markdown-docs h1 {
  font-size: 30px;
  line-height: 36px;
	margin-right:250px;
}

#markdown-docs h1 small {
  font-size: 18px;
}

#markdown-docs h2 {
  font-size: 24px;
  line-height: 36px;
  border-bottom: 1px dotted #aaa;
  
}

#markdown-docs h2 small {
  font-size: 18px;
}

#markdown-docs h3 {
  line-height: 27px;
  font-size: 18px;
}

#markdown-docs h3 small {
  font-size: 14px;
}

#markdown-docs h4,
#markdown-docs h5,
#markdown-docs h6 {
  line-height: 18px;
}
#markdown-docs h4 {
  font-size: 14px;
}
#markdown-docs h4 small {
  font-size: 12px;
}
#markdown-docs h5 {
  font-size: 12px;
}
#markdown-docs h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}
#markdown-docs ul,
#markdown-docs ol {
  padding: 0;
  margin: 0 0 9px 25px;
}
#markdown-docs ul ul,
#markdown-docs ul ol,
#markdown-docs ol ol,
#markdown-docs ol ul {
  margin-bottom: 0;
}
#markdown-docs ul {
  list-style: disc;
}
#markdown-docs ol {
  list-style: decimal;
}
#markdown-docs li {
  font-size: 14px;
  line-height: 22px;
}
#markdown-docs ul.unstyled,
#markdown-docs ol.unstyled {
  margin-left: 0;
  list-style: none;
}
#markdown-docs dl {
  margin-bottom: 18px;
}
#markdown-docs dt,
#markdown-docs dd {
  line-height: 18px;
}
#markdown-docs dt {
  font-weight: bold;
  line-height: 17px;
}
#markdown-docs dd {
  margin-left: 9px;
}
#markdown-docs .dl-horizontal dt {
  float: left;
  clear: left;
  width: 120px;
  text-align: right;
}
#markdown-docs .dl-horizontal dd {
  margin-left: 130px;
}
#markdown-docs hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #ffffff;
}
#markdown-docs strong {
  font-weight: bold;
}
#markdown-docs em {
  font-style: italic;
}
#markdown-docs small {
  font-size: 100%;
}
#markdown-docs cite {
  font-style: normal;
}

#markdown-docs code {
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  color: #d14;
  
  display:inline-block !important;
  margin:0 !important;
  max-width:100% !important;
  
  margin: 0 2px;
  padding: 0 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
}

#markdown-docs pre{
  padding: 0 3px 2px;
  color: #333333;
   border: 1px solid #EAEAEA !Important;
  background-color: #F8F8F8 !Important;
  border-left: 4px solid #EAEAEA !Important;
}



#markdown-docs pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12.025px;
  line-height: 18px;
  background-color: #F2F2F2;
  border: 1px solid #cecece;
  border-left: 4px solid #cecece;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  
  /* overide main fonts.css */
  max-width:100% !important;
}
#markdown-docs pre.prettyprint {
  margin-bottom: 18px;
}
#markdown-docs pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}
#markdown-docs .pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
#markdown-docs table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  width: 100%;
  margin-bottom: 18px;
}
#markdown-docs th,
#markdown-docs td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
#markdown-docs th {
  font-weight: bold;
}
#markdown-docs  thead th {
  vertical-align: bottom;
}
#markdown-docs  colgroup + thead tr:first-child th,
#markdown-docs colgroup + thead tr:first-child td,
#markdown-docs thead:first-child tr:first-child th,
#markdown-docs thead:first-child tr:first-child td {
  border-top: 0;
}
#markdown-docs tbody + tbody {
  border-top: 2px solid #dddddd;
}
#markdown-docs tbody tr:nth-child(odd) td,
#markdown-docs tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
#markdown-docs tbody tr:hover td,
#markdown-docs tbody tr:hover th {
  background-color: #f5f5f5;
}


.edit-doc-btn {
    float: right;
    display: block;
    padding: 2px 10px 2px 10px;
}







/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
