/* Forum */
#forum table.forumList{ width: 100%; border: none; margin-bottom: 15px;}
#forum table.forumList thead{background: #fff; color: #46484B; padding: 5px;}
#forum table.forumList thead th{padding: 3px; border-bottom: #efefef 1px solid; font-size: 90%; 
text-align: left; }

#forum table.forumList tbody{background: #fff; font-size: 12px;}

#forum table.forumList tbody th{font-weight: normal; border-bottom: #efefef 1px solid; 
padding: 15px; text-align: left; padding-left: 60px }


#forum table.forumList tbody td{border-bottom: #efefef 1px solid; 
  background: #fff; width: 200px; padding: 15px; font-size: 11px; text-align: right;}

#forum table.forumList tbody td a{color: #999; text-decoration: none; font-size: 10px; display: block;  }

#forum table.forumList td.replies, #forum table.forumList td.votes{
  width: 40px; text-align: center; background: #F3F3F3; font-size: 20px; font-weight: bold;
  color: #999; }

#forum table.forumList td.voted{color: green;}
#forum table.forumList td.replies small, #forum table.forumList td.votes small{display: block; padding: 2px; color: #999 !Important;}

#forum table.forumList th a{color: #000; font-size: 14px; font-weight: bold; text-decoration: none;}
#forum table.forumList th a:hover{text-decoration: underline;}

#forum table.forumList .forumName{color: #252525; font-size: 110%;}
#forum table.forumList .forumStats{font-weight: bold;}
#forum table.forumList .forumDesc{font-weight: normal; color: #333}

#forum table.forumList .forumLastPost{}
#forum table.forumList th.title a{display: block;}

#forum table.forumList tr th{background: no-repeat 15px 20px url(forum/forum.gif);}
#forum table.forumList tr.solved th{background-image: url(forum/solved.gif);}


/* Options  */
#forum #options{display: block; height: 20px; padding: 5px; border-top: #efefef 1px solid; margin: 10px 0 0px 0;}
#forum #options ul{list-style: none; margin: 0px; padding: 0px; display: block; height: 20px;}
#forum #options ul li{float: left; padding-right: 15px; margin: 0px;}
#forum #options ul li a{font-size: 11px; margin: 0px;}
#forum #options ul li.right{float: right}

/* NEW */
#forum ul.commentsList{list-style: none; margin: 0; padding: 0}
#forum ul.commentsList li{display: block; margin: 0px 0px 35px 0px;}

#forum ul.commentsList li .author{display: block; float: left; width: 56px; margin-right: 20px;}
#forum ul.commentsList li .comment{float: left; display: block; width: 820px;}
#forum ul.commentsList li .voting{float: right; display: block; width: 50px;}

#forum ul.commentsList li.replies{border-bottom: #999 1px solid; margin: 10px 0px 25px 0px;}

/*badge */
#forum ul.commentsList li .author{text-align: center;}
#forum ul.commentsList li .author a.badge{margin: auto; margin-top: 10px;}

/* comment */
#forum ul.commentsList li .comment .meta{font-size: 11px;}
#forum ul.commentsList li .comment .meta h2{font-size: 24px;}
#forum ul.commentsList li .comment .postedAt{padding-bottom: 5px; border-bottom: 1px solid #efefef}
#forum ul.commentsList li .comment .options ul{margin: 0; padding: 3px 0px 15px 0px; height: 15px !important; list-style; none; font-size: 11px;}
#forum ul.commentsList li .comment .options ul li{display: inline; padding-right: 15px; font-size: 11px; float: left; margin: 0px}

#forum ul.commentsList li .comment .body{font-size: 12px;}
#forum ul.commentsList li .comment .body p{font-size: 12px; margin-top: 0px; margin-bottom: 15px;}
#forum ul.commentsList li .comment .body li{display: list-item; margin-top:.5em; margin-bottom:1em;}
#forum ul.commentsList li .comment .body ul li {list-style-type: disc;}
#forum ul.commentsList li .comment .body img { border: 0; }
#forum ul.commentsList li .comment .body blockquote { margin-bottom: 10px; padding: 10px 10px 1px 10px; background-color: #eeeeee; }

/* Solutions */
#forum ul.commentsList li.postSolution .postedAt{color: #8ECA56 !Important}
#forum ul.commentsList li.postSolution .memberBadge{background: #8ECA56 !Important}
#forum ul.commentsList li.postSolution .memberBadge *{color: #fff !Important}
#forum ul.commentsList .solution{color: #8ECA56 !Important}

/* TinyMCE skin */
#forum .defaultSkin .mceIframeContainer {display: block; border: none !Important; background-color: #fff; vertical-align: top; }
#forum .defaultSkin .mceLast{background: #fff;}

#forum .defaultSkin .mceToolbar {height: 30px; background: #efefef }

/* Comment area */
#forum #commentBody_parent,
#forum #topicBody_parent{border: 1px solid #CCCCCC !important; float: left; margin-bottom: 10px; width: 978px}

#forum #topicBody_parent{width:680px}

#forum .spamNotice {
    background: #FFF6BF;
    padding: 10px;
    margin: 10px;
}
#forum .spamNotice h3 {
    color: #8a0000;
}

























































/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
