/* IE Hacks */

.tip
{
	background:#333;
}

.tip:after {
	display: none;
}

.deliPromoBox li {
    width: 154px;
}

.promoOptions li {
	width: auto;
}

#selectsearch {
	width: 326px;
}

#sections {
	border: 1px solid #ddd;
	left: 203px;
	top: 24px;
}

#sections .sectiontab {
	padding: 0 0 7px 19px;
}

#searchField{
line-height:32px;
}