* {font-size: 100.01%;}
html {font-size: 62.5%;}
body{
  color:#1d1d1d;
  font:1.3em Calibri, Arial, Helvetica, sans-serif;
  margin:0;
  background:#fff;
  min-width:999px;
}


a{
  text-decoration:none;
  color:#252525;
}
a:hover{text-decoration:underline;}
a.ShopButton{display: block; width: 100px; heigth: 100px; background: red;}

img{border-style:none;}
form,fieldset{
  margin:0;
  padding:0;
  border-style:none;
}
input,textarea,select{
  font:100% Calibri, Arial, Helvetica, sans-serif;
  vertical-align:middle;
}
#wrapper{
  width:100%;
  position:relative;
  padding:439px 0 0;
}

#wrapper.Class-Frontpage{padding:489px 0 0;}

.none{display:none;}
/* header */
#header{
  position:absolute;
  top:0;
  left:0;
  height:469px;
  width:100%;
}
/* form-box */
.form-box{
  width:100%;
  background:#171717 url(../images/bg-form-box.gif) repeat-x;
}
.form-box .holder{
  margin:0 auto;
  width:940px;
  overflow:hidden;
  padding:6px 10px 8px;
  position: relative;
}
/* search */
.search {
  float:right;
  width:220px;
}
.search span{
  float:left;
  background: url(../images/bg-search.gif) no-repeat;
  width:178px;
  height:17px;
  padding:3px 10px 0;
  font-size:12px;
}
.search span input{
  display:block;
  background:none;
  border:none;
  outline:none;
  margin:0;
  padding:0;
  width:100%;
  color:#fff;
}
.search .submit{float:right;}
/* add-nav */
.add-nav{
  float:right;
  margin:0;
  padding:3px 7px 0 0;
  list-style:none;
  font-size:12px;
  line-height:14px;
  letter-spacing:-1px;
}
.add-nav li{
  float:left;
  padding:0 16px 0 0;
}
.add-nav li a{color:#fff;}
/* promo-box */
.promo-box{
  width:100%;
  position:relative;
}
/* container */
.promo-box .container{
  height:380px;
  width:100%;
  overflow:hidden;
}
.promo-box .holder{
  margin:0 auto;
  width:940px;
  padding:98px 10px 0;
}
.promo-box .holder:after{
  display:block;
  clear:both;
  content:"";
}

.promo-box .tab{width: 100%}


.promo-box .blackBlue .holder,
.promo-box .blackPurple .holder{
  width:943px;
  padding-left:7px;
}
  
.promo-box .yellow .holder{padding-top:70px;}


.promo-box .blue,
.promo-box .green,
.promo-box .tabPanel{
  background:url(../images/bg-tab-content2.gif) repeat-x;
}
/* tab-content4 */
.promo-box .yellow{
  background:url(../images/bg-tab-content4.gif) repeat-x;
}
/* tab-content5 */
.promo-box  .cyan{
  background:url(../images/bg-tab-content4.gif) repeat-x;
}

.promo-box  .cyan-alt{
  background:url(../images/bg-tab-content4.gif) repeat-x;
}

.promo-box .bg-get-started, .promo-box .bg-natural-born {
  background:url(../images/bg-tab-content4.gif) repeat-x;
}

/* tab-content1 */
.promo-box .blackPurple{background:#252525 url(../images/bg-tab-content1.gif) repeat-x;}

/* tab-content6 */
.promo-box .blackBlue{
  background:url(../images/bg-tab-content6.gif) repeat-x;
}

.promo-box .tabPanel .container{background:url(../images/bg-container2.gif) no-repeat 50% 0;}
.promo-box .bg-support .container{background:url(../images/bg-support.jpg) no-repeat 50% 0;}
.promo-box .bg-get-started .container{background:url(../images/bg-start.jpg) no-repeat 50% 0;}
.promo-box .bg-natural-born .container{background:url(../images/bg-natural-niels.jpg) no-repeat 50% 0;}

/* Shop Flow Tab */
.promo-box .shopFlow{background: url(../images/bg-tab-content-none.gif) repeat-x !Important;}
.promo-box .shopFlow .container{background:url(../images/bg-tab-container-none.gif) no-repeat 50% 0; height: 180px !Important;}
.promo-box .shopFlow .holder{padding:98px 0px 0 !Important;}

/* Empty Tab */
.promo-box .empty{background: url(../images/bg-tab-content-none.gif) repeat-x !Important;}
.promo-box .empty .container{background:url(../images/bg-tab-container-none.gif) no-repeat 50% 0; height: 120px !Important;}

/* Map tab */
.partnerMap{width: 100%;}
.partnerMap .holder{padding: 0px; padding-left: 0px !Important; padding-top:70px !Important; width: 100% !Important; margin-left: 0px;}
.partnerMap .container{background:url(../images/bg-container4.gif) no-repeat 50% 0;}

.promo-box .blackPurple .container{background:url(../images/bg-container1.gif) no-repeat 50% 0;}
.promo-box .green .container{background:url(../images/bg-container2.gif) no-repeat 50% 0;}
.promo-box .blue .container{background:url(../images/bg-container3.gif) no-repeat 50% 0;}
.promo-box .yellow .container{background:url(../images/bg-container4.gif) no-repeat 50% 0;}
.promo-box .cyan .container{background:url(../images/bg-container5.jpg) no-repeat 50% 0;}
.promo-box .blackBlue .container{background:url(../images/bg-container6.gif) no-repeat 50% 0;}

/* panel */
.panel{
  position:absolute;
  top:0;
  left:0;
  width:100%;
}
.panel-holder{
  margin:0 auto;
  width:940px;
  overflow:hidden;
}
/* logo */
.logo{
  float:left;
  width:168px;
  height:51px;
  overflow:hidden;
  text-indent:-9999px;
  background:url(../images/logo.png) no-repeat;
  margin:10px 0 0;
}
.logo a{
  height:100%;
  display:block;
}
/* nav */
#nav{
  float:right;
  margin:0;
  padding:0;
  list-style:none;
}
#nav li{
  float:left;
  background:url(../images/bg-nav.png) no-repeat;
  padding:12px 0 0 16px;
  margin:0 15px 0 0;
  height:58px;
  display:inline;
}
#nav li:first-child{background:none;}
#nav li a{
  float:left;
  text-indent:-9999px;
  overflow:hidden;
  height:34px;
  cursor:pointer;
  outline:none;
}
#nav li a.get-started{
  background:url(../images/text-get-started.png) no-repeat;
  width:81px;
}
#nav li.active a.get-started,
#nav li a.get-started:hover{background:url(../images/text-get-started-hover.png) no-repeat;}

#nav li a.products{
  background:url(../images/text-products.png) no-repeat;
  width:66px;
}
#nav li.active a.products,
#nav li a.products:hover{background:url(../images/text-products-hover.png) no-repeat;}

#nav li a.certified-partners{
  background:url(../images/text-partners.png) no-repeat;
  width:66px;}
#nav li.active a.certified-partners,
#nav li a.certified-partners:hover{background:url(../images/text-partners-hover.png) no-repeat;}


#nav li a.help-and-support{
  background:url(../images/text-support.png) no-repeat;
  width:106px;
}
#nav li.active a.help-and-support,
#nav li a.help-and-support:hover{background:url(../images/text-support-hover.png) no-repeat;}

#nav li a.developers-site{
  background:url(../images/text-site.png) no-repeat;
  width:111px;
}
#nav li.active a.developers-site,
#nav li a.developers-site:hover{background:url(../images/text-site-hover.png) no-repeat;}

#nav li a.about-us{
  background:url(../images/text-about-us.png) no-repeat;
  width:62px;
}
#nav li.active a.about-us,
#nav li a.about-us:hover{background:url(../images/text-about-us-hover.png) no-repeat;}
/* video-holder */
.video-holder{
  float:left;
  background:url(../images/bg-video-holder.png) no-repeat;
  width:465px;
  height:265px;
  padding:2px 0 0 3px;
}
.video-holder a{position:relative;}
.video-holder img{display:block;}
.tab-content6 .text-holder,
.tab-content1 .text-holder{
  overflow:hidden;
  height:1%;
  padding:3px 0 0 15px;
}
.cms{
  display:block;
  background:url(../images/text-cms.png) no-repeat;
  width:364px;
  height:154px;
  text-indent:-9999px;
  overflow:hidden;
  margin:0 0 7px 2px;
}
/* section */
.section{
  overflow:hidden;
  width:372px;
}
/* list */
.list{
  margin:0;
  padding:10px 0 0;
  list-style:none;
  float:left;
  width:200px;
}
.list li{
  background:url(../images/bg-list.gif) no-repeat 0 8px;
  padding:0 0 0 5px;
  margin:0 0 2px;
  float:left;
  width:100%;
}
.list li span{
  text-indent:-9999px;
  overflow:hidden;
  height:22px;
  float:left;
}
.list li span.solutions{
  width:260px;
  background:url(../images/text-solutions_new.png) no-repeat;
}
.list li span.free{
  width:68px;
  background:url(../images/text-free.png) no-repeat;
}
.download{
  float:right;
  background:url(../images/btn-download.png) no-repeat;
  text-indent:-9999px;
  overflow:hidden;
  width:108px;
  height:108px;
  cursor:pointer;
}
.download:hover{background:url(../images/btn-download-hover.png) no-repeat;}
/* certificat */
.certificat{
  position:absolute;
  top:70px;
  right:0;
  width:180px;
}
.certificat span{
  display:block;
  background:url(../images/bg-certificat.png) no-repeat;
  width:180px;
  height:107px;
  text-indent:-9999px;
  overflow:hidden;
}


a.our{
  float:right;
  background:url(../images/btn_our.png) no-repeat;
  text-indent:-9999px;
  overflow:hidden;
  width:108px;
  height:108px;
  cursor:pointer;
  margin-top: -25px;
}
a.our:hover{background:url(../images/btn_our_hover.png) no-repeat;}


/* carousel-w */
.carousel-w{width:100%;}
.site-running{
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/text-site-running.png) no-repeat;
  width:385px;
  height:51px;
}
.as-free-as-you-need{
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/text-as-free-as-you-need.png) no-repeat;
  width:382px;
  height:50px;
  margin-top: 25px;
}
.text-developers-dream{
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/text-a-developers-dream.png) no-repeat;
  width:382px;
  height:50px;
  margin-top: 25px;
}
.prices-text {
  margin-top: 15px;
  width: 520px;
}
.text-well-help{
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/text-well-help.png) no-repeat;
  width:272px;
  height:50px;
  margin-top: 25px;
}
.support-text {
  margin-top: 15px;
  width: 520px;
}
.text-natural-born{
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/text-natural-born-umbracians.png) no-repeat;
  width:480px;
  height:50px;
  margin-top: 25px;
}
.get-started-text {
  margin-top: 0px;
  width: 520px;
}
.text-get-started{
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/text-dont-worry-be-umbraco.png) no-repeat;
  width:272px;
  height:90px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.about-text {
  margin-top: 15px;
  width: 520px;
}
.take-the-test {
  float:right;
  width:108px;
  height:108px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/btn-test-your-needs.png) no-repeat;
  cursor:pointer;
  margin-top: 50px;
  margin-left: 10px;
}
.take-the-test:hover{background:url(../images/btn-test-your-needs-hover.png) no-repeat;}

/* twocolumns */
.twocolumns{
  float:right;
  width:627px;
  padding:37px 0 0;
}
/* switcher */
.switcher{
  width:100%;
  overflow:hidden;
  border-bottom:2px solid #212627;
  padding:0 0 9px;
  margin:0 0 20px;
}
.switcher-inner{
  float:right;
  margin:-2px 0 0;
}
.switcher ul{
  margin:0;
  padding:0;
  list-style:none;
  float:right;
}
.switcher ul li{
  float:left;
  padding-left:9px;
}
.switcher ul li a{
  float:left;
  background:url(../images/bg-link.gif) no-repeat;
  width:11px;
  height:12px;
  overflow:hidden;
  text-indent:-9999px;
  font-size:1px;
  line-height:1px;
}
.switcher ul li a.current,
.switcher ul li a:hover{background-position:0 100%;}
/* carousel-container */
.carousel-container{
  overflow:hidden;
  height:1%;
  padding:0 7px;
}
.link-prev,
.link-next{
  text-indent:-9999px;
  overflow:hidden;
  width:46px;
  height:46px;
  margin-top:62px;
  outline:none;
}
.link-prev{
  float:left;
  background:url(../images/bg-link-prev.gif) no-repeat;
  margin-right:26px;
}
.link-next{
  float:right;
  background:url(../images/bg-link-next.gif) no-repeat;
}
.link-prev:hover,
.link-next:hover{background-position:0 100%;}
.carousel-container div{
  float:left;
  position:relative;
  width:784px;
  height:175px;
  overflow:hidden;
}
.carousel-container div ul{
  margin:0;
  padding:0;
  list-style:none;
  float:left;
  width:99999px;
}
.carousel-container div ul li{
  float:left;
  width:784px;
  overflow:hidden;
}
.carousel-container div ul li ul{
  width:792px;
  margin-right:-8px;
}
.carousel-container div ul li ul li{
  width:190px;
  margin:0 8px 0 0;
}
.carousel-container div.visual{
  background:url(../images/bg-visual.png) no-repeat;
  width:188px;
  padding-left:1px;
  float:none;
}
.carousel-container div ul li img{display:block;}
/* guidance-box */
.guidance-box{
  float:left;
  padding:14px 0 0;
  width:222px;
}
.easy{
  background:url(../images/text-easy.png) no-repeat;
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  width:175px;
  height:90px;
  padding:0 0 50px;
}
.get-books{
  float:right;
  width:108px;
  height:108px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/btn-get-books.png) no-repeat;
  cursor:pointer;
}
.get-books:hover{background:url(../images/btn-get-books-hover.png) no-repeat;}
/* twocolumns */
.twocolumns{
  float:right;
  width:627px;
  padding:37px 0 0;
}
/* column */
.column{
  float:left;
  width:137px;
}
.white-paper{
  display:block;
  width:120px;
  height:24px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/text-white-paper.png) no-repeat;
}
.twocolumns .switcher{margin-bottom:29px;}
.twocolumns .switcher-inner{
  margin:-6px 0 0;
}
.twocolumns .switcher ul{margin-top:0;}
/* long */
.long{
  float:right;
  width:460px;
}
.videos{
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  width:121px;
  height:18px;
  background:url(../images/text-videos.png) no-repeat;
}
.twocolumns .link-prev,
.twocolumns .link-next{margin-top:53px;}
.twocolumns .link-prev{margin-right:24px;}
.twocolumns .carousel-container div{width:308px;}
.twocolumns .carousel-container div ul li{width:308px;}
.twocolumns .carousel-container div ul li ul{
  width:320px;
  margin-right:-12px;
}
.twocolumns .carousel-container div ul li ul li{
  width:148px;
  margin-right:12px;
}
.carousel-container div.visual2{
  background:url(../images/bg-visual2.png) no-repeat;
  width:145px;
  padding:2px 0 0 3px;
  float:none;
}
.visual2 .text{
  display:block;
  background:#252525;
  height:63px;
  width:122px;
  padding:6px 9px 2px;
  color:#fff;
  font-size:11px;
  line-height:18px;
  cursor:pointer;
}
.visual2 .text strong{
  display:block;
  font-size:14px;
}
.carousel-container div ul li a:hover .text{color:#ff6e00;}
.price{
  float:left;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/text-price.png) no-repeat;
  width:195px;
  height:100px;
  margin:84px 104px 0 0;
}
/* listing */
.listing{
  margin:0;
  padding:0;
  list-style:none;
  float:left;
  background:url(../images/bg-listing.gif) repeat-y 171px 0;
  width:400px;
  height:310px;
  position:relative;
}
.listing li{
  position:absolute;
  float:left;
}
.listing li a{outline:none;}
.listing li.style1{
  left:0;
  top:80px;
}
.listing li.style2{
  left:191px;
  top:59px;
}
.listing li.style3{
  left:255px;
  top:146px;
}
.listing li.style4{
  left:190px;
  top:211px;
}
.listing li.style5{
  left:115px;
  bottom:17px;
}
.listing li.style6{
  left:182px;
  bottom:20px;
}
.listing li a img{
  float:left;
  margin-right:6px;
}
.listing li.style1 a img{
  display:block;
  float:none;
}
.listing li a span{
  float:left;
  cursor:pointer;
  text-indent:-9999px;
  overflow:hidden;
}
.listing li a span.cms2{
  float:none;
  display:block;
  background:url(../images/text-cms2.png) no-repeat;
  width:24px;
  height:8px;
  margin:0 0 -4px;
}
.complete{
  background:url(../images/text-complete.png) no-repeat;
  width:58px;
  height:15px;
  margin-top:45px;
}
.channel{
  background:url(../images/text-channel.png) no-repeat;
  width:80px;
  height:12px;
  margin-top:41px;
}
.course{
  background:url(../images/text-course.png) no-repeat;
  width:42px;
  height:8px;
  margin-top:29px;
}
.free2{
  background:url(../images/text-free2.png) no-repeat;
  width:46px;
  height:15px;
}
.extras{
  background:url(../images/text-extras.png) no-repeat;
  width:59px;
  height:11px;
}
/* button */
.button{
  margin: 0;
  padding:0;
  list-style:none;
  float:right;
}
.button li{
  float:left;
  margin-left:7px;
  display:inline;
}
.button li a{
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  width:108px;
  height:108px;
}
a.product{background:url(../images/btn-product.png) no-repeat;}
a.product:hover{background:url(../images/btn-product-hover.png) no-repeat;}
a.test{background:url(../images/btn-test.png) no-repeat;}
a.test:hover{background:url(../images/btn-test-hover.png) no-repeat;}
a.order{background:url(../images/btn-order.png) no-repeat;}
a.order:hover{background:url(../images/btn-order-hover.png) no-repeat;}
.integrator{
  background:url(../images/text-integrator.png) no-repeat;
  text-indent:-9999px;
  overflow:hidden;
  width:354px;
  height:154px;
}
.integratorText{
  width:354px;
}
.download-big{
  float:right;
  background:url(../images/btn-download-big.png) no-repeat;
  width:163px;
  height:163px;
  text-indent:-9999px;
  overflow:hidden;
  margin:100px 20px 0 0;
  display:inline;
}
.download-big:hover{background:url(../images/btn-download-big-hover.png) no-repeat;}
/* tabs */
.tabs{
  width:100%;
  background:#060606 url(../images/bg-tabs.gif) repeat-x;
}
/* tabset */
.tabset{
  margin:0 auto;
  padding:0;
  list-style:none;
  width:960px;
  overflow:hidden;
}
.tabset li{
  float:left;
  background:url(../images/bg-tabset.gif) no-repeat;
}
.tabset li:first-child{background:none;}
.tabset li a{
  float:left;
  width:139px !Important;
  height:41px;
  padding:14px 0 0 21px;
}
.tabset li a span{
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  height:30px;
  cursor:pointer;
}
.tabset li a span.need{
  background:url(../images/text-need.png) no-repeat;
  width:76px;
}
.tabset li a span.see{
  background:url(../images/text-see.png) no-repeat;
  width:99px;
}
.tabset li a span.read{
  background:url(../images/text-read.png) no-repeat;
  width:93px;
}
.tabset li a span.prices{
  background:url(../images/text-prices.png) no-repeat;
  width:38px;
}
.tabset li a span.get-started2{
  background:url(../images/text-get-started2.png) no-repeat;
  width:47px;
}
.tabset li a:hover{background:url(../images/bg-tabset-hover.gif) no-repeat 1px 0;}
.tabset li a.current{background:url(../images/bg-tabset-active.gif) no-repeat 100% 22px !important;}
/* main */
#main{
  margin:0 auto;
  width:964px;
  overflow:hidden;
  padding:0 4px 67px 0;
  position: relative;
  z-index: 20;
}
.Frontpage #main{
  padding:55px 0 56px 0;
  width:960px;
  min-height:356px;
}
* html .Frontpage #main {
  height:356px;
  overflow:visible;
}

#main.noSidebar{
  width:960px !Important;
}

/* Cart special rules */
#wrapper.cart{padding-top: 250px;}
#wrapper.cart .txt-holder{width: 850px;}

#main.noSidebar .main-holder{background: none;}
#main.noSidebar #content{float: left; width: 960px; background: none !Important;}



/* block */
.block{
  width:930px;
  overflow:hidden;
  padding:0 11px 0 19px;
  line-height:1.3em;
}
/* extras-box */
.extras-box{
  color:#212627;
  float:left;
  width:440px;
  margin:0 40px 0 0;
}
/* title */
.title{
  border-bottom:2px solid #252525;
  padding:0 0 9px;
  margin:0 0 16px;
}
#content .title{border-color:#000;}
.title h2{
  margin:0;
  height:24px;
  text-indent:-9999px;
  overflow:hidden;
}
.umbraco-extras{
  background:url(../images/text-umbraco-extras.png) no-repeat;
  width:159px;
}
.releases{
  background:url(../images/text-release.png) no-repeat;
  width:189px;
}
.step{
  background:url(../images/text-step.png) no-repeat;
  width:155px;
}
.test1{
  width:146px;
  background:url(../images/text-test1.png) no-repeat;
}
/* ico-list */
.ico-list{
  margin:0;
  padding:0;
  list-style:none;
}
.ico-list li{margin:0 0 13px;}
.ico-list li a{
  display:block;
  width:389px;
  padding:13px 0 0 51px;
}
.ico-list li a:hover{text-decoration:none;}
.ico-list li a strong{
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  height:23px;
}
.ico-list li a span{display:block;}
.ico1{background:url(../images/bg-ico1.gif) no-repeat;}
.ico1:hover{background:url(../images/bg-ico1-hover.gif) no-repeat;}
.ico2{background:url(../images/bg-ico2.gif) no-repeat;}
.ico2:hover{background:url(../images/bg-ico2-hover.gif) no-repeat;}
.ico3{background:url(../images/bg-ico3.gif) no-repeat;}
.ico3:hover{background:url(../images/bg-ico3-hover.gif) no-repeat;}
.ico-list li a strong.complete1{
  width:330px;
  background:url(../images/text-complete1.png) no-repeat;
}
.ico-list li a strong.channel1{
  width:211px;
  background:url(../images/text-channel1.png) no-repeat;
}
.ico-list li a strong.course1{
  width:178px;
  background:url(../images/text-course1.png) no-repeat;
}
/* releases-box */
.releases-box{
  float:left;
  width:200px;
  overflow:hidden;
}
/* releases-list */
.releases-list{
  margin:0;
  padding:0;
  list-style:none;
}
.releases-list li{
  border-bottom:1px solid #c7c9c9;
  padding:0 0 6px;
  margin:0 0 6px;
  height:1%;
}
.releases-list li a{
  display:block;
  padding:0 0 0 18px;
  background:url(../images/separator.png) no-repeat 0 20%;
  color:#212627;
}
.releases-list li a strong{
  display:block;
  font-size:1.07em;
}
.releases-list li a span{
  display:block;
  font-size:0.85em;
}
.releases-list li a:hover{
  text-decoration:none;
  background:url(../images/separator-hover.png) no-repeat 0 20%;
}
.releases-list li a:hover strong{color:#ff6e00;}
/* previouse */
.previouse{
  background:url(../images/bg-previouse.gif) no-repeat 0 60%;
  padding:0 0 0 8px;
}
/* feature-box */
.feature-box{
  overflow:hidden;
  width:100%;
  padding:24px 0 0;
}
.wish{
  float:right;
  text-indent:-9999px;
  overflow:hidden;
  width:66px;
  height:66px;
  background:url(../images/bg-wish.gif) no-repeat;
}
.feature-box p{margin:0;}
.feature{
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/text-feature.png) no-repeat;
  width:109px;
  height:16px;
  margin:0 0 7px;
}
/* step-box */
.step-box{
  float:right;
  width:220px;
}
.step-box .title{
  width:200px;
  margin-left:10px;
}
/* accordion */
.accordion{
  margin:-6px 0 0;
  padding:0;
  list-style:none;
}
* html .accordion{position:relative;}
.accordion li a{
  display:block;
  width:200px;
  background:#dfdfdf url(../images/bg-accordion.gif) repeat-x;
  padding:0 10px;
  outline:none;
}
.accordion li a strong{
  display:block;
  width:100%;
  background:url(../images/bg-arrow1.gif) no-repeat 100% 50%;
  height:20px;
  font-size:1.07em;
  cursor:pointer;
  padding:7px 0 3px;
}
.accordion li a:hover{
  background:#ff6f01 url(../images/bg-accordion-hover.gif) repeat-x;
  text-decoration:none;
}
.accordion a:hover strong{
  background:url(../images/bg-arrow3.gif) no-repeat 100% 50%;
  color:#fff;
}
.accordion a.ui-state-active{background:#dfdfdf url(../images/bg-accordion.gif) repeat-x !important;}
.accordion a.ui-state-active strong{
  background:url(../images/bg-arrow2.gif) no-repeat 100% 50% !important;
  color:#252525 !important;
}
* html .slide{position:relative;}
.slide ul{
  margin:0;
  padding:0 10px 5px;
  list-style:none;
  overflow:hidden;
  width:200px;
  background:#dfdfdf;
}
.slide ul li{
  float:left;
  width:100%;
  margin:0 0 6px;
}
.accordion .slide ul li a{
  display:block;
  background:url(../images/separator.png) no-repeat 0 10%;
  width:auto;
  padding:1px 0 0 19px;
}
.accordion .slide ul li a:hover{background:url(../images/separator-hover.png) no-repeat 0 10%;}
/* navigation */
.navigation{
  width:100%;
  background:#252525;
  margin:0 0 13px;
}
.navigation .holder{
  margin:0 auto;
  width:960px;
  position:relative;
}
/* main-nav */
.main-nav{
  margin:0;
  padding:0;
  list-style:none;
  width:100%;
  overflow:hidden;
  line-height:1.2em;
}
.main-nav li{
  float:left;
  background:url(../images/divider.gif) no-repeat;
  width:160px;
}
.main-nav li:first-child{background:none;}
.main-nav li a{
  float:left;
  width:145px;
  color:#fff;
  padding:19px 5px 17px 10px;
  min-height:69px;
}
* html .main-nav li a{height:69px;}
.main-nav li a strong{
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  height:16px;
  margin:0 0 6px;
}
.main-nav li a span{display:block;}
.sign-in{
  background:url(../images/text-sign-in.png) no-repeat;
  width:44px;
}
.get-inspired{
  background:url(../images/text-get-inspired.png) no-repeat;
  width:80px;
}
.follow-us{
  background:url(../images/text-follow-us.png) no-repeat;
  width:61px;
}
.providers{
  width:124px;
  background:url(../images/text-providers.png) no-repeat;
}
.main-nav .developer-site{
  width:104px;
  background:url(../images/text-site1.png) no-repeat;
}
.dev-area {
  margin-left: 0px;
  margin-top: 10px;
}

.contact{
  width:53px;
  background:url(../images/text-contact.png) no-repeat;
}
.get-it{
  width:41px;
  background:url(../images/text-get-it.png) no-repeat;
}
.main-nav li a:hover{
  background:url(../images/bg-main-nav-hover.gif) no-repeat 1px 0;
  text-decoration:none;
}
.main-nav li a.last{width:60px;}
.main-nav li a.last:hover{background:none;}
.main-nav li a.download-small{
  float:right;
  background:url(../images/bg-download-small.gif) no-repeat !important;
  width:60px;
  min-height:61px !important;
  overflow:hidden;
  text-indent:-9999px;
  padding:0;
  margin:24px 10px 0 0;
  display:inline;
}
* html .main-nav li a.download-small{height:61px !important;}
.main-nav li a.download-small:hover{background-position:0 100% !important;}
/* picture */
.picture{
  position:absolute;
  top:-100px;
  left:237px;
  background:url(../images/bg-picture.gif) bottom right no-repeat;
  width:573px;
  height:100px;
}
.main-holder{
  background:url(../images/bg-main-holder.gif) no-repeat;
  width:960px;
  overflow:hidden;
}
/* content */
#content {
  float:right;
  width:790px;
  color:#1d1d1d;
  padding:25px 0 0;
  line-height:1.3em;
  overflow:hidden;
  position:relative;
  z-index:5;
}

#content h1{
  font-size: 2em; margin: 0 0 1em 0;
}

#content h1.umbraco-cms{
  background:url(../images/text-umbraco-cms.png) no-repeat;
  width:188px;
}
#content h1.video-tutorials{
  background:url(../images/text-video-tutorials.png) no-repeat;
  width:208px;
}
.content-holder{
  width:100%;
  overflow:hidden;
  margin:0 0 33px;
}
.tab-contents{
  width:100%;
  overflow:hidden;
}
.txt-holder{
  float:left;
  width:455px;
}


.short .txt-holder{
  width:220px;
  color:#000;
}

.txt-holder p{margin:0 0 17px;}
.txt-holder .big{
  font-size:1.2em;
  line-height:1.3em;
  margin:0 0 12px;
}

.right-column{width: 300px; float: right;}

.short .txt-holder .big{margin-bottom:19px;}
.txt-holder .big p{margin:0;}
.content-holder .alignright{
  float:right;
  margin:4px 0 0;
}
.platea{
  display:block;
  font-size:1.08em;
  margin:0 0 7px;
}
/* item-list */
.item-list{
  margin:-16px -20px 24px 0;
  padding:0;
  list-style:none;
  width:800px;
  overflow:hidden;
  font-size:1.07em;
  background:#eaeaea url(../images/bg-item-list.gif) repeat-x;
}
.item-list li{
  width:160px;
  float:left;
  background:url(../images/sep1.gif) no-repeat;
  display:table;
}
.item-list li:first-child{background:none;}
.item-list li a{
  color:#000 !Important;
  text-decoration: none !Important;
  height:55px;
  display:table-cell;
  vertical-align:middle;
  outline:none;
}
* html .item-list li a{float:left;}
*+html .item-list li a{float:left;}
.item-list li a:hover{
  text-decoration:none;
  background:url(../images/bg-item-list-hover.gif) no-repeat;
}
.item-list li a span{
  display:block;
  width:130px;
  background:url(../images/bg-arrow4.gif) no-repeat 100% 50%;
  padding:2px 20px;
  position:relative;
  margin:0 -10px 0 0;
  cursor:pointer;
}
.item-list li a.active{background:none !important;}
.item-list li a.active span{background:url(../images/bg-arrow5.gif) no-repeat 100% 50% !important;}
/* article */
.article{
  border-collapse:collapse;
  float:right;
  width:541px;
  color:#fff;
  margin:6px 0 0;
}
.article th{
  padding:10px 1px 10px 0;
  border-bottom:1px solid #fff;
  background:#333 url(../images/sep2.gif) repeat-y 100% 0;
  font-size:1.15em;
  line-height:1.35em;
}
.article th.style1{
  width:153px;
  background:none;
}
.article th.style2{width:125px;}
.article th.style3{width:114px;}
.article th.style4{
  width:145px;
  background:#333;
  padding-right:0;
}
.article td{
  padding:8px 1px 9px 0;
  border-bottom:1px solid #fff;
  background:#6f6f6f url(../images/sep2.gif) repeat-y 100% 0;
  text-align:center;
  font-size:0.92em;
  letter-spacing:-1px;
}
.article td.style1{
  background-color:#efefef;
  color:#333;
}
.article td.style4{
  background:#6f6f6f;
  padding-right:0;
}
/* sidebar */
#sidebar{
  float:left;
  width:154px;
  padding:5px 0 0;
}
/* nav-bar */
.nav-bar{
  background:url(../images/bg-nav-bar.gif) repeat-y;
}
.nav-bar ul{
  margin:0;
  padding:0 0 45px 4px;
  list-style:none;
  background:url(../images/bg-nav-bar-ul.gif) no-repeat 0 100%;
  font-size:1.08em;
  line-height:1em;
}
.nav-bar ul li{
  background:url(../images/bg-nav-bar-li.gif) no-repeat;
}
.nav-bar ul li:first-child{background:none;}
.nav-bar ul li a{
  color:#252525;
  display:block;
  width:125px;
  padding:18px 5px 18px 20px;
}
.nav-bar ul li.active a{
  background:#fff;
  text-decoration:none;
}
.offernewblack{
  text-indent:-9999px;
  overflow:hidden;
  display:block;
  background:url(../images/text-free-new-black.png) no-repeat;
  width:341px;
  height:50px;
  padding:0 0 30px;
}
.core-channel{
  text-indent:-9999px;
  overflow:hidden;
  display:block;
  background:url(../images/text-core-channel.png) no-repeat;
  width:246px;
  height:37px;
  padding:0 0 30px;
}
.text1{
  display:block;

  overflow:hidden;

  width:258px;
  height:75px;
  margin:0 0 9px;
  color:white;
}
.section2{
  width:100%;
  overflow:hidden;
}
.order1{
  width:108px;
  height:108px;
  text-indent:-9999px;
  overflow:hidden;
  float:right;
  background:url(../images/btn-order1.png) no-repeat;
}
.order1:hover{background:url(../images/btn-order1-hover.png) no-repeat;}
/* video-list */
.video-list{
  margin:0 0 30px;
  padding:14px 0 0 3px;
  list-style:none;
  width:830px;
  overflow:hidden;
  font-size:0.85em;
}
.offersignup{
  width:108px;
  height:108px;
  text-indent:-9999px;
  overflow:hidden;
  float:right;
  background:url(../images/btn-signup.png) no-repeat;
}
.video-list li{
  display:inline-block;
  vertical-align:top;
  width:144px;
  margin:0 15px 26px 0;
}
* html .video-list li{display:inline;}
*+html .video-list li{display:inline;}
.video-list li a{
  color:#252525;
  display:block;
  cursor:pointer;
  outline:none;
  width:144px;
  overflow:hidden;
}
.video-list li a .image{
  display:block;
  width:144px;
  height:83px;
  overflow:hidden;
  margin:0 0 8px;
  border-bottom: 1px solid #ccc;
}
.video-list li a:hover{
  text-decoration:none;
  background:none;
}
.video-list li a .image img{vertical-align:top;}
.video-list li a:hover img{}
.video-list li a .text2{
  display:block;
  background:url(../images/bg-arrow6.png) no-repeat;
  padding:0 0 0 20px;
  width:124px;
}
.video-list li a .text2 strong{
  display:block;
  font-size:1.28em;
  margin:0 0 3px;
}
.video-list li a:hover .text2{background:url(../images/bg-arrow7.png) no-repeat;}
.video-list li a:hover .text2 strong{color:#ff6e00;}
.next-step{
  text-indent:-9999px;
  overflow:hidden;
  display:block;
  background:url(../images/text-next-step.png) no-repeat;
  width:112px;
  height:24px;
}
#content .switcher-inner{margin-top:-12px;}
/* carousel-container2 */
.carousel-container2{
  overflow:hidden;
  height:1%;
  padding:8px 3px 0 11px;
  margin:0 0 35px;
  background:url(../images/bg-carousel-container2.gif) repeat-x 0 100%;
}
.carousel-container2 .link-prev,
.carousel-container2 .link-next{margin-top:52px;}
.carousel-container2 .link-prev{margin-right:24px;}
.carousel-container2 div{
  float:left;
  position:relative;
  width:628px;
  height:180px;
  overflow:hidden;
}
.carousel-container2 div ul{
  margin:0;
  padding:0;
  list-style:none;
  float:left;
  width:99999px;
}
.carousel-container2 div ul li{
  float:left;
  width:628px;
  overflow:hidden;
}
.carousel-container2 div ul li ul{
  margin:0 -12px 0 0;
  padding:0;
  list-style:none;
  width:640px;
}
.carousel-container2 div ul li ul li{
  width:148px;
  margin:0 12px 0 0;
}
.carousel-container2 div.visual3{
  width:145px;
  height:175px;
  background:url(../images/bg-visual3.png) no-repeat;
  padding:2px 0 0 3px;
}
.carousel-container2 div ul li a{
  display:block;
  width:140px;
  height:150px;
  background:#252525 url(../images/bg-visual-a.gif) no-repeat;
  position:relative;
  font-size:14px;
  line-height:1.3em;
  color:#fff;
}
.carousel-container2 div ul li a:hover{
  background:#252525 url(../images/bg-visual-a-hover.gif) no-repeat;
  color:#ff6e00;
  text-decoration:none;
}
.carousel-container2 div ul li a strong{
  position:absolute;
  bottom:0;
  left:0;
  background:#252525;
  width:124px;
  padding:7px 6px 9px 10px;
  cursor:pointer;
}
/* footer-w */
.footer-w{
  overflow:hidden;
  width:100%;
  background:url(../images/bg-footer-w.gif) repeat-x 0 100%;
}
.footer{
  width:100%;
  background:url(../images/bg-footer.gif) no-repeat 50% 100%;
}
.footer .holder{
  margin:0 auto;
  width:940px;
  overflow:hidden;
  padding:0 10px 18px;
  color:#2f2f2f;
  line-height:1em;
}
.footer address{font-style:normal;}
.footer address strong,
.footer address span{
  margin:0 0 5px;
  display:block;
}




















































































































































/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
