/* GENERAL STYLES */
html, body{
	padding: 0px;
	margin: 0px;
	border: none;
}
body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif; color: #333;	
	font-size: 12px;
}



/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
