<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  Key nodes
  
  These are used to store google map api keys (signup: http://code.google.com/apis/maps/signup.html)
  
  Example:
  
  <key url="http://localhost" 
       value="ABQIAAAAOdLNyDEd6aNy5Rmc1shYzRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQlCqEPBOTQvzKK02Zz8bLCct4ypg" />
    
-->
<config autoGeoCodeEnabled="0" autoGeoCodeDocumentTypeAliases="" autoGeoCodeAddressAliases="" autoGeoCodeLocationAlias="">
    <key url="http://localhost" value="ABQIAAAAOdLNyDEd6aNy5Rmc1shYzRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQlCqEPBOTQvzKK02Zz8bLCct4ypg" />
</config>
