<%@ Master Language="C#" MasterPageFile="/masterpages/Mobile.master" AutoEventWireup="true" %>


<asp:Content ContentPlaceHolderId="body" runat="server">

	<div id="header" class="topBar">
		<a id="backButton" href="/">back</a>
  		<h1>Login</h1>
	</div>
	
	<div id="content">

	<form runat="server">
		<asp:LoginStatus id="stat" runat="server" />
		<asp:Login id="login" runat="server" />
	</form>
	</div>


</asp:Content>