<%@ Master Language="C#" MasterPageFile="~/masterpages/RepositoryMaster.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="RepositoryMasterContentPlaceHolder" runat="server">
<%@ Master Language="C#" MasterPageFile="~/masterpages/RepositoryMaster.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="body" runat="server">
    
    <umbraco:Macro Alias="Repository-com-approvedpackages" runat="server"></umbraco:Macro>
  
</asp:content>
</asp:Content>
