<%@ Master Language="C#" MasterPageFile="~/masterpages/Master.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderId="Main" runat="server">

<% Response.Redirect("/page-not-found/"); %>

<asp:ContentPlaceHolder Id="TitleArea" runat="server">
</asp:ContentPlaceHolder>

<asp:ContentPlaceHolder Id="DeliRight" runat="server" />

</asp:Content>