<%@ Master Language="C#" MasterPageFile="~/masterpages/Master.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderId="Main" runat="server">

<div id="dashboard" class="subpage">
    
    <umbraco:Macro runat="server" FileLocation="~/macroScripts/ManageSpam.cshtml" />

</div>
</asp:Content>