<%@ Master Language="C#" MasterPageFile="~/masterpages/Deli.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderId="TitleArea" runat="server">
    <% Response.Redirect("/projects/", false); %>
</asp:Content>
