<%@ Master Language="C#" MasterPageFile="~/masterpages/RepositoryMaster.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="body" runat="server">
    
    <umbraco:Macro Alias="Repository-PopularPackages" runat="server" />
  
    <div id="repoForm">
      <h3>Log in using your our.umbraco.org credentials</h3>
      <umbraco:Macro NextPage="30186" ErrorMessage="Unknown Login" Alias="MemberLogin" runat="server"></umbraco:Macro>
  </div>
</asp:content>