<%@ Master Language="C#" MasterPageFile="~/masterpages/Master.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="MasterContentPlaceHolder" runat="server">
<%@ Master Language="C#" MasterPageFile="~/masterpages/Master.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderId="Main" runat="server">
	<a href="http://localhost:2392/Should-I-Upgrade.aspx">Test</a>
</asp:Content>


</asp:Content>
