<%@ Master Language="C#" MasterPageFile="/masterpages/Master.master" AutoEventWireup="true" %>
	
<asp:content ContentPlaceHolderId="Main" runat="server">
  <div id="body" class="page wrapper markdown-syntax">
  <div style="margin-top: 25px;">
      <umbraco:Macro Alias="Breadcrumb" runat="server"></umbraco:Macro>
  </div>
    
  <h1><umbraco:Item field="pageName" runat="server"></umbraco:Item></h1>
  
  
  <umbraco:Item field="bodyText" runat="server"></umbraco:Item>
  
  </div>
</asp:content>