<%@ Master Language="C#" MasterPageFile="~/masterpages/Wiki.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderId="Main" runat="server">
<div id="body" class="page markdown-syntax">
	<div style="padding-top: 25px;"> 
	  <umbraco:Macro Alias="Breadcrumb" runat="server"></umbraco:Macro>  
	</div>
	<umbraco:Item field="bodyText" runat="server" />
</div>
  
</asp:Content>