<ul class="stepNavigation">
    <li class=""><a href="?editorStep=details&amp;id=@Request["id"]">Package Details</a></li>
    <li class="current"><a href="?editorStep=files&amp;id=@Request["id"]">Package Files</a></li>
    <li class=""><a href="?editorStep=screenshots&amp;id=@Request["id"]">Screenshots</a></li>
    <li class=""><a href="?editorStep=complete&amp;id=@Request["id"]">Creation Complete</a></li>
</ul>