.dataTable
{
	width:100% !important;
	table-layout: auto;
	border-collapse: collapse;
	border:#ccc 1px solid;
}
/*Header and Pager styles*/
.dataTable thead tr
{
    background-image: url(../images/HeaderWhiteChrome.jpg);
    background-position:center;
    background-repeat:repeat-x;
    background-color:#fff;
	border-bottom:solid 1px #ccc;
}
.dataTable th
{
    padding: 5px;
    color: #333;
    text-align:left;
}


/*RowStyles*/
.dataTable td
{
    padding: 5px;
    border-right: solid 1px #ccc;
}

.dataTable .borderTop
{
    border-bottom: solid 1px #ccc;
}

.dataTable .right{
	text-align:right;
}