/* GENERAL STYLES */
body,html{padding: 10px !Important; margin: 0px !Important; padding: 10px; background: white; background-image: none !Important;}
#closeHandle{display: none !Important;}

#header{font-size: 14px; font-weight: bold; color: rgb(153, 153, 153); margin-bottom: 7px;}

#header img{display: none !Important;}
img.gradient{display: none !Important;}
#theForm{margin-top: -15px; width: 100%; position: relative;}
#Table1{width: auto !Important; width: 100%; display: block; margin: 0px;}

#profileInfo{font-size: 10px; position: absolute; right: 10px; top: 10px; color: #999;}
.propertyPane{padding: 10px; background-repeat: repeat-x}

a{color: black;}

body {
   margin: 2px
}

#body{margin-top: 50px;}

.repoBox{display: block; clear: both; padding: 10px; border-bottom: 1px solid #ccc; margin-bottom: 15px;}
.noborder{border: none !Important;} 
h4{margin-top: 0px; margin-bottom: 15px; font-size: 15px;}
.gradient{background-repeat: no-repeat;}

#header{position: absolute; top: 10px; right: 15px;}
#profile{text-align: right; font-size: 10px;}
#profile input{width: 200px; margin-left: 15px;}


.deliLeft{
  
  width: 200px; /*Width of left column*/
  position: absolute;   
}

.deliRight
{
  float: none !Important;
  margin-left: 230px !Important;
  width: auto !Important;
}
a.viewAll{top: 14px !Important;}



.deliNav{background: none !Important; padding-left: 0;}
.deliNav a:hover{text-decoration: underline !Important;}


/* Project page */



/*MOVE STUFF */
#breadcrumb{position: absolute; top: 20px; left: 10px; margin: 0px; margin-top: -10px !Important; padding: 4px; list-style: none; font-size: 11px; color: #333; display: block; margin-bottom: 10px;}
#breadcrumb li{display: inline; padding-right: 5px; margin: 0px;}
#breadcrumb li a{color: #999; padding-right: 3px;}

/*HIDE STUFF*/
h1{display: none !Important;}
.options{display: none !Important;}
.deliFeatureBox{display: none !Important;}
#projectOwner{display: none !Important;}


/*TAGCLOUD*/
#tagCloud
{
    margin-top: 10px;
    padding:10px;
    margin-bottom:10px;
    text-align:justify;
}

#tagCloud A
{
    text-decoration:none;
    margin-left:5px;
    margin-right:5px;
    font-family:Verdana, Arial;
    text-transform:lowercase;
    color: #8a8a8a;
}

#tagCloud A:hover, #tagCloud a.current
{
    color:#000;
    text-decoration:underline;
}

#tagCloud A.weight1
{
    font-size: 2em;
    font-weight:bolder;
}
#tagCloud A.weight2
{
    font-size:1.7em;
    font-weight:bolder;
}
#tagCloud A.weight3
{
    font-size: 1.4em;
    font-weight:bolder;
}
#tagCloud A.weight4
{

    font-size: 1.1em;
}
#tagCloud A.weight5
{
    font-size: 0.8em;
}

#tagCloud span
{
    font-size: 10px !Important; 
    color: #595a5a!Important; 
    font-weight: normal  !Important; 
}


/* CLEAR FIX */
clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}




































/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
