<configuration>
    <!-- This section configures on what property reputation points are found -->
    <reputation>
        <!-- How Many points the member have earned in total-->
        <totalPointsAlias>reputationTotal</totalPointsAlias>
        <!-- How many points the member have currently (points could have been lost due to spam) -->
        <currentPointsAlias>reputationCurrent</currentPointsAlias>
    </reputation>

    <!-- Configures the different types of actions and how much they "cost/make" to perform 
        and a minimum current reputation level to perform them -->
    <!-- Voting and tagging relies on these actions, so if a vote uses the same alias, it will use the logic of the actions cost/minimum-reputation score -->

    <!-- Cost: the rep points it costs to perform action, if negative, the user will actually be rewarded fore performing action -->
    <!-- Reward: the points award to the authors rep account (owner of wiki page f.ex.), if negative, the user will loose rep points -->
    <!-- Weight: the weight of the action for the item itself, so actions can both be negative and positive for the rating of an item.. 
        Usually it's just 1, but admins could perform actions that has a higher weight like a -10000 could kill a page's score.. -->

    <!-- Type is the alias of the location the score will be stored, topic= powersTopic table -->

    <actions>
        <action type="topic" alias="NewTopic" performerReward="1" receiverReward="0" weight="0" minReputation="0" />
        <action type="topic" alias="LikeTopic" performerReward="1" receiverReward="1" weight="1" minReputation="70" />
        <action type="topic" alias="DisLikeTopic" mandatoryComment="true" performerReward="0" receiverReward="-1" weight="-1" minReputation="70" />

        <action type="comment" alias="NewComment" performerReward="1" receiverReward="0" weight="0" minReputation="0" />
        <action type="comment" alias="LikeComment" performerReward="1" receiverReward="1" weight="1" minReputation="70" />
        <action type="comment" alias="DisLikeComment" mandatoryComment="true" performerReward="1" receiverReward="-1" weight="-1" minReputation="70" />
        <action type="comment" alias="TopicSolved" performerReward="10" receiverReward="20" weight="100" minReputation="0" />

        <action type="wiki" alias="WikiUp" performerReward="1" receiverReward="0" weight="1" minReputation="70" />
        <action type="wiki" alias="WikiDown" performerReward="0" mandatoryComment="true" receiverReward="0" weight="-1" minReputation="70" />

        <action type="project" alias="ProjectUp" performerReward="1" receiverReward="5" weight="1" minReputation="70" />
        <action type="project" alias="ProjectDown" mandatoryComment="true" performerReward="0" receiverReward="0" weight="-1" minReputation="70" />

        <action type="projectVersion" alias="ProjectVersionVote" performerReward="1" recieverReward="0" weight="1" minReputation="0"/>
        
    </actions>

    <buddha>
        <folder>/upowers</folder>
        <types>topic,comment,wiki,project</types>
        <timespans>
            <timespan>28</timespan>
            <timespan>365</timespan>
        </timespans>
    </buddha>

    <karma total="32323" days28="232323" days365="232323">
        <action type="topic">
            <received total="2626" days28="232" days365="2323" >
                <entry id="4699" points="5" datetime="2388273" />
                <entry id="23443" points="-1" datetime="2388273" />   
            </received>
            <performed total="32232">
                
            </performed>
        </action>
    </karma>
    
</configuration>