<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- these global settings will be passed together with the notification specific settings -->
  <global>
    <conn><![CDATA[server=.\sqlexpress;database=databae;user id=user;password=password; Min Pool Size=5;Max Pool Size=500;Connect Timeout=10;]]></conn>
    <smtp>mx01.fab-it.dk</smtp>
    <domain>dev.our.umbraco.org</domain>
    <from>
      <name>Our umbraco</name>
      <email>robot@umbraco.org</email>
    </from>
  </global>
  
  <sheduled>
    <notification name="MarkAsSolutionReminder" interval="360000"
                  assembly="NotificationsCore"
                  type="NotificationsCore.NotificationTypes.MarkAsSolutionReminder">
      <subject>Did you find a solution?</subject>
      <body>Be sure to spread some karma...
Did you find a solution to your '{0}' topic?
Mark a reply as the solution.
Go to your topic here {1}



----
Don't want to get these notifications? Simply update your profile on our.umbraco.org
      </body>
    </notification>
  </sheduled>

  <instant>

    <notification name="VoteForProjectReminderSinglee"
              assembly="NotificationsCore"
              type="NotificationsCore.NotificationTypes.VoteForProjectReminderSingle">
      <subject>Don't forget to spread some karma</subject>
      <body>
        You recently downloaded the '{0}' project.
        Go to the project here {1}


        ----
        Don't want to get these notifications? Simply update your profile on our.umbraco.org
      </body>
    </notification>
    
    <notification name="MarkAsSolutionReminderSingle"
              assembly="NotificationsCore"
              type="NotificationsCore.NotificationTypes.MarkAsSolutionReminderSingle">
      <subject>Did you find a solution?</subject>
      <body>Be sure to spread some karma...
Did you find a solution to your '{0}' topic?
Mark a reply as the solution.
Go to your topic here {1}


        ----
        Don't want to get these notifications? Simply update your profile on our.umbraco.org
      </body>
    </notification>
    <notification name="NewTopic"
                  assembly="NotificationsCore"
                  type="NotificationsCore.NotificationTypes.NewForumTopic">
      <subject>New topic in '{0}' forum</subject>
      <body>Somebody just added a new topic to the '{0}' forum.
View it here {1}
      
   
  
----
You get this notification because you are subscribed to the '{0}' forum notifications. 
You can unsubscribe from your profile on our.umbraco.org
      </body>
    </notification>

    <notification name="NewComment" 
                  assembly="NotificationsCore" 
                  type="NotificationsCore.NotificationTypes.NewForumTopicComment">
      <subject>New reply on forum topic '{0}'</subject>
      <body>Somebody just added a new reply to the '{0}' topic.
View it here {1}.



----
You get this notification because you are subscribed to the '{0}' topic notifications.
You can unsubscribe from your profile on our.umbraco.org
      </body>
    </notification>
  </instant>
  
</configuration>