@{
    IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
    var model =  CurrentPage.Ancestors().Where(a => a.Level > 1 && a.GetPropertyValue<bool>
        ("umbracoNaviHide") == false)
        .OrderBy(a => a.Level)
        .ToList();
}
<div class="utilities">
    <ul id="breadcrumb">
        <li>
            <a href="/">Our</a>
        </li>
        @foreach (var page in model)
        {
            <li><a href="@page.Url">@page.Name</a></li>
        }
    </ul>
    <div class="utility-actions">
        <a href="/packages" id="github-issue-link" class="button green tiny" target="_blank">Browse packages</a>
    </div>
</div>