@using Umbraco.Web
@inherits OurUmbraco.Our.Models.OurUmbracoTemplatePage

<ul class="level-2">
    @foreach (var childPage in Model.Content.Children().Where(
        x => x.DocumentTypeAlias == "ProjectGroup" 
        && x.GetPropertyValue<bool>("umbracoNaviHide") == false))
    {
        <li class="param-@childPage.Name.Replace(" ", "")">
            <h4><a href="?category=@childPage.Name">@childPage.Name</a></h4>
        </li>
    }
    <li class="param-uaas"><h4><a href="?category=uaas">Umbraco Cloud</a></h4></li>
</ul>