<div class="note">
    <div>
        <p>Want to learn more about the package initiative?</p>

        <a href="/about-packages">Package initiative</a><a href="/about-packages#package-newsletter">Sign up for newsletter</a><a href="/documentation/Extending/Packages/">Documentation</a>
    </div>
</div>