// Hides an element, but keeps it accessable to screen readers.
.audio-only {
    position: absolute;
	overflow: hidden;
	padding: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	clip: rect(0, 0, 0, 0);
}