.avatar {
    flex: 0 0 23%;
    margin-right: 20px;

    @media (min-width: $md) {
        flex: 0 0 15%;
    }

    img {
        width: 100%;
        max-width: 112px;
        height: auto;
    }
}