.banner {
    display: flex;
    justify-content: center;

    &+& {
        margin-top: 20px;
    }

    img {
        max-width: 100%;
    }
}

@media(min-width: $md) {
    #banners {
        padding: 20px;
    }

    .banner {
        margin-top: 20px;

        &+& {
            margin-top: 40px;
        }
    }
}