.markdown-syntax{


  a {
   

    &.absent {
      color: #cc0000;
    }
  

    &.anchor {
      display: block;
      padding-left: 30px;
      margin-left: -30px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    } 
  }
   
  


  h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
    margin-top: 1em;
    color: $color-headline;
  }
   
  

  h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
    background: url("assets/images/documentation/para.png") no-repeat 10px center;
    text-decoration: none;
  }
   
  

  h1 tt, h1 code {
    font-size: inherit;
  }
   
  

  h2 tt, h2 code {
    font-size: inherit;
  }
   
  

  h3 tt, h3 code {
    font-size: inherit;
  }
   
  

  h4 tt, h4 code, h4 a {
    font-size: inherit;
  }
   
  

  h5 tt, h5 code {
    font-size: inherit;
  }
   
  

  h6 tt, h6 code {
    font-size: inherit;
  }

  

  * + h2 {
    margin-top: 3rem;
  }

  

  * + h3, * + h4 {
    margin-top: 2rem;
  }

  

  img {
    margin: 1.5rem 0;
  }

  

  p {
    margin: 10px 0;

    line-height: 1.5;

    word-break: break-word;
    color: $color-text;
  }

  

  li {
    padding: 0 0 3px 0;
    color: $color-text;
  }
   
  

  h1 {
    font-size: 2.1rem;
  }
   
  

  h2 {
    font-size: 1.8rem;
  }
   
  

  h3 {
    font-size: 1.6rem;
  }
   
  

  h4 {
    font-size: 1.4rem;
  }
   
  

  h5 {
    font-size: 1.2rem;
  }
   
  

  h6 {
    font-size: 1.1rem;
  }
   
  

  blockquote, ul, ol, dl, table, pre {
    margin: 0 0 1rem;
  }
   
  

  hr {
      border-top: 1px whitesmoke solid;
      margin: 3em 0;
      color: #871A1A;
      height: 0px;
      padding: 0;
  }
   
  
   pre { 

      a{ 
        color:$color-white;

      } 
   }

  body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  

  body > h1:first-child {
    margin-top: 0;
    padding-top: 0; 
  }
  


  body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
  }
  


  body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
  }
   
  

  a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
  }
   
  

  h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
    margin-top: 0;
  }
   
  

  li p.first {
    display: inline-block;
  }
   
  

  ul, ol {
    padding-left: 30px;
  }
   
  

  ul :first-child, ol :first-child {
    margin-top: 0;
  }
   
  

  ul :last-child, ol :last-child {
    margin-bottom: 0;
  }
   
  

  dl {
    padding: 0;
  }
  


  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
  }
  


  dl dt:first-child {
    padding: 0;
  }
  


  dl dt > :first-child {
    margin-top: 0;
  }
  


  dl dt > :last-child {
    margin-bottom: 0;
  }
  


  dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
  }
  


  dl dd > :first-child {
    margin-top: 0;
  }
  


  dl dd > :last-child {
    margin-bottom: 0;
  }
   
  

  blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777; }
  


  blockquote > :first-child {
    margin-top: 0;
  }
  


  blockquote > :last-child {
    margin-bottom: 0;
  }
   
  

  table {
    padding: 0; 
    

    tr {
      border-top: 1px solid #cccccc;
      background-color: white;
      margin: 0;
      padding: 0;

      
      &:nth-child(2n) {
        background-color: #f8f8f8;
      }


      th {
        font-weight: bold;
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px;
      }


      td {
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px;
      }

      th, td {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  
   
  img {
    max-width: 100%;
  }
   
  span.frame {
    display: block;
    overflow: hidden;
  }
  span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
  }
  span.frame span img {
    display: block;
    float: left;
  }
  span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
  }
  span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
  }
  span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
  }
  span.align-center span img {
    margin: 0 auto;
    text-align: center;
  }
  span.align-right {
    display: block;
    overflow: hidden;
    clear: both; }
  span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
  }
  span.align-right span img {
    margin: 0;
    text-align: right;
  }
  span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left; }
  span.float-left span {
    margin: 13px 0 0;
  }
  span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
  }
  span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
  }
  
  code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
  }

  code, tt {
    margin: 0 2px;
    padding: 1px 5px;
    white-space: pre-wrap;
    border: 1px solid rgba($color-space, .44);
    background-color: #fff;
    border-radius: 3px;
    font-size: .9rem;
  }
   
  pre {
    overflow: auto;
    display: block;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-color: $color-markdown-bg;
    color: white;
    font-size: .9rem;
    line-height: 1.4em;
    background-clip: padding-box;
    padding: 20px 30px;
    white-space: pre;
    margin: 20px -15px;

    @media (min-width: $md) {
      margin: 20px -30px;
    }

    code {
      margin: 0;
      padding: 0;
      white-space: pre;
      border: none;
      background: transparent;
    }

    code, tt {
      background-color: transparent;
      border: none;
    }
  }
}

.documentation {
  .markdown-syntax pre {
    margin: 20px 0;
  }
}


.markdown-syntax .highlight {

    &.csharp {
        color: #333;
        font-size: 12px;
        line-height: 16px;
        .identifier { color: #dcdcaa; }
        .keyword { color: #569cd6; }
        .comment { color: #6a9955; }
        .string { color: #ce9178; }
        .constant { color: #569cd6; }
    }

    &.xml {
        color: #333;
        font-size: 12px;
        line-height: 16px;
        pre { color: #858585; }
        .cdata { color: #ce9178; }
        .cdatavalue { color: #ce9178; }
        .element { color: #569cd6; }
        .attribute { color: #8cdcfe; }
        .string { color: #ce9178; }
        .quot { color: #ce9178; }
        .comment { color: #6a9955; }
    }
    
    &.javascript {
        color: #333;
        font-size: 12px;
        line-height: 16px;
        .keyword { color: #569cd6; }
        .constant { color: #0086b3; }
        .string { color: #ce9178; }
        .comment { color: #6a9955; }
    }
    
    &.json {
        color: #333;
        font-size: 12px;
        line-height: 16px;
        .keyword { color: #a71d5d; }
        .constant { color: #b5cea8; }
        .string { color: #ce9178; }
        .comment { color: #6a9955; }
    }

}
