.public-member {
	font-size: .9rem;
	line-height: 1.5;
	color: $color-text;
	margin-top: 2rem;

	.forum-thread-text{
		width: 360px;
		@media (max-width: $xs) {
			width: 300px;
		}
	}

	.member-details {
		display: flex;
		align-items: center;

		img {
			border-radius: 50%;
			max-width: 112px;
			min-width: 112px;
			height: auto;
		}

		h3 {
			margin: 0;
			font-size: 1.2rem;
			line-height: 1.3;
			color:  $color-headline;
			font-weight: bold;
		}

		small {
			line-height: 1.3;
			color: darken($color-space, 25%);
			font-size: 1.15rem;

			font-weight: bold;

			margin: 0;
		}

		a {
			text-decoration: none;
		}



		.text {
			margin: 0 0 0 1rem;

			small {
				font-size: 1rem;
				font-weight: normal;
				color: darken($color-space, 15%);
			}
		}


		.roles {
			display: flex;
			flex-wrap: wrap;
			flex: 0 0 100%;

			span {
				font-size: .85rem;
				margin: 0 2% 2% 0;
			}
		}
	}




	h3 {
		margin: 0 0 .5rem;
		font-weight: bold;

		font-size: 1.15rem;
	}



	.member-bio {
		margin-top: 1rem;

		p {
			font-size: 1rem;
			line-height: 1.4;
			color: darken($color-space, 20%);
		}
	}



	.category {
		margin-top: .5rem;

		span.cat {
			font-size: .75rem;
		}
	}


	.forum-thread {
		.row {
			display: flex;

			align-items: center;
		}

		&-text {
			h3 {
				font-size: 1rem;

				@media (min-width: $md) {
					font-size: 1.1rem;
				}
			}
		}
	}

    .solved {
        background: rgba($color-our, .23);
        border: 2px solid rgba($color-our, .66);
    }

	.goto {
		font-size: 1rem;

		&:hover {
			text-decoration: none;
		}
	}
}




.social-links {
	display: flex;
	a {
		border: 1px solid #7F9499;
		border-radius: 3px;
		background: #fff;
		display: flex;
		margin-top: 5px;
		margin-right: 5px;
		font-size: 13px;
		font-weight: 400;
		color: #445255;
		padding: 1px 6px;
		text-decoration: none;
		i {
			margin: 2px 4px 0 0;
		}
		&:hover,
		&:focus {
			background: #2EB369;
			color: #fff;
			font-weight: 700;
			border-color: #2EB369;
		}
	}
}