.package-detail {
	padding-top: 0;
	position: relative;

	.vote {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		margin-bottom: 20px;

		i {
			font-size: 1.1rem;
			color: rgba(#000, .3);
			display: inline-block;
			margin-right: 5px;

			&.liked {
				color: #f64051;
			}
		}

		&:hover {
			cursor: pointer;

			i {
				color: #f64051;

				&.liked {
					color: rgba(#000, .3);
				}
			}

			span {
				color: $color-text;
			}
		}

		span {
			font-size: .9rem;
			color: rgba(#000, .4);
		}
	}

	.markdown-syntax pre {
		margin: 0 0 1rem;
	}

	.package-forum-activity {
		overflow: hidden;

		.goto {
			text-align: right;
			font-size: .9rem;
			color: $color-text;
			float: right;

			&:hover {
				text-decoration: none;
				color: $color-headline;
			}
		}
	}

	.forum-thread {
		padding: 10px;

		img {
			max-width: 60px;
			height: auto;
		}

		.forum-thread-text {
			margin-top: .7rem;

			h3 {
				font-size: .9rem;
				color: $color-headline;
			}

			p {
				color: $color-text;
			}
		}
	}
}

.package-detail-sidebar {
	font-size: .9rem;
	line-height: 1.5;
	color: $color-text;
	margin-top: 2rem;

	@media (min-width: $md) {
		margin-top: 0;
	}

	.button {
		max-width: 80%;
		padding: 5px 10px;
		font-size: .9rem;
		margin: .5rem 0 2.5rem;

		i {
			font-size: 1.5rem;
			position: relative;
			display: inline-block;
			top: 4px;
			left: 5px;
		}
	}

	.button small {
		color: white;
		font-size: .7rem;
	}

	h2, h3, strong, span {
		color: $color-headline;
	}

	h2 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	h3 {
		margin-bottom: .3rem;
		font-size: 1.08rem;
		font-weight: bold;
	}

	ul {
		margin-bottom: .8rem; 
	}

	li {
		list-style: none;
		font-size: .9rem;
		padding: .15rem 0 0;

		&:first-child {
			padding: 0;
		}
	}

	small {
		color: $color-text;
	}

	span, strong {
		font-weight: bold;
	}

	span {
		padding-right: 3px;
	}

	.package-creator {
		position: relative;


		h3 {
			margin: 0 0 1rem 0;
		}

		.row {
			margin-top: 0;
			margin-bottom: 0;
		}

		img {
			display: inline-block;
			border-radius: 50%;
			max-width: 80px;
			min-width: 80px;
			height: auto;
			vertical-align: middle;
		}

		.package-creator-information {
			h3 {
				margin: 0;
				font-size: 1rem;
				color:  rgba(#000, .8);

				a {
					text-decoration: none;

					&:hover {
						color: $color-our;
					}
				}
			}

			small {
				font-size: .8rem;
				transform: translate(0, -3px);
			}

			.text {
				margin: 0 0 0 .5rem;
				display: inline-block;
				vertical-align: bottom;

				a {
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	.package-creator, .package-compatibility {
		border-bottom: 1px solid whitesmoke;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}
}

.package-compatibility-versions {
	
	.versions {
		margin-bottom: 1rem;
	}

	span {
		display: block;
		font-weight: normal;
	}
	
	.report-compat-item {
		float: right;
		clear: both;
	}

	strong {
		margin-right: 5px;
	}
}

.package-detail-content {

	h3 {
		display: block;
		margin-bottom: .4rem;
		font-size: 1.2rem;
	}

	.package-detail-description {
		margin-bottom: 2rem;

		h1 {
			font-size: 2.1rem;
			line-height: 1.5;
			color: $color-headline;
			margin-bottom: 1rem;
			margin-top: 0;
			max-width: 95%;
			position:relative;
			z-index:1;
			font-weight: bold;
		}

		a {
			&:hover {
				text-decoration: none;
			}
		}

		.hero-image {
			max-width: 100%;
			height: auto;
			margin-bottom: 1.5rem;
		}

		p, li {
			font-size: 1rem;
			line-height: 1.5;
			color: $color-text;

			+ * {
				margin-top: 1rem;
			}

			+ h3 {
				margin-top: 1.7rem;
			}

			&.hero {
				font-size: 1.25rem !important;
				line-height: 1.4;
				color: $color-headline;
				margin-bottom: 1.5rem;
			}
		}

		ul {
			margin-left: 40px;

			li {
				margin: 0;
			}
		}

		h3 {
			display: block;
			margin-bottom: .4rem;
			font-size: 1.2rem;
		}
	}

	.package-detail-screenshots {
		overflow: hidden;

		a {
			margin-bottom: .5rem;
			display: block;
			position: relative;
			width: 23%;
			max-height: 100px;
			overflow: hidden;
			margin-right: 2%;
			float: left;
			border: 1px solid whitesmoke;

		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.tabs{
		margin: 0px;
		padding: 0px;
		list-style: none;
		margin-top: 6rem;

		li {
			background: none;
			color: $color-headline;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
			font-size: 1rem;

			&.current{
				background: #ededed;
				color: $color-headline;
			}

			&:hover {
				opacity: .8;
			}
		}
	}

	.tab-content{
		display: none;
		background: #ededed;
		padding: 30px;
		margin-bottom: 6rem;

		h3 {
			font-size: 1.1rem;
			margin-bottom: 1rem;
			color: $color-headline;
		}

		p {
			font-size: 1rem;
			color: $color-text;
		}

		span {
			color: rgba(#000, .4);
			font-size: .8rem;
			display: block;
			margin-top: .2rem;
		}

		&.current{
			display: inherit;
		}
	}
}

.package-misc {
	.search-all-results {
		border: none;

		li {
			border: none;
			padding: 10px;
		}

		.type-context {
			padding-left: 10px;
		}
	}
}
