.package-badge {
	font-size: .7rem;
	overflow: hidden;
	font-weight: bold;
	color: #fff;

	span {
		background: lighten(#343434, 8%);
		padding: 5px 7px;
		margin: 0;
		display: inline-block;
		float: left;

		&.package-name {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		&.package-number {
			background: $color-green;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}

	&.blue {
		.package-number {
			background: $color-blue;
		}
	}

	&.green {
		.package-number {
			background: $color-green;
		}
	}

	&.red {
		.package-number {
			background: $color-red;
		}
	}

	&.orange {
		.package-number {
			background: $color-orange;
		}
	}

	&.our {
		.package-number {
			background: $color-our;

			color: #000;
		}
	}
}
