.utilities {
	color: #898989;
	font-size: .9rem;
	margin: 0 0 20px;
	padding: 0 10px;
	text-align: center;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	flex-direction: column;

	@media (min-width: $md) {
		padding: 10px 0;
		text-align: left;

		flex-direction: row;
	}

	#breadcrumb {
		margin: 0 0 20px;

		@media (min-width: $md) {
			margin: 0;
		}
	}

	.utility-actions {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.button {
			margin-bottom: .5rem;

			@media (min-width: $md) {
				margin-bottom: 0;
			}
		}
	}

	.container {
		padding: 0;

		.row {
			margin: 0;
		}
	}
}