.utilities {
	color: #898989;
	font-size: .9rem;
	padding: 0 10px;
	text-align: center;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	flex-direction: column;

	@media (min-width: $md) {
		margin: 0 0 20px;
		padding: 10px;
		text-align: left;

		flex-direction: row;
	}

	#breadcrumb {
		display: block;
		margin: 0;
		line-height: 1.3;

		@media (min-width: $md) {
			margin: 0;
			flex: 1 0 auto;
		}
	}

	.utility-actions {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		flex: 1 1 auto;

		margin: 1rem 0 .5rem;

	
		@media (min-width: $md) {
			margin: 0 0 0 auto;
		}

		.button {
			margin-bottom: .5rem;

			@media (min-width: $md) {
				margin-bottom: 0;
			}
		}
	}

   .utility-actions.thread-bottom {
        @media (min-width: $md) {
			margin: 0 0 0 auto;
            
		}
    }


	.container {
		padding: 0;

		.row {
			margin: 0;
		}
	}
}