.videos-list h1 {
    font-size: 2.1rem;
}

.videos-list .videos-list-meta {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.videos-item {
    display: flex;
}

.videos-item + .videos-item {
    margin-top: 30px;
}

.videos-thumbnail {
    min-width: 350px;
    width: 350px;
    margin-right: 10px;
}

.videos-details {
    flex-grow: 1;
}

.videos-meta {
    margin: 5px 0;
    font-size: 12px;
}

.videos-tags {
    display: flex;
    flex-wrap: wrap;
}

.videos-tag {
    text-align: center;
    right: 25px;
    color: white;
    font-weight: 700;
    background: $color-green;
    border-radius: 15px;
    z-index: 5;
    margin-top: 3px;
    margin-right: 3px;
    font-size: 11px;
    padding: 2px 7px;
}

.videos-tags + .videos-description {
    margin-top: 5px;
}

.videos-details {
    order: 2;
}

.videos-thumbnail {
    display: block;
    position: relative;
    height: 200px;
    background-size: cover;
    order: 1;
}

.videos-thumbnail-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
}

.videos-thumbnail iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

a.videos-thumbnail:hover .videos-thumbnail-overlay {
    display: block;
}

.videos-thumbnail-overlay i {
    color: white;
    /* line-height: 200px; */
    position: absolute;
    top: 50%;
    font-size: 50px;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    margin-top: -25px;
}

.videos-thumbnail-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 750px) {

    .videos-item {
        display: block;
    }

    .videos-thumbnail {
        padding-top: 50%;
        margin-top: 10px;
        min-width: initial;
        width: initial;
    }
}
