@using OurUmbraco.Documentation
@{
    var docsUpdater = new DocumentationUpdater();
    var sitemap = docsUpdater.DocumentationSiteMap();
    const string root = "/documentation";
}
@functions{
    public static string IsActive(string path, string classname = "active")
    {
        return HttpContext.Current.Request.Url.PathAndQuery.ToLower().StartsWith(path.ToLower()) ? classname : string.Empty;
    }
}

@foreach (var item in sitemap.Directories)
{
    if (item.Name == "Articles")
    {
        if (item.HasChildren)
        {
            <ul class="level-2 @IsActive(root + item.Path, "open")">
                @foreach (var itemChild in item.Directories)
                {
                    <li class=" @IsActive(root + itemChild.Path, "active open")">
                        <a href="@(root + itemChild.Path)/"><h4>@itemChild.Name</h4></a>
                    </li>
                }
            </ul>
        }
    }
}