@using Umbraco.Web.Models
@model OurUmbraco.Community.Banner.Models.BannersViewModel

@if (Model.Collection.Any())
{
    foreach (var banner in Model.Collection)
    {
        <div class="alertbar__white">
            <a href="@banner.Link" target="_blank" rel="noreferrer noopener">
                <img src="@banner.Image.GetCropUrl(height: 250, width: 1000, imageCropMode: ImageCropMode.Max)" alt="@banner.Name" />
            </a>

            @(banner.GetPropertyValue<IHtmlString>("bodyText"))
        </div>
    }
}