@using Umbraco.Web.Models
@model OurUmbraco.Community.Banner.Models.Banners
@{
    if (Model?.Collection == null)
    {
        return;
    }

    var banners = Model.Collection.Where(x => x.All || x.Countries.InvariantContains(Model.Location.Country) || x.Continents.InvariantContains(Model.Location.Continent)).ToList();
}

@if (banners.Any())
{
    foreach (var banner in banners)
    {
        <div class="alertbar__white">
            <a href="@banner.Link" target="_blank" rel="noreferrer noopener">
                <img src="@banner.Image.GetCropUrl(height: 150, width: 1000, imageCropMode: ImageCropMode.Max)" alt="@banner.Name" />
            </a>
            @(banner.GetPropertyValue<IHtmlString>("bodyText"))
        </div>
    }
}