<section class="docs">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="beginners">
                    <a href="/documentation/Getting-Started/"><img src="/documentation/images/icon-getting-started.png" alt=""></a>
                    <h2>Getting started</h2>
                    <p>All the basics of using Umbraco. <br>From your first local installation, to creating a simple form.</p>

                    <a class="button transparent" href="/documentation/Getting-Started/">How to get started &rarr;</a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="advanced">
                    <a href="/documentation/Implementation/"><img src="/documentation/images/icon-implementation.png" alt=""></a>
                    <h2>Implementation</h2>
                    <p>Get an overview of the Umbraco pipeline.<br>Learn how the routing, controllers and services work.</p>

                    <a class="button transparent" href="/documentation/Implementation/">Go to implementation &rarr;</a>
                </div>
            </div>

        </div>
    </div>
</section>