@inherits Umbraco.Web.Macros.PartialViewMacroPage

<section class="forum">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h1 class="text-center">Forum Activity</h1>
                <p>
                    Recent activity in the forums, where people are helping each other with current problems.
                </p>
            </div>
            <div class="col-md-12">
                <small>Recent posts</small>
            </div>

            @Umbraco.RenderMacro("ForumLatestActivity")


            <div class="col-md-12 goto-forum">
                <a class="button green" href="/forum">Go to Forum &rarr;</a>
            </div>

        </div>
    </div>
</section>